// General
body,
input,
textarea,
select,
button {
	font: 300 .875em $font-din; // weight size/line-height family


	@media ( min-width: 640px ) {
		font-size: 1em;
	}
}

// Paragraph
p {
	line-height: 1.5;
}


a {
	// @todo make this into a variable
	transition: color 0.2s ease-in;
	color: $rc-red;

	&:hover, &:focus {
		color: $rc-red--hover;
		text-decoration: none;
	}
}