@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Class Headings</h1>
			<p>Wherever possible, when a Heading tag is used, an accompanying heading class must be applied to set it's size to one of the six predefined levels. <strong>These classes should be used in any Component, Feature or Template to set the size of a Heading.</strong></p>

			<p>This is due to the HTML5 document outline algorithm allowing multiple content roots on any HTML5 marked up webpage. This means, in short, that multiple <code class="language-html">&lt;h1&gt;</code> tags can be used if separated by the appropriate HTML5 semantic sectioning elements.</p>

			<p>The use of an <code class="language-scss">rc-head--[value]</code> class will set the size of any Heading tag (or indeed any element with that class applied to it) to the corresponding standard Heading size.</p>

			<p>As is demonstrated below, the same 6 Heading tags are displayed as on the <a href="/01-components/typography/headings-default.html">Default Headings page</a>, but with a different <code class="language-scss">rc-head--[value]</code> class applied in order to change their appearance. In this case, we've effectively reversed the sizes of the Heading levels; <code class="language-scss">&lt;h1&gt;</code> is shown at the size of a <code class="language-scss">&lt;h6&gt;</code>, and so on.</p>

			<div class="gs-present">
				@@loop("./01-components/typography/_heading-class.html", "./01-components/typography/_headings.json")
			</div>

			<br>

			<pre><code class="gs-code language-html">
				@@loop("./01-components/typography/_heading-class.html", "./01-components/typography/_headings.json")
			</code></pre>

		</div>

	</div>

</div>

@@include('./_site-footer.html')

