@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1>Headings</h1>
				<p>Usage and implementation for Typography within Web Design Language.</p>

				<blockquote>
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>Heading tags, wherever possible, should have an <a href="/01-components/typography/headings-class.html">accompanying Header class</a> applied to them to change their appearance.</p>
					<p>Thanks to the HTML5 document outline algorithm, multiple content roots are available on any HTML5 marked up webpage, therefore, in short, multiple <code class="language-html">&lt;h1&gt;</code> tags can be used.</p>
					<p>In some cases however, such as in a CMS where control over the markup output may be limited, the default heading styles will apply.</p>
				</blockquote>
			</header>

			<h2>Examples</h2>

			<section class="gs-present">
				<header>
					<p>Header tags can be implemented as dispalyed below and will inherit the following default styles.</p>
				</header>

				@@loop("./01-components/typography/_heading-default.html", "./01-components/typography/_headings.json")

				<pre><code class="gs-code language-html">
					@@loop("./01-components/typography/_heading-default.html", "./01-components/typography/_headings.json")
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/typography/_changelog-headings.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')

