@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Paragraph Images</h1>
			<p>Images can be inserted within blocks of paragraph text and positioned so that the text floats around the image. Available classes are:</p>
			<ul class="list--blank list--align">
				<li><code class="language-scss">alignleft</code></li>
				<li><code class="language-scss">alignright</code></li>
				<li><code class="language-scss">aligncenter</code></li>
			</ul>

			<p>These classes are intended strictly for positioning <code class="language-html">&lt;img&gt;</code> and <code class="language-html">&lt;figure&gt;</code> tags around paragraph text and <strong>will not work</strong> when applied to any other element. For positioning any other element or outside the context of positioning images around paragraph text, please use the available grid and layout classes.</p>

			<p>The <code class="language-scss">align[value]</code> rules impose a maximum width on the <code class="language-html">&lt;img&gt;</code> or <code class="language-html">&lt;figure&gt;</code> tag to which it is applied. This is to ensure that text is able to wrap around it.</p>

			<br>
			<br>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<figure class="alignleft">
			  <img src="http://placehold.it/800x600" alt="An awesome picture">	
			  <figcaption>This image is wrapped inside a figure tag with the alignleft class. This is the figcaption.</figcaption>
			</figure>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

		</div>

	</div>

</div>

@@include('./_site-footer.html')

