@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Paragraphs</h1>
			<p>As well as any paragraphs, <code>&lt;p&gt;</code> tags should be wrapped around any text as a default until another tag becomes more approrpriate.</p>

			<p>Media queries can be used to increase the overall size of the default body copy, which is inherited by all paragraphs, but it should not be any smaller than <code class="language-scss">font-size: 0.875em;</code></p>

			<p>Any change in font size should be expressed in <code>em</code> or <code>rem</code> units and not pixels.</p>

			<pre><code class="gs-code language-html">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</code></pre>

		</div>

	</div>

</div>

@@include('./_site-footer.html')

