.card {
	display: flex;
	flex: 0 1 100%;
	position: relative;
	margin-bottom: 1em;
	
	.card__image {
		margin: 0;
		background: center/cover no-repeat;
		flex: 0 0 30%;
		max-width: 200px;
	}

	.card__header {
		align-self: center;
		padding-left: .5em;
	}

	.card__meta, .card__link {
		font-size: .875em;
		margin: 0;
	}

	.card__title {
		font-size: 1em;
		color: inherit;
		font-weight: 300;
		margin: .25em 0;
	}

	// Fallback
	.no-flexbox & {
		display: table;
		width: 100%;

		.card__image, .card__header {
			display: table-cell;
			vertical-align: middle;
		}

		.card__image {
			width: 30%;
		}

		.card__header {
			padding-left: .5em;
		}
	}

	@media ( min-width: 480px ) {
		.card__header {
			padding-top: 1em;
			padding-bottom: 1em;
			padding-left: 1em;
		}

		.card__meta, .card__link {
			font-size: 1em;
		}

		.card__title {
			font-size: 1.125em;
		}
	}

	@media ( min-width: 600px ) {
		.card__header {
			padding-top: 2em;
			padding-bottom: 2em;
		}

		// Fallback
		.no-flexbox & {
			.card__image {
				width: 200px;
			}
			.card__header {
				padding-left: 1em;
			}
		}
	}
}

.card--vertical {
	@media ( min-width: 600px ) {
		display: block;
		color: $rc-medium-grey;
		display: flex;
		flex-direction: column;

		.card__image {
			max-width: 100%;
			width: 100%;
			flex: 0 0 200px;
		}

		.card__header {
			display: flex;
	  	flex-direction: column;
	  	justify-content: space-between;
			flex: 1 0 auto;
			max-width: 100%;
			padding-left: 0;
			padding-top: 1em;
			padding-bottom: 1em;
			text-align: center;
		}

		.card__meta {
			display: none;
		}

		.card__link {
			align-self: center;
			display: inline-block;
			text-decoration: none;
			background-color: $rc-tertiary-light-blue;
			color: #FFFFFF;
			text-transform: uppercase;
			padding: 12px 20px;
			transition: background-color 0.2s ease-in;
			margin-top: 1em;

			&:hover, &:focus {
				background-color: darken( $rc-tertiary-light-blue, 5% );
			}

			&:active {
				background-color: darken( $rc-tertiary-light-blue, 10% );
			}
		}

		.no-flexbox & {
			display: block;

			.card__image, .card__header {
				display: block;
			}

			.card__image {
				width: 100%;
				height: 200px;
			}

			.card__header {
				padding-left: 0;
			}
		}
	}
}

.card--details {
	text-align: center;

	.card__image, .card__link {
		display: none;
	}

	.card__header {
		flex: 1 1 100%;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1.75em;
		height: 1.75em;
		fill: $rc-medium-grey;
	}

	.card__meta, .card__title {
		padding: .5em;
	}

	.card__meta {
		background-color: $rc-light-grey;
		color: $rc-red;
		font-size: 1em;
	}

	.card__title {
		margin: 0;
	}

	@media ( min-width: 480px ) {
		.card__meta {
			font-size: 1.125em;
		}
	}
}



// Groups of Cards
.cards {
	overflow: hidden;

	@media ( min-width: 700px ) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.no-flexbox & {
			display: block;
			@include container();
		}

		&.cards--3 {
			.card--vertical {
				flex: 0 1 32%;
			}

			.no-flexbox & {
				.card--vertical {
					@include gallery( 4 of 12 );
				}
			}
		}

		&.cards--4 {
			.card--vertical {
				flex: 0 1 49%;
			}

			.no-flexbox & {
				.card--vertical {
					@include gallery( 6 of 12 );
				}
			}
		}
	}

	@media ( min-width: 960px ) {
		&.cards--4 {
			.card--vertical {
				flex: 0 1 24%;
			}

			.no-flexbox & {
				.card--vertical {
					@include gallery( 3 of 12 );
				}
			}
		}
	}
}