<div class="cards cards--4">
  @@loop('./02-features/cards/_card.html', [
    { "class": "card--vertical", "image": "http://placehold.it/800x600", "title": "Breed Focus - The Beagle" },
    { "class": "card--vertical", "image": "http://placehold.it/800x1000", "title": "Breed Focus - The Cavalier King Charles Spaniel" },
    { "class": "card--vertical", "image": "http://placehold.it/752x500", "title": "Breed Focus - The Labrador Retriever" },
    { "class": "card--vertical", "image": "http://placehold.it/1200x852", "title": "Breed Focus - The Poodle" },
    { "class": "card--vertical", "image": "http://placehold.it/800x600", "title": "Breed Focus - The Beagle" },
    { "class": "card--vertical", "image": "http://placehold.it/800x1000", "title": "Breed Focus - The Cavalier King Charles Spaniel" },
    { "class": "card--vertical", "image": "http://placehold.it/752x500", "title": "Breed Focus - The Labrador Retriever" },
    { "class": "card--vertical", "image": "http://placehold.it/1200x852", "title": "Breed Focus - The Poodle" }
  ])
</div>