<article class="card">
	<figure class="card__image" style="background-image: url('http://placehold.it/800x600');"></figure>

	<header class="card__header">
		<p class="card__meta">Article</p>
		<h1 class="card__title">Breed Focus - The Beagle</h1>
		<a href="#" class="card__link button">Read Now</a>
	</header>
</article>


<article class="card">
	<figure class="card__image" style="background-image: url('http://placehold.it/800x600');"></figure>

	<header class="card__header">
		<p class="card__meta">Article</p>
		<h1 class="card__title">Breed Focus - Another Post title that's a fair bit longer</h1>
		<a href="#" class="card__link button">Read Now</a>
	</header>
</article>