@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Standard Card</h1>
				<p>Usage and implementation for Cards within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement Cards into your code.</p>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Standard Card</label>
				</header>

				todo

				<pre><code class="gs-code language-html">
				<!-- @todo -->
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/cards/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')