@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Videos</h1>
				<p>Usage and implementation for Videos within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>Videos should be displayed using embed code from a source like YouTube or Vimeo.</p>
					<p>The embed code should be placed inside a predetermined class to ensure the element is responsive.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement Videos into your code.</p>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Default</label>
					<p>A default video embed</p>
				</header>

				Video

				<pre><code class="gs-code language-html"></code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-features/videos/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')