<div class="rc-carousel rc-carousel--gallery rc-carousel--gallery__main">
	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>
</div>
