<div class="rc-carousel rc-carousel--gallery slider-for" id="gallery-main-1">
	<div class="image-gallery" data-thumb="interactive--pager">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery" data-thumb="interactive--pager">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery" data-thumb="interactive--pager">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery" data-thumb="interactive--pager">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery" data-thumb="interactive--pager">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=120&txt=1600%C3%971200&w=1600&h=1200" alt="Alt text">
		</figure>
	</div>
</div>


<div class="rc-carousel rc-carousel--gallery slider-nav" id="gallery-thumbs-1">
	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="Alt text">
		</figure>
	</div>

	<div class="image-gallery">
		<figure class="image-gallery__gallery">
			<img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97800&w=800&h=800" alt="Alt text">
		</figure>
	</div>
</div>
