@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Carousels</h1>
				<p>Usage and implementation for Grid within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement the Carousel into your code.</p>

			<section class="gs-present">
				<header>
					<label class="gs-present__label"></label>
				</header>


				<div class="rc-carousel">

					<div class="hero" data-thumb="interactive--pager">
						<figure class="hero__bg" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=133&txt=1600%C3%97800&w=1600&h=800');"></figure>

						<div class="hero__fg">

							<h1>Heading</h1>
							<p>Strapline</p>
							<a href="#" class="button">Button</a>
						</div>
					</div>

					<div class="hero" data-thumb="interactive--pager">
						<figure class="hero__bg" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=133&txt=1600%C3%97800&w=1600&h=800');"></figure>

						<div class="hero__fg">

							<h1>Heading</h1>
							<p>Strapline</p>
							<a href="#" class="button">Button</a>
						</div>
					</div>

					<div class="hero" data-thumb="interactive--pager">
						<figure class="hero__bg" style="background-image: url('https://placeholdit.imgix.net/~text?txtsize=133&txt=1600%C3%97800&w=1600&h=800');"></figure>

						<div class="hero__fg">

							<h1>Heading</h1>
							<p>Strapline</p>
							<a href="#" class="button">Button</a>
						</div>
					</div>


				</div>

			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-features/carousels/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')