@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Carousels</h1>
				<p>Usage and implementation for Grid within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement the Carousel into your code.</p>

			<section class="gs-present">
				<header>
					<label class="gs-present__label"></label>
				</header>


				<div class="rc-carousel">

					<div class="hero hero__layout--1" data-thumb="interactive--pager">
						<figure class="hero__bg" style="background-image: url();"></figure>

						<div class="hero__fg">
							<div class="hero__section hero__section--img">
								<img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97600&w=800&h=600">
							</div>

							<div class="hero__section hero__section--text">
								<h1 class="hero__title">Is your pet's weight healthy?</h1>
								<p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
								<a href="#" class="button button--icon-arrow-right">Read Article</a>
							</div>
						</div>
					</div>

					<div class="hero hero__layout--2" data-thumb="interactive--pager">
						<figure class="hero__bg" style="background-image: url();"></figure>

						<div class="hero__fg">
							<div class="hero__section hero__section--img">
								<img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
							</div>

							<div class="hero__section hero__section--img">
								<img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
							</div>

							<div class="hero__section hero__section--text">
								<h1 class="hero__title">Mix it up for your pure bred cat</h1>
								<p class="hero__description">Tailored breed-specific nutrition now available in wet.</p>
								<a href="#" class="button button--icon-arrow-right">Read Article</a>
							</div>
						</div>
					</div>

					<div class="hero hero__layout--3" data-thumb="interactive--pager">
						<figure class="hero__bg" style="background-image: url();"></figure>

						<div class="hero__fg">
							<div class="hero__section hero__section--text">
								<h1 class="hero__title">When scratching begins, visit your Vet.</h1>
								<a href="#" class="button button--icon-arrow-right">Read Article</a>
							</div>

							<div class="hero__section hero__section--img">
								<img src="https://placeholdit.imgix.net/~text?txtsize=83&txt=1000%C3%97400&w=1000&h=400">
							</div>
						</div>
					</div>

				</div>

			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-features/carousels/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')