.rc-tooltip {
	position: absolute;
	left: -110%;
	z-index: 1000;
	display: inline-block;
	background-color: $rc-white;
	width: auto;
	max-width: 80%;
	box-shadow: 0 .5em 1em rgba( 0, 0, 0, .1 );

	p {
		margin: 0;
	}

	> p {
		font-size: .875em;
	}

	.rc-tooltip__pad {
		padding: 1em;
	}

	.rc-tooltip__icon {
		float: left;
		line-height: 1;

		svg {
			fill: $rc-red;
			width: 2em;
			height: 2em;
			margin-top: .25em;
			margin-right: 1em;
			margin-bottom: .5em
		}
	}

	.rc-tooltip__title {
		margin: 0;
	}

	.rc-tooltip__arrow {
		position: absolute;
		top: 100%;
		left: 10%;
		width: 0;
		height: 0;
		border-left: .5rem solid transparent;
		border-right: .5rem solid transparent;
		border-top: .5rem solid $rc-white;
	}

	.rc-tooltip__arrow--top {
		top: 0;
		border-top: none;
		border-bottom: .5rem solid $rc-white;
		margin-top: -.5rem;
	}

	.rc-tabs--side {
		font-size: .875em;
	}

	@media ( min-width: 480px ) {
		max-width: 480px;
	}
}






button.rc-tooltip--popout__trigger {
	display: block;
	background-color: $rc-white;
	color: $rc-red;

	&:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 39.5' aria-labelledby='svg-arrow-down-bold' role='img'%3E %3Ctitle id='svg-arrow-down-bold' lang='en'%3Earrow-down-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23E2001A;%7D %3C/style%3E %3Cpath d='M32 39.5h-.1c-1.9 0-3.7-.8-5.1-2.2L2.2 12.7C-.7 9.8-.7 5.1 2.2 2.1c2.9-2.9 7.6-2.9 10.6 0L32 21.4 51.3 2.2c2.9-2.9 7.6-2.9 10.6 0C63.3 3.6 64 5.6 64 7.5s-.7 3.8-2.2 5.3L37.3 37.3c-1.4 1.4-3.3 2.1-5.1 2.2H32z' class='st0' %3E%3C/path%3E %3C/svg%3E");
	}

	&:hover, &:focus {
		background-color: darken( $rc-white, 5% );
	}

	&:active {
		background-color: darken( $rc-white, 15% );
	}
}

.rc-tooltip--popout__popout {
	ul {
		margin-top: 0;
		margin-bottom: 0;
	}

	li {
		margin-bottom: 0;
	}

	button {
		border: none;
	}
}
