.rc-tooltip {
	position: absolute;
	right: 100%;
	z-index: 1000;
	display: inline-block;
	background-color: #FFFFFF;
	padding: .5em 1em;
	max-width: 400px;
	box-shadow: 0 4px 10px rgba( 0, 0, 0, .03 );
	margin: 1em;

	p {
		margin: 0;
	}

	> p {
		font-size: .875em;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		margin-top: -.5rem;
		left: 10%;
		width: 0;
		height: 0;
		border-left: .5rem solid transparent;
		border-right: .5rem solid transparent;
		border-bottom: .5rem solid #FFFFFF;
	}
}