<div class="rc-tooltip" id="rc-tooltip--1" data-tooltip-follow="true">
	<div class="rc-tooltip__arrow"></div>

	<div class="rc-tooltip__pad">
		<div class="rc-tooltip__icon">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" aria-labelledby="title" role="img">
				<title id="title">clock</title>
				<path d="M32 0C14.3 0 0 14.3 0 32s14.3 32 32 32 32-14.3 32-32S49.7 0 32 0zm0 57C18.2 57 7 45.8 7 32S18.2 7 32 7s25 11.2 25 25-11.2 25-25 25zm3.6-26.5V14.4c0-1.9-1.6-3.5-3.5-3.5s-3.5 1.6-3.5 3.5v19l13 13c.7.7 1.6 1 2.5 1s1.8-.3 2.5-1c1.4-1.4 1.4-3.6 0-4.9l-11-11z"></path>
			</svg>
		</div>

		<header>
			<p>Some Title Text that is much much</p>
		</header>

		<p>Some Body Text Lorem ipsum dolo.</p>		
	</div>

</div>

