.rc-tooltip__trigger {
	cursor: help;
}

.rc-tooltip {
	position: absolute;
	right: 100%;
	z-index: 1000;
	display: inline-block;
	background-color: #FFFFFF;
	padding: .5em 1em;
	width: auto;
	max-width: 80%;
	box-shadow: 0 .5em 1em rgba( 0, 0, 0, .1 );

	header {
		margin-bottom: .5em;
	}

	p {
		margin: 0;
	}

	> p {
		font-size: .875em;
	}

	.rc-tooltip__icon {
		float: left;
		line-height: 1;

		svg {
			fill: $rc-red;
			width: 2em;
			height: 2em;
			margin-top: .25em;
			margin-right: 1em;
		}
	}

	.rc-tooltip__arrow {
		position: absolute;
		top: 100%;
		left: 10%;
		width: 0;
		height: 0;
		border-left: .5rem solid transparent;
		border-right: .5rem solid transparent;
		border-top: .5rem solid #FFFFFF;
	}

	.rc-tooltip__arrow--top {
		top: 0;
		border-top: none;
		border-bottom: .5rem solid #FFFFFF;
		margin-top: -.5rem;
	}

	@media ( min-width: 480px ) {
		max-width: 480px;
	}
}