@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Maps</h1>
				<p>Usage and implementation for Maps within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Maps rely on the <a href="https://developers.google.com/maps/documentation/javascript/">Google Maps Javascript API</a>.</p>
				</blockquote>
			</header>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Google Maps API Key</label>
					<p>In order to display a map using the Google Maps Javascript API, and API key must be provided.</p>
					<p><b>Please get in touch with Royal Canin to get access to the official API key.</b></p>
				</header>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Basic Map</label>
				</header>

				<div id="map_royal_canin" class="rc-map"></div>

				<br>

				<pre><code class="gs-code language-html">
					<div id="map_royal_canin" class="rc-map"></div>
				</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Basic Map</label>
				</header>

				<div id="map_first_10" class="rc-map"></div>






				<div id="infobox_royal_canin" class="rc-map__overlay">
					<div id="siteNotice"></div>
					<h1 id="firstHeading" class="firstHeading">Uluru</h1>
					<div id="bodyContent">
						<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large sandstone rock formation in the southern part of the Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) south west of the nearest large town, Alice Springs; 450&#160;km (280&#160;mi) by road. Kata Tjuta and Uluru are the two major features of the Uluru - Kata Tjuta National Park. Uluru is sacred to the Pitjantjatjara and Yankunytjatjara, the Aboriginal people of the area. It has many springs, waterholes, rock caves and ancient paintings. Uluru is listed as a World Heritage Site.</p>
						<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">https://en.wikipedia.org/w/index.php?title=Uluru</a>(last visited June 22, 2009).</p>
					</div>
				</div>


				<div id="infobox_first_10" class="rc-map__overlay">
					<div id="siteNotice"></div>
					<div id="bodyContent">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>

				<div id="infobox_first_11" class="rc-map__overlay">
					<div id="siteNotice"></div>
					<div id="bodyContent">
						<h1>Hello</h1>
					</div>
				</div>




				<br>

				<pre><code class="gs-code language-html">
					<div id="map_first_10" class="rc-map"></div>
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-features/maps/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')