.rc-flag::after {
  background-image: url("royal-canin.sprite--flags.png");
}

[class*="rc-flags-"]::after {
    display: inline-block;
    background-repeat: no-repeat;
    content: '';
    height: 60px;
    width: 64px;
}

.rc-flags-AD {
  &::after {
	background-position: 0 4.287194949590125%;
  }
}
.rc-flags-AE {
  &::after {
	background-position: 70.8477508650519% 54.85008491586846%;
  }
}
.rc-flags-AF {
  &::after {
	background-position: 7.8719723183391% 0;
  }
}
.rc-flags-AG {
  &::after {
	background-position: 0 10.259943626683691%;
  }
}
.rc-flags-AI {
  &::after {
	background-position: 7.8719723183391% 5.619885749578509%;
  }
}
.rc-flags-AL {
  &::after {
	background-position: 94.34940383618455% 76.20253921581528%;
  }
}
.rc-flags-AM {
  &::after {
	background-position: 15.7439446366782% 0;
  }
}
.rc-flags-AO {
  &::after {
	background-position: 15.7439446366782% 4.274976511118204%;
  }
}
.rc-flags-AQ {
  &::after {
	background-position: 15.7439446366782% 9.975655954193417%;
  }
}
.rc-flags-AR {
  &::after {
	background-position: 0 15.903257265460503%;
  }
}
.rc-flags-AS {
  &::after {
	background-position: 7.8719723183391% 15.735680098814266%;
  }
}
.rc-flags-AT {
  &::after {
	background-position: 23.6159169550173% 0;
  }
}
.rc-flags-AU {
  &::after {
	background-position: 23.6159169550173% 5.619885749578509%;
  }
}
.rc-flags-AW {
  &::after {
	background-position: 23.6159169550173% 9.974945192612276%;
  }
}
.rc-flags-AX {
  &::after {
	background-position: 23.6159169550173% 15.657750664795872%;
  }
}
.rc-flags-AZ {
  &::after {
	background-position: 15.7439446366782% 15.735680098814266%;
  }
}
.rc-flags-BA {
  &::after {
	background-position: 0 21.004322989041224%;
  }
}
.rc-flags-BB {
  &::after {
	background-position: 0 25.578609458193718%;
  }
}
.rc-flags-BD {
  &::after {
	background-position: 7.8719723183391% 25.43363851519992%;
  }
}
.rc-flags-BE {
  &::after {
	background-position: 79.49267963692463% 99.99136035191331%;
  }
}
.rc-flags-BF {
  &::after {
	background-position: 31.4878892733564% 5.699968681494071%;
  }
}
.rc-flags-BG {
  &::after {
	background-position: 31.4878892733564% 11.335326357754111%;
  }
}
.rc-flags-BH {
  &::after {
	background-position: 31.4878892733564% 16.436223218740658%;
  }
}
.rc-flags-BI {
  &::after {
	background-position: 31.4878892733564% 21.537120079727202%;
  }
}
.rc-flags-BJ {
  &::after {
	background-position: 0 31.27857813968779%;
  }
}
.rc-flags-BL {
  &::after {
	background-position: 7.8719723183391% 31.27857813968779%;
  }
}
.rc-flags-BM {
  &::after {
	background-position: 31.4878892733564% 26.413463023010653%;
  }
}
.rc-flags-BN {
  &::after {
	background-position: 7.8719723183391% 21.004322989041224%;
  }
}
.rc-flags-BO {
  &::after {
	background-position: 39.3598615916955% 0;
  }
}
.rc-flags-BQ {
  &::after {
	background-position: 39.3598615916955% 5.829513424256367%;
  }
}
.rc-flags-BR {
  &::after {
	background-position: 39.3598615916955% 11.56243486405352%;
  }
}
.rc-flags-BS {
  &::after {
	background-position: 39.3598615916955% 17.26837621233905%;
  }
}
.rc-flags-BT {
  &::after {
	background-position: 39.3598615916955% 21.789425732434132%;
  }
}
.rc-flags-BV {
  &::after {
	background-position: 94.21915444348576% 88.26662969649388%;
  }
}
.rc-flags-BW {
  &::after {
	background-position: 15.7439446366782% 31.27857813968779%;
  }
}
.rc-flags-BY {
  &::after {
	background-position: 15.7439446366782% 21.004322989041224%;
  }
}
.rc-flags-BZ {
  &::after {
	background-position: 23.6159169550173% 31.27857813968779%;
  }
}
.rc-flags-CA {
  &::after {
	background-position: 23.6159169550173% 21.004322989041224%;
  }
}
.rc-flags-CC {
  &::after {
	background-position: 15.7439446366782% 25.219237301222787%;
  }
}
.rc-flags-CD {
  &::after {
	background-position: 52.33859397416492% 99.99136035191331%;
  }
}
.rc-flags-CF {
  &::after {
	background-position: 0 36.97854682118186%;
  }
}
.rc-flags-CG {
  &::after {
	background-position: 7.8719723183391% 36.97854682118186%;
  }
}
.rc-flags-CH {
  &::after {
	background-position: 100% 0;
  }
}
.rc-flags-CI {
  &::after {
	background-position: 15.7439446366782% 36.97854682118186%;
  }
}
.rc-flags-CK {
  &::after {
	background-position: 23.6159169550173% 36.459008800379806%;
  }
}
.rc-flags-CL {
  &::after {
	background-position: 0 42.67851550267593%;
  }
}
.rc-flags-CM {
  &::after {
	background-position: 7.8719723183391% 42.67851550267593%;
  }
}
.rc-flags-CN {
  &::after {
	background-position: 15.7439446366782% 42.67851550267593%;
  }
}
.rc-flags-CO {
  &::after {
	background-position: 23.6159169550173% 42.67851550267593%;
  }
}
.rc-flags-CR {
  &::after {
	background-position: 31.4878892733564% 42.43663671046305%;
  }
}
.rc-flags-CU {
  &::after {
	background-position: 31.4878892733564% 36.459008800379806%;
  }
}
.rc-flags-CV {
  &::after {
	background-position: 39.3598615916955% 42.394226370219904%;
  }
}
.rc-flags-CW {
  &::after {
	background-position: 47.2318339100346% 0;
  }
}
.rc-flags-CX {
  &::after {
	background-position: 47.2318339100346% 5.619885749578509%;
  }
}
.rc-flags-CY {
  &::after {
	background-position: 47.2318339100346% 9.974945192612276%;
  }
}
.rc-flags-CZ {
  &::after {
	background-position: 47.2318339100346% 15.674913874106347%;
  }
}
.rc-flags-DE {
  &::after {
	background-position: 47.2318339100346% 21.25373692078662%;
  }
}
.rc-flags-DJ {
  &::after {
	background-position: 47.2318339100346% 26.504854368942265%;
  }
}
.rc-flags-DK {
  &::after {
	background-position: 59.645241899130895% 99.99136035191331%;
  }
}
.rc-flags-DM {
  &::after {
	background-position: 47.2318339100346% 37.372240234691986%;
  }
}
.rc-flags-DO {
  &::after {
	background-position: 47.2318339100346% 42.030037058724396%;
  }
}
.rc-flags-DZ {
  &::after {
	background-position: 0 48.378484184170006%;
  }
}
.rc-flags-EC {
  &::after {
	background-position: 7.8719723183391% 48.378484184170006%;
  }
}
.rc-flags-EE {
  &::after {
	background-position: 15.7439446366782% 48.25346453116841%;
  }
}
.rc-flags-EG {
  &::after {
	background-position: 0 54.078452865664076%;
  }
}
.rc-flags-EH {
  &::after {
	background-position: 39.3598615916955% 36.459008800379806%;
  }
}
.rc-flags-ER {
  &::after {
	background-position: 23.6159169550173% 47.69878029953682%;
  }
}
.rc-flags-ES {
  &::after {
	background-position: 7.8719723183391% 54.078452865664076%;
  }
}
.rc-flags-ET {
  &::after {
	background-position: 31.4878892733564% 47.69878029953682%;
  }
}
.rc-flags-FI {
  &::after {
	background-position: 15.7439446366782% 53.822795989420186%;
  }
}
.rc-flags-FJ {
  &::after {
	background-position: 39.3598615916955% 47.69878029953682%;
  }
}
.rc-flags-FK {
  &::after {
	background-position: 47.2318339100346% 47.69878029953682%;
  }
}
.rc-flags-FM {
  &::after {
	background-position: 23.6159169550173% 53.43720987052893%;
  }
}
.rc-flags-FO {
  &::after {
	background-position: 7.5927523727351165% 99.99136035191331%;
  }
}
.rc-flags-FR {
  &::after {
	background-position: 55.1038062283737% 5.129971813341846%;
  }
}
.rc-flags-GA {
  &::after {
	background-position: 37.64705882352547% 99.99136035191331%;
  }
}
.rc-flags-GB {
  &::after {
	background-position: 55.1038062283737% 16.297668673774897%;
  }
}
.rc-flags-GD {
  &::after {
	background-position: 55.1038062283737% 20.686970602896114%;
  }
}
.rc-flags-GE {
  &::after {
	background-position: 55.1038062283737% 25.93485750079004%;
  }
}
.rc-flags-GF {
  &::after {
	background-position: 55.1038062283737% 31.63482618228411%;
  }
}
.rc-flags-GG {
  &::after {
	background-position: 55.1038062283737% 37.33479486377818%;
  }
}
.rc-flags-GH {
  &::after {
	background-position: 55.1038062283737% 43.034763545272256%;
  }
}
.rc-flags-GI {
  &::after {
	background-position: 55.1038062283737% 48.05002315888838%;
  }
}
.rc-flags-GL {
  &::after {
	background-position: 55.1038062283737% 53.00970873788453%;
  }
}
.rc-flags-GM {
  &::after {
	background-position: 0 59.77842154715815%;
  }
}
.rc-flags-GN {
  &::after {
	background-position: 7.8719723183391% 59.77842154715815%;
  }
}
.rc-flags-GP {
  &::after {
	background-position: 15.7439446366782% 59.77842154715815%;
  }
}
.rc-flags-GQ {
  &::after {
	background-position: 23.6159169550173% 59.77842154715815%;
  }
}
.rc-flags-GR {
  &::after {
	background-position: 31.4878892733564% 59.77842154715815%;
  }
}
.rc-flags-GS {
  &::after {
	background-position: 31.4878892733564% 53.318666049115336%;
  }
}
.rc-flags-GT {
  &::after {
	background-position: 39.3598615916955% 59.5662151737192%;
  }
}
.rc-flags-GU {
  &::after {
	background-position: 47.2318339100346% 59.12088555479753%;
  }
}
.rc-flags-GW {
  &::after {
	background-position: 39.3598615916955% 53.318666049115336%;
  }
}
.rc-flags-GY {
  &::after {
	background-position: 62.9757785467128% 0;
  }
}
.rc-flags-HK {
  &::after {
	background-position: 62.9757785467128% 5.129971813341846%;
  }
}
.rc-flags-HM {
  &::after {
	background-position: 62.9757785467128% 10.677782924196388%;
  }
}
.rc-flags-HN {
  &::after {
	background-position: 62.9757785467128% 14.892697236377956%;
  }
}
.rc-flags-HR {
  &::after {
	background-position: 62.9757785467128% 19.107611548559518%;
  }
}
.rc-flags-HT {
  &::after {
	background-position: 62.9757785467128% 23.520802192329967%;
  }
}
.rc-flags-HU {
  &::after {
	background-position: 62.9757785467128% 28.380423035358966%;
  }
}
.rc-flags-ID {
  &::after {
	background-position: 62.9757785467128% 33.05981835265058%;
  }
}
.rc-flags-IE {
  &::after {
	background-position: 62.9757785467128% 38.215223097119036%;
  }
}
.rc-flags-IL {
  &::after {
	background-position: 22.77825711820535% 99.99136035191331%;
  }
}
.rc-flags-IM {
  &::after {
	background-position: 62.9757785467128% 48.05002315887912%;
  }
}
.rc-flags-IN {
  &::after {
	background-position: 62.9757785467128% 53.009708737875144%;
  }
}
.rc-flags-IO {
  &::after {
	background-position: 62.9757785467128% 57.8848232206392%;
  }
}
.rc-flags-IQ {
  &::after {
	background-position: 0 65.47839022865223%;
  }
}
.rc-flags-IR {
  &::after {
	background-position: 7.8719723183391% 64.94951848402611%;
  }
}
.rc-flags-IS {
  &::after {
	background-position: 94.29147078576317% 82.23458445615458%;
  }
}
.rc-flags-IT {
  &::after {
	background-position: 0 71.17835891014631%;
  }
}
.rc-flags-JE {
  &::after {
	background-position: 7.8719723183391% 70.77494394621638%;
  }
}
.rc-flags-JM {
  &::after {
	background-position: 55.1038062283737% 58.938551798693844%;
  }
}
.rc-flags-JO {
  &::after {
	background-position: 15.7439446366782% 64.55843754827237%;
  }
}
.rc-flags-JP {
  &::after {
	background-position: 70.8477508650519% 0;
  }
}
.rc-flags-KE {
  &::after {
	background-position: 70.8477508650519% 5.699968681494071%;
  }
}
.rc-flags-KG {
  &::after {
	background-position: 70.8477508650519% 11.335326357754111%;
  }
}
.rc-flags-KH {
  &::after {
	background-position: 70.8477508650519% 16.492306923150476%;
  }
}
.rc-flags-KI {
  &::after {
	background-position: 70.8477508650519% 21.6927589933673%;
  }
}
.rc-flags-KM {
  &::after {
	background-position: 70.8477508650519% 26.127927254615095%;
  }
}
.rc-flags-KN {
  &::after {
	background-position: 70.8477508650519% 31.406827435021345%;
  }
}
.rc-flags-KP {
  &::after {
	background-position: 70.8477508650519% 36.585456229745255%;
  }
}
.rc-flags-KR {
  &::after {
	background-position: 70.8477508650519% 41.381772627633616%;
  }
}
.rc-flags-KW {
  &::after {
	background-position: 70.8477508650519% 46.420256291505325%;
  }
}
.rc-flags-KY {
  &::after {
	background-position: 70.8477508650519% 50.635170603686895%;
  }
}
.rc-flags-KZ {
  &::after {
	background-position: 0 0;
  }
}
.rc-flags-LA {
  &::after {
	background-position: 70.8477508650519% 59.9066708424823%;
  }
}
.rc-flags-LB {
  &::after {
	background-position: 70.8477508650519% 65.60663952397637%;
  }
}
.rc-flags-LC {
  &::after {
	background-position: 70.8477508650519% 70.30477072720704%;
  }
}
.rc-flags-LI {
  &::after {
	background-position: 15.7439446366782% 70.77494394621638%;
  }
}
.rc-flags-LK {
  &::after {
	background-position: 23.6159169550173% 64.55843754827237%;
  }
}
.rc-flags-LR {
  &::after {
	background-position: 23.6159169550173% 70.33435133156918%;
  }
}
.rc-flags-LS {
  &::after {
	background-position: 0 76.87832759164039%;
  }
}
.rc-flags-LT {
  &::after {
	background-position: 7.8719723183391% 76.44260712509345%;
  }
}
.rc-flags-LU {
  &::after {
	background-position: 15.7439446366782% 76.44260712509345%;
  }
}
.rc-flags-LV {
  &::after {
	background-position: 31.4878892733564% 64.55843754827237%;
  }
}
.rc-flags-LY {
  &::after {
	background-position: 39.3598615916955% 64.55843754827237%;
  }
}
.rc-flags-MA {
  &::after {
	background-position: 78.719723183391% 0;
  }
}
.rc-flags-MC {
  &::after {
	background-position: 66.65850573304199% 99.99136035191331%;
  }
}
.rc-flags-MD {
  &::after {
	background-position: 78.719723183391% 11.239771499157017%;
  }
}
.rc-flags-ME {
  &::after {
	background-position: 78.719723183391% 15.454685811338583%;
  }
}
.rc-flags-MF {
  &::after {
	background-position: 78.719723183391% 19.949890385224553%;
  }
}
.rc-flags-MG {
  &::after {
	background-position: 78.719723183391% 25.64985906671862%;
  }
}
.rc-flags-MH {
  &::after {
	background-position: 78.719723183391% 30.978092678569112%;
  }
}
.rc-flags-MK {
  &::after {
	background-position: 78.719723183391% 35.34612353023622%;
  }
}
.rc-flags-ML {
  &::after {
	background-position: 78.719723183391% 40.12477953419167%;
  }
}
.rc-flags-MM {
  &::after {
	background-position: 78.719723183391% 45.82474821568574%;
  }
}
.rc-flags-MN {
  &::after {
	background-position: 78.719723183391% 50.8008093415748%;
  }
}
.rc-flags-MO {
  &::after {
	background-position: 78.719723183391% 55.79969340829801%;
  }
}
.rc-flags-MP {
  &::after {
	background-position: 78.719723183391% 60.635609403334875%;
  }
}
.rc-flags-MQ {
  &::after {
	background-position: 78.719723183391% 65.7746386009103%;
  }
}
.rc-flags-MR {
  &::after {
	background-position: 78.719723183391% 71.47460728240438%;
  }
}
.rc-flags-MS {
  &::after {
	background-position: 78.719723183391% 76.09029521467347%;
  }
}
.rc-flags-MT {
  &::after {
	background-position: 0 82.57829627313446%;
  }
}
.rc-flags-MU {
  &::after {
	background-position: 7.8719723183391% 82.57829627313446%;
  }
}
.rc-flags-MV {
  &::after {
	background-position: 15.7439446366782% 82.57829627313446%;
  }
}
.rc-flags-MW {
  &::after {
	background-position: 23.6159169550173% 82.57829627313446%;
  }
}
.rc-flags-MX {
  &::after {
	background-position: 23.6159169550173% 76.25737806775399%;
  }
}
.rc-flags-MY {
  &::after {
	background-position: 47.2318339100346% 64.55843754827237%;
  }
}
.rc-flags-MZ {
  &::after {
	background-position: 31.4878892733564% 82.57829627313446%;
  }
}
.rc-flags-NA {
  &::after {
	background-position: 39.3598615916955% 82.57829627313446%;
  }
}
.rc-flags-NC {
  &::after {
	background-position: 55.1038062283737% 64.55843754827237%;
  }
}
.rc-flags-NE {
  &::after {
	background-position: 73.17925179738053% 99.99136035191331%;
  }
}
.rc-flags-NF {
  &::after {
	background-position: 62.9757785467128% 64.55843754827237%;
  }
}
.rc-flags-NG {
  &::after {
	background-position: 31.4878892733564% 70.17832329785088%;
  }
}
.rc-flags-NI {
  &::after {
	background-position: 55.1038062283737% 82.1102703039705%;
  }
}
.rc-flags-NL {
  &::after {
	background-position: 0 88.27826495462854%;
  }
}
.rc-flags-NO {
  &::after {
	background-position: 0 99.99136035191331%;
  }
}
.rc-flags-NP {
  &::after {
	background-position: 84.25441694922593% 99.99136035191331%;
  }
}
.rc-flags-NR {
  &::after {
	background-position: 47.2318339100346% 70.17832329785088%;
  }
}
.rc-flags-NU {
  &::after {
	background-position: 55.1038062283737% 70.17832329785088%;
  }
}
.rc-flags-NZ {
  &::after {
	background-position: 62.9757785467128% 70.17832329785088%;
  }
}
.rc-flags-OM {
  &::after {
	background-position: 31.4878892733564% 75.79820904742938%;
  }
}
.rc-flags-PA {
  &::after {
	background-position: 15.7439446366782% 88.27826495462854%;
  }
}
.rc-flags-PE {
  &::after {
	background-position: 23.6159169550173% 88.27826495462854%;
  }
}
.rc-flags-PF {
  &::after {
	background-position: 31.4878892733564% 88.27826495462854%;
  }
}
.rc-flags-PG {
  &::after {
	background-position: 44.992826398845196% 99.99136035191331%;
  }
}
.rc-flags-PH {
  &::after {
	background-position: 39.3598615916955% 75.79820904742938%;
  }
}
.rc-flags-PK {
  &::after {
	background-position: 39.3598615916955% 88.27826495462854%;
  }
}
.rc-flags-PL {
  &::after {
	background-position: 47.2318339100346% 87.96489174959862%;
  }
}
.rc-flags-PM {
  &::after {
	background-position: 86.5916955017301% 0;
  }
}
.rc-flags-PN {
  &::after {
	background-position: 86.5916955017301% 5.619885749578509%;
  }
}
.rc-flags-PR {
  &::after {
	background-position: 86.5916955017301% 9.974945192612276%;
  }
}
.rc-flags-PS {
  &::after {
	background-position: 86.5916955017301% 15.454685811338583%;
  }
}
.rc-flags-PT {
  &::after {
	background-position: 86.5916955017301% 19.949890385224553%;
  }
}
.rc-flags-PW {
  &::after {
	background-position: 86.5916955017301% 25.558806319494437%;
  }
}
.rc-flags-PY {
  &::after {
	background-position: 86.5916955017301% 30.687473836001672%;
  }
}
.rc-flags-QA {
  &::after {
	background-position: 86.5916955017301% 34.881962768849284%;
  }
}
.rc-flags-RE {
  &::after {
	background-position: 86.5916955017301% 39.06217710494328%;
  }
}
.rc-flags-RO {
  &::after {
	background-position: 86.5916955017301% 44.76214578643736%;
  }
}
.rc-flags-RS {
  &::after {
	background-position: 86.5916955017301% 50.46211446793143%;
  }
}
.rc-flags-RU {
  &::after {
	background-position: 86.5916955017301% 56.1620831494255%;
  }
}
.rc-flags-RW {
  &::after {
	background-position: 86.5916955017301% 61.86205183091958%;
  }
}
.rc-flags-SA {
  &::after {
	background-position: 86.5916955017301% 67.56202051241365%;
  }
}
.rc-flags-SB {
  &::after {
	background-position: 86.5916955017301% 72.2326791712645%;
  }
}
.rc-flags-SC {
  &::after {
	background-position: 86.5916955017301% 76.44759348344606%;
  }
}
.rc-flags-SD {
  &::after {
	background-position: 86.5916955017301% 80.66250779562763%;
  }
}
.rc-flags-SE {
  &::after {
	background-position: 86.5916955017301% 85.78132443803864%;
  }
}
.rc-flags-SG {
  &::after {
	background-position: 0 93.97823363612261%;
  }
}
.rc-flags-SH {
  &::after {
	background-position: 47.2318339100346% 75.79820904742938%;
  }
}
.rc-flags-SI {
  &::after {
	background-position: 55.1038062283737% 75.79820904742938%;
  }
}
.rc-flags-SJ {
  &::after {
	background-position: 15.185504745470233% 99.99136035191331%;
  }
}
.rc-flags-SK {
  &::after {
	background-position: 7.8719723183391% 93.97823363612261%;
  }
}
.rc-flags-SL {
  &::after {
	background-position: 15.7439446366782% 93.97823363612261%;
  }
}
.rc-flags-SM {
  &::after {
	background-position: 30.301291248205732% 99.99136035191331%;
  }
}
.rc-flags-SN {
  &::after {
	background-position: 31.4878892733564% 93.97823363612261%;
  }
}
.rc-flags-SO {
  &::after {
	background-position: 39.3598615916955% 93.97823363612261%;
  }
}
.rc-flags-SR {
  &::after {
	background-position: 47.2318339100346% 93.97823363612261%;
  }
}
.rc-flags-SS {
  &::after {
	background-position: 62.9757785467128% 75.79820904742938%;
  }
}
.rc-flags-ST {
  &::after {
	background-position: 70.8477508650519% 75.79820904742938%;
  }
}
.rc-flags-SV {
  &::after {
	background-position: 55.1038062283737% 87.50943627454838%;
  }
}
.rc-flags-SX {
  &::after {
	background-position: 55.1038062283737% 93.97823363612261%;
  }
}
.rc-flags-SY {
  &::after {
	background-position: 62.9757785467128% 93.97823363612261%;
  }
}
.rc-flags-SZ {
  &::after {
	background-position: 70.8477508650519% 93.97823363612261%;
  }
}
.rc-flags-TC {
  &::after {
	background-position: 78.719723183391% 81.4180947970079%;
  }
}
.rc-flags-TD {
  &::after {
	background-position: 78.719723183391% 93.97823363612261%;
  }
}
.rc-flags-TF {
  &::after {
	background-position: 86.5916955017301% 93.97823363612261%;
  }
}
.rc-flags-TG {
  &::after {
	background-position: 94.4636678200692% 0;
  }
}
.rc-flags-TH {
  &::after {
	background-position: 94.4636678200692% 5.2842725724618%;
  }
}
.rc-flags-TJ {
  &::after {
	background-position: 94.4636678200692% 10.829915801723018%;
  }
}
.rc-flags-TK {
  &::after {
	background-position: 94.4636678200692% 15.044830113904585%;
  }
}
.rc-flags-TL {
  &::after {
	background-position: 94.4636678200692% 19.25974442608615%;
  }
}
.rc-flags-TM {
  &::after {
	background-position: 94.4636678200692% 23.809170787310485%;
  }
}
.rc-flags-TN {
  &::after {
	background-position: 94.4636678200692% 29.509139468804555%;
  }
}
.rc-flags-TO {
  &::after {
	background-position: 94.4636678200692% 34.714430237424736%;
  }
}
.rc-flags-TR {
  &::after {
	background-position: 94.4636678200692% 39.48408466141684%;
  }
}
.rc-flags-TT {
  &::after {
	background-position: 94.4636678200692% 44.927965347505605%;
  }
}
.rc-flags-TV {
  &::after {
	background-position: 94.4636678200692% 49.60712747380269%;
  }
}
.rc-flags-TW {
  &::after {
	background-position: 94.4636678200692% 54.58900166737095%;
  }
}
.rc-flags-TZ {
  &::after {
	background-position: 94.4636678200692% 60.28897034886503%;
  }
}
.rc-flags-UA {
  &::after {
	background-position: 94.4636678200692% 65.9889390303591%;
  }
}
.rc-flags-UG {
  &::after {
	background-position: 23.6159169550173% 93.97823363612261%;
  }
}
.rc-flags-UM {
  &::after {
	background-position: 70.8477508650519% 81.59911230559601%;
  }
}
.rc-flags-US {
  &::after {
	background-position: 62.9757785467128% 81.59911230559601%;
  }
}
.rc-flags-UY {
  &::after {
	background-position: 7.8719723183391% 88.27826495462854%;
  }
}
.rc-flags-UZ {
  &::after {
	background-position: 39.3598615916955% 70.17832329785088%;
  }
}
.rc-flags-VA {
  &::after {
	background-position: 89.51135057758242% 99.99136035191331%;
  }
}
.rc-flags-VC {
  &::after {
	background-position: 47.2318339100346% 82.57829627313446%;
  }
}
.rc-flags-VE {
  &::after {
	background-position: 78.719723183391% 5.699968681494071%;
  }
}
.rc-flags-VG {
  &::after {
	background-position: 47.2318339100346% 53.318666049115336%;
  }
}
.rc-flags-VI {
  &::after {
	background-position: 62.9757785467128% 43.034763545262855%;
  }
}
.rc-flags-VN {
  &::after {
	background-position: 55.1038062283737% 10.829940494835917%;
  }
}
.rc-flags-VU {
  &::after {
	background-position: 55.1038062283737% 0;
  }
}
.rc-flags-WF {
  &::after {
	background-position: 47.2318339100346% 32.20482305043633%;
  }
}
.rc-flags-WS {
  &::after {
	background-position: 23.6159169550173% 25.219237301222787%;
  }
}
.rc-flags-YE {
  &::after {
	background-position: 31.4878892733564% 31.27857813968779%;
  }
}
.rc-flags-YT {
  &::after {
	background-position: 39.3598615916955% 27.4893944139282%;
  }
}
.rc-flags-ZA {
  &::after {
	background-position: 31.4878892733564% 0;
  }
}
.rc-flags-ZM {
  &::after {
	background-position: 7.8719723183391% 10.259943626683691%;
  }
}
.rc-flags-ZW {
  &::after {
	background-position: 94.4636678200692% 70.68169903471978%;
  }
}
