[role="alert"],
.alert {
  text-align: center;
  border-radius: 25px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  @extend %feature-width-restriction;

  & > strong {
    font-weight: 300;
  }

  &.alert--error {
    background-color: colour('brand', 'red');
    color: colour('brand', 'white');
  }

  &.alert--success {
    background-color: colour('functional', 'success');
    color: colour('brand', 'white');
  }

  &.alert--info {
    background-color: colour('functional', 'text');
    color: colour('brand', 'white');
    max-width: 99999px;
    width: 100%;
    border: none;
    padding-right: 3rem;
    border-radius: 0;
    text-align: left;
    min-height: 1rem;
    position: absolute;

    & > a {
      color: colour('brand', 'white');
    }

    & .alert__close > .rc-icon-cross--light {
      transform-origin: 16% 42%;
    }
  }

  // @todo make this into a variable?
  @media (get-breakpoint('small')) {
    border-radius: 50px;
  }
}


.alert__close {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
}