%round-image,
.avatar {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	margin-bottom: 0;
	border-radius: 100%;
	overflow: hidden;
}

.avatar--medium {
	width: 70px;
	height: 70px;
}

.avatar--large {
	width: 100px;
	height: 100px;
}