.breadcrumbs {
	overflow: hidden;
}

.breadcrumb__list,
.breadcrumb__list-item {
  margin: 0;
}

.breadcrumb__list-item {
  display: inline-block;
  vertical-align: middle;

  & > a {
    // ToDo: switch to grey icon.
    position: relative;
    padding-right: 1.75rem;

    &::after {
      @extend %extend-icon-base;
      @extend .rc-icon-chevron--right--light::after;
      transform-origin: 100% 0;
      position: absolute;
      right: -0.25rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:last-child a::after {
    display: none;
  }
}

.breadcrumb__link.logo--badge__wrapper::after {
  transform: translateY(-42%);
}

.breadcrumb__link {
  color: colour('brand', 'medium-grey', 'light');
  text-decoration: none;

  &:hover, &:focus {
    color: colour('brand', 'red');
  }
}

.breadcrumbs__current {
  color: colour('brand', 'medium-grey');
  font-weight: 500;
}