.breadcrumbs {
	overflow: hidden;
}

.breadcrumb__list,
.breadcrumb__list-item {
  margin: 0;
}

.breadcrumb__list-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;

  & > a {
    // ToDo: switch to grey icon.
    @extend .rc-icon-chevron--right--white;
    position: relative;
    padding-right: 1.25rem;

    &::after {
      transform: scale(0.25) translateY(8px);
      transform-origin: 100% 0;
      position: absolute;
      right: -0.5rem;
      top: 0;
    }
  }

  &:last-child a::after {
    display: none;
  }
}

.breadcrumb__link.logo--badge__wrapper::after {
  transform: scale(0.25) translateY(15px);
}

.breadcrumb__link {
  color: colour('brand', 'medium-grey', 'light');
  text-decoration: none;

  &:hover, &:focus {
    color: colour('brand', 'red');
  }
}

.breadcrumbs__current {
  color: colour('brand', 'medium-grey');
  font-weight: 500;
}