/// ----------------------------------------------------------------------

/// Breadcrumbs

/// ----------------------------------------------------------------------

.breadcrumbs {
	overflow: hidden;
}

.breadcrumb__list {
  display: flex;
  align-items: center;
  list-style: none;
}

.breadcrumb__list,
.breadcrumb__list-item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.breadcrumb__list-item {
  display: inline-block;
  
  &::after {
    @extend %rc-icon;
    @extend %rc-icon--small;
    @extend .rc-icon-chevron--right--dark::after;
    display: inline-block;
    vertical-align: middle;
  }

  &:last-child::after {
    visibility: hidden;
  }
}

.breadcrumb__link {
  color: colour('brand', 'medium-grey', 'light');
  text-decoration: none;

  &:hover,
  &:focus {
    color: colour('brand', 'red');
  }
}

.breadcrumbs__current {
  color: colour('brand', 'medium-grey');
  font-weight: 500;
}

/// ------------------- 
/// Breadcrumb modifiers
/// -------------------

.breadcrumbs--inverse .breadcrumb__list-item::after {
  @extend .rc-icon-chevron--right--light::after;
}
