/////////////////////////////////////// Button Base Styles ///////////////////////////////////////
[class^="button"] {
  display: inline-block;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  background-color: colour('brand', 'red');
  color: colour('brand', 'white');
  font-weight: 500;
  font-size: .675em;
  padding: .3rem 1rem;
  line-height: 1.5;
  border: 2px solid transparent;
  border-radius: 50px;
  margin-bottom: 1em;
  transition: background-color 0.2s ease-in;

  &::after {
    position: absolute;
    right: 2em;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    vertical-align: middle;
    transform-origin: 100%;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: colour('brand', 'red', 'dark');
    color: colour('brand', 'white');
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: colour('brand', 'red', 'dark');
  }

  &:disabled {
    background-color: colour('brand', 'light-grey');
    color: colour('brand', 'medium-grey');
    border-color: transparent;
    cursor: not-allowed;

    &:hover,
    &:focus,
    &:active {
      background-color: colour('brand', 'light-grey');
      color: colour('brand', 'medium-grey');
    }
  }

  &.fill-width {
    width: 100%;
    text-align: center;
  }

  @media (get-breakpoint-down('med')) {
    &.fill-width--just-mobile {
      width: 100%;
      text-align: center;
    }
  }
}

button {
  cursor: pointer;
}

.reset-button {
  border: none;
  background-color: transparent;
}

[class*="--icon-"]::after {
  content: '';
}

%button--small {
  $button-icon-padding: 1.5rem;
  font-size: .875em;
  padding: .5rem $button-icon-padding;

  &::after {
    display: block;
    right: $button-icon-padding / 2;
  }
}

%button--medium {
  $button-icon-padding: 2.5rem;
  font-size: 1em;
  padding: .625rem $button-icon-padding;

  &::after {
    display: block;
    right: $button-icon-padding / 2;
  }
}

%button--large {
  $button-icon-padding: 3.5rem;
  font-size: 1.2em;
  padding: .825rem $button-icon-padding;

  &::after {
    display: block;
    right: $button-icon-padding / 2;
  }
}



/////////////////////////////////////// Secondary Button ///////////////////////////////////////

%button--secondary {
  border-color: colour('brand', 'red');
  color: colour('brand', 'red');
  background-color: transparent;

  &:hover, &:focus {
    background-color: colour('brand', 'red');
    color: colour('brand', 'white');
  }

  &:active {
    background-color: colour('brand', 'red', 'dark');
    border-color: colour('brand', 'red', 'dark');
  }
}

.button--secondary {
  @extend %button--secondary;
}

$icons: ('icon-arrow--right');

@each $icon in $icons {
  [class*="button--secondary"].rc-#{$icon}--red::after:hover,
  [class*="button--secondary"].rc-#{$icon}--red::after:focus {
    @extend .rc-#{$icon}--light::after;
  }
}



/////////////////////////////////////// Tertiary Button ///////////////////////////////////////

%button--tertiary {
  border-color: colour('functional', 'text');
  color: colour('functional', 'text');
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: colour('functional', 'text');
    color: colour('brand', 'white');
  }

  &:active {
    background-color: colour('functional', 'text', 'dark');
    border-color: colour('functional', 'text', 'dark');
  }
}

.button--tertiary {
  @extend %button--tertiary;
}


$buttons: ('secondary', 'tertiary');
$variants: ('large', 'medium', 'small');


// Simple button size variants.
@each $variant in $variants {
  .button--#{$variant},
  %button--#{$variant} {
    @extend %button--#{$variant};
  }
}

// Button size variants.
@each $button in $buttons {
  @each $variant in $variants {
    .button--#{$button}--#{$variant} {
      @extend %button--#{$button};
      @extend %button--#{$variant};
    }
  }
}


/////////////////////////////////////// Functional Button ///////////////////////////////////////

.button--functional {
  background-color: colour('functional', 'functional');

  &::after {
    @extend %extend-icon-base;
    @extend .rc-icon-arrow--right--light::after;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: colour('functional', 'functional', 'dark');
  }
}

// Generate the animation used for the spinning icon.
@include generateAnimation(steady-spin, translateY, translateY(-50%));

.button--functional--loading {
  background-color: colour('functional', 'functional', 'dark');

  &:hover,
  &:focus,
  &:active {
    background-color: colour('functional', 'functional', 'dark');
  }

  &::after {
    right: 20px;
    transform-origin: 46% 0%;
    @extend %extend-icon-base;
    @extend .rc-icon-loader--light::after;
    animation: animatePlusTransform(steady-spin, 1s infinite linear, translateY, translateY(-50%));

    .no-cssanimations & {
      background-image: url('../images/loading.gif');
    }
  }
}



// Only add the padding on the larger buttons with the icon.
[class*="button--functional"].button--large,
[class*="button--functional"].button--medium,
[class*="button--functional"].button--small {
  padding-right: 4em;
}

.button--functional--loading.button--small:after {
  right: .5em;
}

.button--functional--success {
  background-color: colour('functional', 'success');

  &:hover,
  &:focus,
  &:active {
    background-color: colour('functional', 'success', 'dark');
  }

  &::after {
    @extend %extend-icon-base;
    @extend .rc-icon-check--light::after;
  }
}


.button--functional--fail {
  background-color: colour('functional', 'error');

  &:hover,
  &:focus,
  &:active {
    background-color: colour('functional', 'error', 'dark');
  }

  &::after {
    @extend %extend-icon-base;
    @extend .rc-icon-cross--light::after;
  }
}

.button--full--width {
  width: 100%;
}

@media ( max-width: 640px ) {

  .button--full--width--mobile {
    width: 100%;
  }
}

/////////////////////////////////////// Button Panel ///////////////////////////////////////


.button--panel {
  background: colour('brand', 'white');
  border-radius: 0;
  color: colour('brand', 'red');
  padding: 0;
  width: 100%;
  font-size: 2em;
  padding-top: 1em;
  text-align: center;
  max-width: 375px;
  border: 1px solid rgba( 0, 0, 0, .15 );

  & > img {
    margin: 0 auto;
  }

  &:hover,
  &:focus,
  &:active {
    color: colour('brand', 'red');
    background: colour('brand', 'white');
    text-decoration: underline;
  }
}

.button [class*="icon-"] {
  padding-right: 0;
}

[class*="button"][class*="icon-"] {
  padding-right: 4em;
}

.button--medium[class*="icon-"],
.button--small[class*="icon-"],
.button--large[class*="icon-"] {
  padding-right: 4em;

  &.rc-icon-check {
    @extend %extend-icon-base;
    @extend .rc-icon-check--light::after;
  }

  &.rc-icon-arrow-right {
    @extend %extend-icon-base;
    @extend .rc-icon-arrow--right--light::after;
  }

  &.rc-icon-search {
    @extend %extend-icon-base;
    @extend .rc-icon-search--light::after;
  }
}
