button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	background-color: colour('brand', 'red');;
	color: colour('brand', 'white');
	font-weight: 500;
	font-size: .675em;
	padding: .3rem 1rem;
	line-height: 1.5;
	border: 2px solid transparent;
	border-radius: 50px;
	margin-bottom: 1em;
	transition: background-color 0.2s ease-in;

	&:after {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		margin-left: .5rem;
		margin-right: - button-icon-right-pull( 1.25, .5rem );
		top: -1px;
		background: center/contain no-repeat;
	}

	// Icons
	&.button--icon-arrow-down {
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 39.5' aria-labelledby='svg-arrow-down-bold' role='img'%3E %3Ctitle id='svg-arrow-down-bold' lang='en'%3Earrow-down-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M32 39.5h-.1c-1.9 0-3.7-.8-5.1-2.2L2.2 12.7C-.7 9.8-.7 5.1 2.2 2.1c2.9-2.9 7.6-2.9 10.6 0L32 21.4 51.3 2.2c2.9-2.9 7.6-2.9 10.6 0C63.3 3.6 64 5.6 64 7.5s-.7 3.8-2.2 5.3L37.3 37.3c-1.4 1.4-3.3 2.1-5.1 2.2H32z' class='st0' %3E%3C/path%3E %3C/svg%3E");
		}
	}

	&.button--icon-arrow-right {
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.5 64.1' aria-labelledby='svg-arrow-right-bold' role='img'%3E %3Ctitle id='svg-arrow-right-bold' lang='en'%3Earrow-right-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M39.5 32.2c0 1.9-.8 3.7-2.2 5.1L12.7 61.9c-1.4 1.5-3.3 2.2-5.2 2.2s-3.8-.7-5.3-2.2c-2.9-2.9-2.9-7.6 0-10.6l19.2-19.2L2.2 12.8C-.7 9.9-.7 5.2 2.2 2.2c2.9-2.9 7.6-2.9 10.6 0l24.5 24.5c1.4 1.4 2.1 3.3 2.2 5.1v.4z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&.button--icon-check {
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 53.1' aria-labelledby='svg-check' role='img'%3E %3Ctitle id='svg-check' lang='en'%3Echeck%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M62.7 10.4l-31 40.2c-.5.6-1 1.1-1.6 1.5-.1 0-.1.1-.2.1-1 .6-2.1.9-3.3.9-1.4 0-2.8-.4-4-1.3L2.5 36.3C-.3 34.1-.9 30 1.3 27.2s6.3-3.4 9.1-1.2l15 11.5 27-35c2.2-2.8 6.3-3.4 9.1-1.2s3.3 6.3 1.2 9.1z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&.button--icon-search {
		&:after {
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='svg-search' role='img'%3E %3Ctitle id='svg-search' lang='en'%3Esearch%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M56.1 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8 10.7-10.7 10.7-27.9.1-38.5zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.4 9.1 31.5 7 36.9 7s10.5 2.1 14.3 5.9 5.9 8.9 5.9 14.3-2.1 10.5-5.9 14.3z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&:hover, &:focus {
		background-color: colour('brand', 'red', 'dark');
		color: colour('brand', 'white');
	}

	&:focus {
		outline: none;
	}

	&:active {
		background-color: colour('brand', 'red', 'darker');
	}

	&:disabled {
		background-color: colour('brand', 'light-grey');
		color: colour('brand', 'medium-grey');
		border-color: transparent;
		cursor: not-allowed;

		&:hover, &:focus, &:active {
			background-color: colour('brand', 'light-grey');
			color: colour('brand', 'medium-grey');
		}
	}

	@media( min-width: 640px ) {
		border-radius: 3px;
	}
	
	&.button--small{
		font-size: .875em;
		padding: .425rem 1.5rem;
	}
	
	&.button--medium{
		font-size: 1em;
		padding: .625rem 2.5rem;
	}
	
	&.button--large{
		font-size: 1.2em;
		padding: .825rem 3.5rem;
	}
}

.button--secondary {
	border-color: colour('brand', 'red');;
	color: colour('brand', 'red');;
	background-color: transparent;

	// Icons
	&.button--icon-arrow-right {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.5 64.1' aria-labelledby='svg-arrow-right-bold' role='img'%3E %3Ctitle id='svg-arrow-right-bold' lang='en'%3Earrow-right-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23E2001A;%7D %3C/style%3E %3Cpath d='M39.5 32.2c0 1.9-.8 3.7-2.2 5.1L12.7 61.9c-1.4 1.5-3.3 2.2-5.2 2.2s-3.8-.7-5.3-2.2c-2.9-2.9-2.9-7.6 0-10.6l19.2-19.2L2.2 12.8C-.7 9.9-.7 5.2 2.2 2.2c2.9-2.9 7.6-2.9 10.6 0l24.5 24.5c1.4 1.4 2.1 3.3 2.2 5.1v.4z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&.button--icon-check {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 53.1' aria-labelledby='svg-check' role='img'%3E %3Ctitle id='svg-check' lang='en'%3Echeck%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23E2001A;%7D %3C/style%3E %3Cpath d='M62.7 10.4l-31 40.2c-.5.6-1 1.1-1.6 1.5-.1 0-.1.1-.2.1-1 .6-2.1.9-3.3.9-1.4 0-2.8-.4-4-1.3L2.5 36.3C-.3 34.1-.9 30 1.3 27.2s6.3-3.4 9.1-1.2l15 11.5 27-35c2.2-2.8 6.3-3.4 9.1-1.2s3.3 6.3 1.2 9.1z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&.button--icon-search {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='svg-search' role='img'%3E %3Ctitle id='svg-search' lang='en'%3Esearch%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23E2001A;%7D %3C/style%3E %3Cpath d='M56.1 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8 10.7-10.7 10.7-27.9.1-38.5zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.4 9.1 31.5 7 36.9 7s10.5 2.1 14.3 5.9 5.9 8.9 5.9 14.3-2.1 10.5-5.9 14.3z' class='st0'/%3E %3C/svg%3E");
		}
	}


	&:hover, &:focus {
		background-color: colour('brand', 'red');;
		color: colour('brand', 'white');

		// Icons
		&.button--icon-arrow-right {
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.5 64.1' aria-labelledby='svg-arrow-right-bold' role='img'%3E %3Ctitle id='svg-arrow-right-bold' lang='en'%3Earrow-right-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M39.5 32.2c0 1.9-.8 3.7-2.2 5.1L12.7 61.9c-1.4 1.5-3.3 2.2-5.2 2.2s-3.8-.7-5.3-2.2c-2.9-2.9-2.9-7.6 0-10.6l19.2-19.2L2.2 12.8C-.7 9.9-.7 5.2 2.2 2.2c2.9-2.9 7.6-2.9 10.6 0l24.5 24.5c1.4 1.4 2.1 3.3 2.2 5.1v.4z' class='st0'/%3E %3C/svg%3E");
			}
		}

		&.button--icon-check {
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 53.1' aria-labelledby='svg-check' role='img'%3E %3Ctitle id='svg-check' lang='en'%3Echeck%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M62.7 10.4l-31 40.2c-.5.6-1 1.1-1.6 1.5-.1 0-.1.1-.2.1-1 .6-2.1.9-3.3.9-1.4 0-2.8-.4-4-1.3L2.5 36.3C-.3 34.1-.9 30 1.3 27.2s6.3-3.4 9.1-1.2l15 11.5 27-35c2.2-2.8 6.3-3.4 9.1-1.2s3.3 6.3 1.2 9.1z' class='st0'/%3E %3C/svg%3E");
			}
		}

		&.button--icon-search {
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='svg-search' role='img'%3E %3Ctitle id='svg-search' lang='en'%3Esearch%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M56.1 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8 10.7-10.7 10.7-27.9.1-38.5zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.4 9.1 31.5 7 36.9 7s10.5 2.1 14.3 5.9 5.9 8.9 5.9 14.3-2.1 10.5-5.9 14.3z' class='st0'/%3E %3C/svg%3E");
			}
		}
	}

	&:active {
		background-color: colour('brand', 'red', 'dark');
		border-color: colour('brand', 'red', 'dark');
	}
}

.button--tertiary {
	border-color: colour('functional', 'text');
	color: colour('functional', 'text');
	background-color: transparent;

	// Icons
	&.button--icon-arrow-right {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.5 64.1' aria-labelledby='svg-arrow-right-bold' role='img'%3E %3Ctitle id='svg-arrow-right-bold' lang='en'%3Earrow-right-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23444444;%7D %3C/style%3E %3Cpath d='M39.5 32.2c0 1.9-.8 3.7-2.2 5.1L12.7 61.9c-1.4 1.5-3.3 2.2-5.2 2.2s-3.8-.7-5.3-2.2c-2.9-2.9-2.9-7.6 0-10.6l19.2-19.2L2.2 12.8C-.7 9.9-.7 5.2 2.2 2.2c2.9-2.9 7.6-2.9 10.6 0l24.5 24.5c1.4 1.4 2.1 3.3 2.2 5.1v.4z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&.button--icon-check {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 53.1' aria-labelledby='svg-check' role='img'%3E %3Ctitle id='svg-check' lang='en'%3Echeck%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23444444;%7D %3C/style%3E %3Cpath d='M62.7 10.4l-31 40.2c-.5.6-1 1.1-1.6 1.5-.1 0-.1.1-.2.1-1 .6-2.1.9-3.3.9-1.4 0-2.8-.4-4-1.3L2.5 36.3C-.3 34.1-.9 30 1.3 27.2s6.3-3.4 9.1-1.2l15 11.5 27-35c2.2-2.8 6.3-3.4 9.1-1.2s3.3 6.3 1.2 9.1z' class='st0'/%3E %3C/svg%3E");
		}
	}

	&.button--icon-search {
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='svg-search' role='img'%3E %3Ctitle id='svg-search' lang='en'%3Esearch%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23444444;%7D %3C/style%3E %3Cpath d='M56.1 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8 10.7-10.7 10.7-27.9.1-38.5zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.4 9.1 31.5 7 36.9 7s10.5 2.1 14.3 5.9 5.9 8.9 5.9 14.3-2.1 10.5-5.9 14.3z' class='st0'/%3E %3C/svg%3E");
		}
	}


	&:hover, &:focus {
		background-color: colour('functional', 'text');
		color: colour('brand', 'white');

		// Icons
		&.button--icon-arrow-right {
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 39.5 64.1' aria-labelledby='svg-arrow-right-bold' role='img'%3E %3Ctitle id='svg-arrow-right-bold' lang='en'%3Earrow-right-bold%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M39.5 32.2c0 1.9-.8 3.7-2.2 5.1L12.7 61.9c-1.4 1.5-3.3 2.2-5.2 2.2s-3.8-.7-5.3-2.2c-2.9-2.9-2.9-7.6 0-10.6l19.2-19.2L2.2 12.8C-.7 9.9-.7 5.2 2.2 2.2c2.9-2.9 7.6-2.9 10.6 0l24.5 24.5c1.4 1.4 2.1 3.3 2.2 5.1v.4z' class='st0'/%3E %3C/svg%3E");
			}
		}

		&.button--icon-check {
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 53.1' aria-labelledby='svg-check' role='img'%3E %3Ctitle id='svg-check' lang='en'%3Echeck%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M62.7 10.4l-31 40.2c-.5.6-1 1.1-1.6 1.5-.1 0-.1.1-.2.1-1 .6-2.1.9-3.3.9-1.4 0-2.8-.4-4-1.3L2.5 36.3C-.3 34.1-.9 30 1.3 27.2s6.3-3.4 9.1-1.2l15 11.5 27-35c2.2-2.8 6.3-3.4 9.1-1.2s3.3 6.3 1.2 9.1z' class='st0'/%3E %3C/svg%3E");
			}
		}

		&.button--icon-search {
			&:after {
				content: '';
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='svg-search' role='img'%3E %3Ctitle id='svg-search' lang='en'%3Esearch%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M56.1 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8 10.7-10.7 10.7-27.9.1-38.5zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.4 9.1 31.5 7 36.9 7s10.5 2.1 14.3 5.9 5.9 8.9 5.9 14.3-2.1 10.5-5.9 14.3z' class='st0'/%3E %3C/svg%3E");
			}
		}
	}

	&:active {
		background-color: colour('functional', 'text', 'dark');
		border-color: colour('functional', 'text', 'dark');
	}
}


.button--functional {
	background-color: colour('functional', 'functional');

	&:hover, &:focus {
		background-color: colour('functional', 'functional', 'dark');
	}

	&:active {
		background-color: colour('functional', 'functional', 'darker');
	}
}

.button--functional--loading {
	background-color: colour('functional', 'functional', 'darker');

	&:hover, &:focus, &:active {
		background-color: colour('functional', 'functional', 'darker');
	}

	&:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 63.8 63.9' aria-labelledby='svg-loading' role='img'%3E %3Ctitle id='svg-loading' lang='en'%3Eloading%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M34.1.1C16.7-1.1 2 11.6 0 28.1-.2 30.2 1.4 32 3.5 32c1.8 0 3.3-1.3 3.5-3.1C8.6 15.7 20.7 5.6 34.7 7.2c11.5 1.3 20.7 10.5 22 22C58.3 44.2 46.5 57 31.8 57c-6.3 0-12.1-2.4-16.5-6.3-1.3-1.2-3.3-1.2-4.6 0-1.6 1.4-1.6 3.8 0 5.2 5.6 5 13.1 8 21.2 8C50.2 64 65 48.4 63.7 29.7 62.6 14 49.8 1.2 34.1.1z' class='st0'/%3E %3C/svg%3E") !important;
		animation: steady-spin 1s infinite linear;

		.no-cssanimations & {
			background-image: url('../images/loading.gif');
		}
	}
}

.button--functional--success {
	background-color: colour('functional', 'success');

	&:hover, &:focus {
		background-color: colour('functional', 'success', 'dark');
	}

	&:active {
		background-color: colour('functional', 'success', 'darker');
	}

	&:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 53.1' aria-labelledby='svg-check' role='img'%3E %3Ctitle id='svg-check' lang='en'%3Echeck%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M62.7 10.4l-31 40.2c-.5.6-1 1.1-1.6 1.5-.1 0-.1.1-.2.1-1 .6-2.1.9-3.3.9-1.4 0-2.8-.4-4-1.3L2.5 36.3C-.3 34.1-.9 30 1.3 27.2s6.3-3.4 9.1-1.2l15 11.5 27-35c2.2-2.8 6.3-3.4 9.1-1.2s3.3 6.3 1.2 9.1z' class='st0'/%3E %3C/svg%3E") !important;
	}
}



.button--functional--fail {
	background-color: colour('brand', 'red');;

	&:hover, &:focus {
		background-color: colour('brand', 'red', 'dark');
	}

	&:active {
		background-color: colour('brand', 'red', 'darker');
	}

	&:after {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' aria-labelledby='svg-cross' role='img'%3E %3Ctitle id='svg-cross' lang='en'%3Ecross%3C/title%3E %3Cstyle%3E .st0%7Bfill:%23FFFFFF;%7D %3C/style%3E %3Cpath d='M44.6 32l16.8-16.8c3.5-3.5 3.5-9.1 0-12.6s-9.1-3.5-12.6 0L32 19.4 15.2 2.6C11.7-.9 6.1-.9 2.6 2.6s-3.5 9.1 0 12.6L19.4 32 2.6 48.8c-3.5 3.5-3.5 9.1 0 12.6 1.7 1.7 4 2.6 6.3 2.6s4.5-.9 6.3-2.6L32 44.6l16.8 16.8c1.7 1.7 4 2.6 6.3 2.6s4.5-.9 6.3-2.6c3.5-3.5 3.5-9.1 0-12.6L44.6 32z' class='st0'/%3E %3C/svg%3E") !important;
	}
}

.button--full--width{
	width: 100%;
}

@media ( max-width: 640px ) {

	.button--full--width--mobile{
		width: 100%;
	}
}

.button--panel{
	background: colour('brand', 'white');
	border-radius: 0;
	color: colour('brand', 'red');
	padding: 0;
	width: 100%;
	font-size: 2em;
	padding-top: 1em;
	text-align: center;
	max-width: 375px;
	border: 1px solid rgba( 0, 0, 0, .15 );
	
	img{
		margin: 0 auto;
	}
	
	&:hover,
	&:focus,
	&:active{
		color: colour('brand', 'red');
		background: colour('brand', 'white');
		text-decoration: underline;
	}
}

// @todo move this a keyframes file.
@keyframes steady-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}