/// ----------------------------------------------------------------------

/// Flags

/// ----------------------------------------------------------------------

.flag--round {
  @extend %image-round;
  height: 60px;
  width: 58px;
  transform: scale(.5);
  transform-origin: 0 0;
  position: absolute;
  left: 0;
  top: 5px;
  border: 1px solid colour('brand', 'medium-grey');
}
