/// ----------------------------------------------------------------------

/// Forms

/// ----------------------------------------------------------------------

/// ------------------- 
/// Labels
/// -------------------

.input__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  
  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: colour('brand', 'medium-grey');
    height: 2px;
    z-index: z(default);
    transition: movementSetting('transition', 'base');
  }
  
  &::after {
    background-color: colour('functional', 'functional');
    z-index: z(default) + 1;
    width: 0;
  }
}

.input__label__text {
  display: inline-block;
  padding: .75em;
  pointer-events: none;
  transition: movementSetting('transition', 'base');
 }

/// ------------------- 
/// Label transition
/// -------------------

.input input:focus,
.input textarea:focus,
.input input:not([value=""]),
.input textarea:not([value=""]), {
  & + .input__label {
    & > .input__label__text {
      transform: translate(0, -3em);
      padding-left: 0;
    }

    &::after {
      width: 100%;
    }
  }
}

/// ------------------- 
/// Label modifiers
/// -------------------

.input__label--inline {
  display: inline-block;
  cursor: pointer;
}

.input__label--wrap {
  display: block;
  margin-bottom: .5rem;
  cursor: pointer;
}

/// ------------------- 
/// Inputs
/// -------------------

.input {
  display: block;
  position: relative;
  margin-top: 3rem;
  margin-bottom: 1em;
  max-width: 300px;
}

%input-base {
  margin-bottom: 0;
  padding: .75em;
  box-shadow: none;
  background-color: colour('tertiary', 'grey--light');
  display: block;
  width: 100%;
  font-size: 1.125em;
  border: 1px solid transparent;

  &:focus {
    outline: none;
  }
}

/// ------------------- 
/// Input states
/// -------------------

.input {
  & :disabled {
    & + .input__label {
      opacity: .3;
    }
  }

  & .error,
  & :invalid {
    color: colour('brand', 'red');
    border: 1px solid colour('brand', 'red');
    background-color: transparentize( colour('brand', 'red'), .9 );
    
    & + .input__label::after {
      background-color: colour('brand', 'red');
      width: 100%;
    }
  }
}

/// ------------------- 
/// Common inputs
/// -------------------

.input__text {
  @extend %input-base;
}

.input__email {
  @extend %input-base;
}

.input__number {
  @extend %input-base;
}

.input__search {
  @extend %input-base;
}

.input__tel {
  @extend %input-base;
}

.input__url {
  @extend %input-base;
}

.input__date {
  @extend %input-base;
}

/// ------------------- 
/// Input modifiers
/// -------------------

.input--white {
  background-color: colour('brand', 'white');
}

.input--btn {
  display: block;
  max-width: 300px;
}

/// ------------------- 
/// Password
/// -------------------

.input__password {
  @extend %input-base;
}

.input__password__toggle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .3;
  width: 3em;
  transition: movementSetting('transition', 'base');
  border: none;
  background: none;
  @extend %rc-icon;
  @extend .rc-icon-view--show--dark;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }
}

/// ------------------- 
/// Textarea
/// -------------------

.input__textarea {
  @extend %input-base;
  resize: vertical;
  height: 200px;
  background-color: colour('tertiary', 'grey--light');
}

/// ------------------- 
/// Checkboxes & radio buttons
/// -------------------

.input__checkbox,
.input__radio {
  margin-right: .2rem;
}

%rc-checkbox-radio {
  display: none;
  
  & + .input__label--inline {
    margin-left: 2rem;
    
    &::before {
      content: '';
      display: inline-block;
      border: 1px solid colour('brand', 'medium-grey');
      background-color: colour('tertiary', 'grey--light');
      width: 1.5rem;
      height: 1.5rem;
      position: absolute;
      left: 0;
    }

    &::after {
      position: absolute;
    }
  }
}

/// ------------------- 
/// Checkbox modifiers
/// -------------------

.input__checkbox--custom {
  @extend %rc-checkbox-radio;

  & + .input__label--inline::before {
    border-radius: 4px;
  }
  
  &:checked + .input__label--inline::after {
    @extend %rc-icon;
    @extend .rc-icon-feedback--success--small--red;
    top: -4px;
    left: -4px;
  }
}

.input__checkbox--featured {
  @extend %rc-checkbox-radio;

  & + .input__label--inline::before {
    border: none;
  }
  
  &:checked + .input__label--inline::after {
    @extend %rc-icon;
    @extend .rc-icon-feedback--success--small--red;
    top: -4px;
    left: -4px;
  }
}

/// ------------------- 
/// Radio modifiers
/// -------------------

.input__radio--custom {
  @extend %rc-checkbox-radio;

  & + .input__label--inline::before {
    border-radius: 1.5rem;
  }
  
  &:checked + .input__label--inline::after {
    content: '';
    background-color: colour('brand', 'red');
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    top: 4px;
    left: 4px;
  }
}

/// ------------------- 
/// Select inputs - choices.js
/// -------------------

[role="listbox"].choices {
  border-bottom: 3px solid #87888A;
  box-shadow: getShadow('black', 'faint');
  cursor: pointer;

  & > .choices__inner {
    background-color: colour('tertiary', 'grey--light');
    border: none;
    border-radius: 0;
  }
}

[role="listbox"].choices--white {
  & > .choices__inner {
    background-color: colour('brand', 'white');
  }
}

[role="listbox"].choices::after {
  @extend %rc-icon;
  @extend .rc-icon-chevron--down--small--red;
  height: 32px;
  width: 32px;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  position: absolute;
  cursor: pointer;
}

[role="listbox"].choices.is-focused::after {
  transform: translateY(-50%) rotate(180deg);
}

[role="listbox"].choices .choices__item--selectable.is-highlighted {
  background-color: colour('tertiary', 'blue--light');
}

.choices__list--multiple .choices__item {
  background-color: colour('brand', 'red');
  border: none;
  border-radius: 0;
  padding: .75em;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: colour('brand', 'red', 'dark');
  border: none;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
  background-image: none;
  border-left: none;
  width: 1.5rem;
  margin: 0;
  padding: 0;

  &::after {
    @extend %rc-icon;
    @extend .rc-icon-close--small--light::after;
    position: absolute;
    right: -8px;
    top: -10px;
  }
}

/// ------------------- 
/// Datepicker - native
/// -------------------

::-webkit-calendar-picker-indicator {
  color: colour('brand', 'red');
  cursor: pointer;
}

/// ------------------- 
/// Datepicker - fallback
/// -------------------

.pika-lendar > table {
  display: table;
}

.pika-single {
  background-color: white;
  text-align: center;
}

.pika-table th,
.pika-row .is-empty {
  background-color: white;
}

.is-today .pika-button {
  color: colour('brand', 'red');
}

.pika-table abbr {
  display: block;
  text-align: center;
}

.pika-single .is-selected .pika-button {
  background-color: colour('functional', 'functional');
}

.pika-button:hover {
  background-color: colour('brand', 'red');
}

.pika-button {
  background-color: white;
  border: none;
  display: inline-block;
}

.pika-row > td {
  padding: 0;
  text-align: center;
}