%pager__item__link {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0 .25em;
  background-color: colour('brand', 'light-grey');
  border: 2px solid transparent;
  border-radius: 100%;
  overflow: hidden;
  transition: background-color .2s ease-in-out, border .2s ease-in-out;
  color: transparent;
  padding: 0;
  cursor: pointer;

  &:hover, &:focus {
    border-color: colour('brand', 'red');
  }
}

%floating-button {
  box-shadow: 0 2px 4px #f1f1f1;
  background: colour('brand', 'white');
}

.pager {
  margin: 0;
  padding: 0;
}

.pager__item {
  list-style: none;
  display: inline-block;
}

.pager__item__link {
  @extend %pager__item__link;
}

%pager--active {
  background-color: colour('brand', 'red');

  &:hover,
  &:focus {
    background-color: colour('brand', 'red', 'dark');
  }

  &:active {
    background-color: colour('brand', 'red', 'dark');
  }
}

.pager--active {
  @extend %pager--active;
}


%interactive--navigation {
  display: inline-block;
  transition: background-color .2s ease-in-out;
  background-color: colour('brand', 'red');
  overflow: hidden;
  border: 1px solid rgba( 0, 0, 0, .15 );
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: colour('brand', 'red', 'dark');
  }

  &:active {
    background-color: colour('brand', 'red', 'dark');
  }
}

.interactive-grey {
  background-color: colour('brand', 'red');
}

%interactive--navigation--round {
  @extend %interactive--navigation;
  border-radius: 100%;
}

%response {
  border: 1px solid colour('brand', 'light-grey');
  @extend %interactive--navigation--round;
  background-color: white;
  height: auto;
  width: auto;
  padding: .5rem;

  &:hover, &:focus {
    background-color: colour('brand', 'white', 'dark');
  }

  &:active {
    background-color: colour('brand', 'white', 'dark');
  }
}

.navigation--round {
  @extend %interactive--navigation--round;
  overflow: hidden;
  background-color: colour('brand', 'red');

  &:hover,
  &:focus {
    background-color: colour('brand', 'red', 'dark');
  }

  &:active {
    background-color: colour('brand', 'red', 'dark');
  }
}

%navigation--prev {
  @extend %interactive--navigation;

  &::after {
    transform: translate(-3px, -2px);
    @extend %extend-icon-base;
    @extend .rc-icon-chevron--left--white::after;
  }

}

%navigation--next {
  @extend %interactive--navigation;

  &::after {
    transform: translate(-2px, -1px);
    @extend %extend-icon-base;
    @extend .rc-icon-chevron--right--white::after;
  }
}

.navigation--next {
   @extend %navigation--next;
}

.navigation--prev {
  @extend %navigation--prev;
}


.response--affirmative {
  @extend %response;
  @extend %floating-button;

  &::after {
    @extend %extend-icon-base;
    @extend .rc-icon-check--green::after;
  }

  &:hover,
  &:focus,
  &.interactive--response--active {
  }
}

.response--negative {
  @extend %response;
  @extend %floating-button;

  &::after {
    @extend %extend-icon-base;
    @extend .rc-icon-cross--red::after;
  }

  &:hover,
  &:focus,
  &.interactive--response--active {
  }
}

.navigation--round--prev {
  border-radius: 100%;
  @extend %navigation--next;

}

.navigation--round--next {
  border-radius: 100%;
  @extend %navigation--prev;

}

%menu-toggle {
  background-color: transparent;
  border: none;
  position: fixed;
  z-index: 999;
  cursor: pointer;
  top: 0;

  @media (get-breakpoint('large')) {
    display: none;
  }
}

.menu-toggle--left {
  @extend %menu-toggle;
  left: 0;
  right: auto;
  transform: translate(1.25rem, 1.25rem);
}

.menu-toggle--right {
  @extend %menu-toggle;
  left: auto;
  right: 0;
  transform: translate(-1.25rem, 1.25rem);
}