/// ----------------------------------------------------------------------

/// Lists

/// ----------------------------------------------------------------------

/// ------------------- 
/// Standard List
/// -------------------

.list--standard {
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;

  .list--standard__item {
    position: relative;
    line-height: 1.5;
    margin-bottom: .25em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list--standard {
    margin-top: .5em;
    margin-bottom: .5em;
  }
}

/// ------------------- 
/// List Modifiers
/// -------------------

%list--blank {
  list-style-type: none;
}

.list--blank {
  @extend %list--blank;
}

%list--align {
  padding: 0;
  margin-left: 0;
  list-style-position: inside;
}

.list--align {
  @extend %list--align;
}

/// ------------------- 
/// Significant List
/// -------------------

.list--significance {
  @extend %list--blank;
  @extend %list--align;
  box-shadow: getShadow('black', 'faint');
}

.list--significance__item {
  border-bottom: 1px solid colour('brand', 'medium-grey', 'light');
  margin-bottom: 0;
  display: block;
  padding: 1em;
  padding-right: 3.5em;
  color: colour('functional', 'text');
  background-color: colour('brand', 'white');
  transition: movementSettings('transition', 'base');
  position: relative;

  & .rc-icon {
    position: absolute;
    right: 1em;
  }

  &:last-child {
    border-bottom-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: colour('brand', 'light-grey', 'light');
  }

  &.active {
    background-color: colour('brand', 'light-grey', 'light');
    border-left: 4px solid colour('brand', 'red');

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -4px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-left: 4px solid colour('brand', 'red');
      border-bottom: 4px solid transparent;
    }
  }
}

.list--significance__link {
  text-decoration: none;
  color: colour('functional', 'text');
}

/// ------------------- 
/// Icon List
/// -------------------

%list--icon {
  margin: .8rem 0;
  padding-left: 2rem;
  position: relative;

  &::after {
    @extend %rc-icon;
    position: absolute;
    left: 0;
    top: -6px;
  }
}

.list-icon--feedback--success {
  @extend %list--icon;

  &::after {
    @extend .rc-icon-feedback--success--small--dark::after;
  }
}

.list-icon--arrow--go {
  @extend %list--icon;

  &::after {
    @extend .rc-icon-arrow--go--small--dark::after;
  }
}

.list-icon--chevron--down {
  @extend %list--icon;

  &::after {
    @extend .rc-icon-chevron--down--small--dark::after;
  }
}

.list-icon--chevron--right {
  @extend %list--icon;

  &::after {
    @extend .rc-icon-chevron--right--small--dark::after;
  }
}

.list--icon  {
  display: flex;
  align-items: center;
}