.logo-svg {
  width: 100%;
  height: auto;
  right: auto;
  margin: 0;
  text-align: center;
  pointer-events: none;
}

.svg-wrapper-link {
  display: block;
  position: relative;
}

$logo--primary-width: 150px;
$logo--primary-height: 100px;

$logo--primary-width--small: 100px;
$logo--primary-height--small: 50px;

$logo--secondary-height: 80px;

.logo--primary {
  min-height: 60px;
  max-height: $logo--primary-height;
}

.logo--secondary {
  min-height: 20px;
  max-height: $logo--secondary-height;
}

.logo--crown {
  max-height: 30px;
}


.logo--crown--badge {
  display: inline-block;
  vertical-align: middle;
  background-color: colour('brand', 'white');
  border-radius: 999px;
  height: 50px;
  width: 50px;
  padding: 10px;

  & .logo-svg {
    position: relative;
    left: -2px;
    top: 1px;
  }

  & .logo--crown {
    width: 35px;
    height: 25px;
  }
}