%crown-logo {
  width: 150px;
  height: 60px;

  &::after {
    width: 75px;
    height: 30px;
    transform: scale(2.5);
    transform-origin: 0 0;
  }
}

.rc-icon-royal-canin-secondary,
.rc-icon-royal-canin-primary,
.rc-icon-royal-canin-crown {
  @extend %crown-logo;
}

.rc-icon-royal-canin-crown {

  &::after {
    height: 45px;
    width: 70px;
  }
}

.rc-icon-royal-canin-secondary {

  &::after {
    height: 40px;
    transform: scale(2.5) translate(-9px, -7px);
  }
}

.rc-icon-royal-canin-primary {
  height: 64px;

  &::after {
    height: 32px;
    width: 65px;
    transform: scale(2.75) translate(-3px, -9px);
  }
}

.rc-icon-royal-canin-crown {
  &::after {
    transform: scale(1.75) translate(8px, -6px);
  }
}

.rc-icon-royal-canin-secondary.large,
.rc-icon-royal-canin-primary.large {
  width: 300px;
  height: 200px;

  &::after {
    transform: scale(4) translate(-2px, 2px);
  }
}

.rc-icon-royal-canin-crown.large {
  width: 200px;
  height: 200px;

  &::after {
    transform: scale(4) translate(-1px, 2px);
    height: 37px;
    width: 60px;
  }
}