%svg-base {
  min-height: 60px;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

.logo-svg {
  width: 100%;
  height: auto;
  right: auto;
  margin: 0;
  text-align: center;
  pointer-events: none;

  & switch {
    display: inline-block;
  }
}

.svg-wrapper-link {
  display: block;
  position: relative;
}

//.hide-me-from-older-browsers {
//  display: none;
//  visibility: hidden;
//}

svg|g.hide-me-from-older-browsers {
  display: inline;
  visibility: visible;
}

$logo--primary-width: 150px;
$logo--primary-height: 100px;

$logo--primary-width--small: 100px;
$logo--primary-height--small: 50px;

.logo--primary {
  @extend %svg-base;
}

.logo--secondary {
  @extend %svg-base;
}

.logo--crown {
  @extend %svg-base;
}


.logo--crown--badge {
  display: inline-block;
  vertical-align: middle;
  background-color: colour('brand', 'white');
  border-radius: 999px;
  height: 50px;
  width: 50px;
  padding: 10px;

  & .logo-svg {
    position: relative;
    left: -2px;
    top: -14px;
  }

  & .logo--crown {
    width: 35px;
    height: 25px;
  }
}