.micro-form {
}

.form--text-submit {
  position: relative;
  z-index: z(default) - 1;

  & > button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3rem;
    border-radius: 0;
    margin: 0;
    z-index: z(default);

    &::after {
      z-index: z(default) - 1;
      right: 0.5rem;
      @extend %rc-icon;
      @extend .rc-icon-arrow--go--light;
    }
  }

  & label {
    z-index: z(default) - 1;
  }
}