.search-bar {
  display: block;
  background-color: colour('brand', 'white');
  max-width: 9999px;

  & > [type="search"] {
    background-color: colour('brand', 'white');
    display: block;
    width: 100%;
    padding: 2rem;
    padding-left: 5rem;
    color: colour('functional', 'text');
    line-height: 2em;

    &:focus + label::after {
      display: none;
    }

    &:focus ~ [aria-label="Close"] {
      transform: translateY(-50%);
      top: 50%;
      pointer-events: none;

      &::after {
        @extend %extend-icon-base;
        @extend .rc-icon-loader--dark::after;
      }
    }

    &:focus ~ [aria-label="Close"]::after {
        top: -2em;
        right: -10px;
        transform-origin: 46% 50%;
        animation: steady-spin 1s infinite linear;

        .no-cssanimations & {
          background-image: url('../images/loading.gif');
        }
      }
  }

  & > button {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      transform-origin: 50% 50%;
    }
  }

  & > [aria-label="Close"] {
    left: auto;
    right: 1rem;

    &::after {
      @extend %extend-icon-base;
      @extend .rc-icon-cross--dark::after;
    }
  }

  & > [type="submit"]::after {
    @extend %extend-icon-base;
    @extend .rc-icon-search--red::after;
  }

  & > label::before {
    background-color: transparent;
  }
}