%shade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: z(shade);
}

.shade--grey {
  background-color: rgba(colour('brand', 'medium-grey'), 0.75);
  @extend %shade;
}

.shade--black {
  background-color: rgba(black, .5);
  @extend %shade;
}