/*! nouislider - 9.2.0 - 2017-01-11 10:35:35 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: z(default) + 1;
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-handle {
  position: relative;
  z-index: z(default);
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top .3s, right .3s, bottom .3s, left .3s;
  transition: top .3s, right .3s, bottom .3s, left .3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: .5rem;
  margin: 50px 0;
}

.noUi-target::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 8px;
  top: 50%;
  margin-top: -4px;
  background-color: colour('brand', 'light-grey');
}

.noUi-connect {
  background-color: colour('brand', 'red');
  box-shadow: getShadow('grey', 'inset');
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-draggable {
  cursor: ew-resize;
}

.noUi-handle {
  cursor: -webkit-grab;
  // @todo - replace with desired SVG
//   background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 34.6' aria-labelledby='svg-royal-canin-crown' role='img'%3E %3Cstyle%3E .st0%7Bfill:%23FFF;%7D %3C/style%3E %3Ctitle id='svg-royal-canin-crown' lang='en'%3Eroyal-canin-crown%3C/title%3E %3Cpath d='M12.7 31.4c-.6 0-1.1-.3-1.5-.8-.6-.8-.5-2 .4-2.6 5-3.7 12.7-6 20.5-6 7.8 0 15.4 2.2 20.4 6 .8.6 1 1.8.4 2.6s-1.8 1-2.6.4c-3.4-2.5-9.9-5.2-18.2-5.2-8.3 0-14.8 2.7-18.2 5.2-.4.3-.8.4-1.2.4m1.7 3.2c.3 0 .6-.1.8-.3 3.8-3.1 10.3-5.1 16.8-5.1 6.6 0 12.9 1.9 16.8 5.1.5.5 1.4.4 1.8-.2.5-.6.4-1.4-.2-1.8-4.3-3.6-11.2-5.7-18.4-5.7-7.2 0-14.1 2.1-18.4 5.7-.6.5-.6 1.3-.2 1.8.3.3.6.5 1 .5M4.3 7.5c-.8 0-1.5.2-2.2.6-1 .6-1.7 1.5-2 2.6-.2 1.2-.1 2.3.5 3.3.8 1.3 2.2 2.1 3.7 2.1.8 0 1.5-.2 2.2-.6 1-.6 1.7-1.5 2-2.6.3-1.1.1-2.3-.5-3.3-.7-1.3-2.2-2.1-3.7-2.1M32 10.8c-2.4 0-4.3 1.9-4.3 4.3s1.9 4.3 4.3 4.3 4.3-1.9 4.3-4.3c0-2.3-1.9-4.3-4.3-4.3M32 0c-2.4 0-4.3 1.9-4.3 4.3s1.9 4.3 4.3 4.3 4.3-1.9 4.3-4.3S34.4 0 32 0M20.5 12.3c-.4 0-.8.1-1.1.2-2.3.6-3.7 3-3 5.3.5 1.9 2.2 3.2 4.1 3.2h.1c.4 0 .7-.1 1.1-.2 1.1-.3 2-1 2.6-2 .6-1 .7-2.2.4-3.3-.5-1.9-2.2-3.2-4.2-3.2M9.8 16.8c-.8 0-1.5.2-2.2.6-1 .6-1.7 1.5-2 2.6-.3 1.1-.1 2.3.5 3.3.8 1.3 2.2 2.1 3.7 2.1.8 0 1.5-.2 2.2-.6 1-.6 1.7-1.5 2-2.6.3-1.1.1-2.3-.5-3.3-.7-1.3-2.2-2.1-3.7-2.1m34.8-4.3c-.4-.1-.8-.2-1.1-.2-1.9 0-3.7 1.3-4.2 3.2-.6 2.3.7 4.7 3 5.3.4.1.8.2 1.1.2 1.9 0 3.7-1.3 4.2-3.2.7-2.3-.7-4.7-3-5.3M47.5 2c-.4-.1-.8-.2-1.1-.2-1.9 0-3.6 1.3-4.2 3.2-.6 2.3.7 4.7 3 5.3.4.1.8.2 1.1.2 1.9 0 3.7-1.3 4.2-3.2.6-2.3-.7-4.6-3-5.3m8.9 15.4c-.7-.4-1.4-.6-2.2-.6-1.5 0-2.9.8-3.7 2.1-.6 1-.8 2.2-.5 3.3.3 1.1 1 2.1 2 2.6.7.4 1.4.6 2.2.6 1.5 0 2.9-.8 3.7-2.1.6-1 .8-2.2.5-3.3-.3-1.1-1-2-2-2.6m7.5-6.7c-.3-1.1-1-2.1-2-2.6-.7-.4-1.4-.6-2.2-.6-1.5 0-2.9.8-3.7 2.1-.6 1-.8 2.2-.5 3.3.3 1.1 1 2.1 2 2.6.7.4 1.4.6 2.2.6 1.5 0 2.9-.8 3.7-2.1.6-1 .7-2.1.5-3.3m-46.2-.2c.4 0 .8-.1 1.1-.2 2.3-.6 3.6-3 3-5.3-.5-1.9-2.2-3.2-4.2-3.2-.4 0-.8.1-1.1.2-2.3.6-3.7 3-3 5.3.5 1.9 2.2 3.2 4.2 3.2z' class='st0'/%3E %3C/svg%3E");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: colour('brand', 'red');
  border-radius: 999px;
  height: 20px;
  width: 20px;
  margin-left: -10px;
  margin-top: -6px;
  display: block;
}

.noUi-marker-horizontal {
  &.noUi-marker,
  & .noUi-marker-sub {
    height: 50px;
    top: -30px;
    width: 2px;
    z-index: z(default);
  }

  &.noUi-marker-normal {
    height: 30px;
    top: -20px;
  }
}

.noUi-active {
  cursor: -webkit-grabbing;
}

[disabled] .noUi-connect {
  background-color: colour('brand', 'light-grey', 'light');
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  position: absolute;
  color: colour('brand', 'light-grey');
}

.noUi-value {
  position: absolute;
  text-align: center;
}

.noUi-value-sub {
  color: colour('brand', 'light-grey');
  font-size: 10px;
}

.noUi-marker {
  position: absolute;
  background-color: colour('brand', 'light-grey', 'light');
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  top: -55px;
}

.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid colour('brand', 'light-grey', 'light');
  border-radius: 3px;
  background-color: colour('brand', 'white');
  color: black;
  padding: 5px;
  text-align: center;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
