$social-color-facebook: #3B5998;

// Katy Decorah
// Instagram
// http://codepen.io/katydecorah/pen/PNLePj
$social-color-instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

$social-color-instagram-fallback: #BA00B1;
$social-color-twitter: #1DA1F3;
$social-color-youtube: #CD201F;

%social-links {
  text-align: center;

  & > ul {
    display: inline-block;
  }

  ul {
    position: relative;
    display: inline-block;
  }

  ul,
  .social-links__item {
    margin: 0;
  }
}

.social-links {
  @extend %social-links;
}

%social-link {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transform: scale(0.8);
  transition: background-color .2s ease-in-out;

  &::after {
    height: 65px;
    width: 65px;
    position: absolute;
    top: .75rem;
    left: .75rem;
    transform: scale(0.4);
    transform-origin: 0 0;
  }

  &:hover {
      transform: scale( 0.9 );
  }
}

.social-links__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: .25em;
  margin-right: .25em;
}

.social__network--facebook {
  @extend %social-link;
  background-color: $social-color-facebook;
}

.social__network--instagram {
  @extend %social-link;
  background-color: $social-color-instagram-fallback; // IE9
  background-image: $social-color-instagram;
}

.social__network--twitter {
  @extend %social-link;
  background-color: $social-color-twitter;
}

.social__network--youtube {
  @extend %social-link;
  background-color: $social-color-youtube;
}

.social-links__label {
  display: block;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
  padding: 1em 0;
}

.social-links--red-bkgrnd {
  @extend %social-links;

  .social-links__item > a {
    background-color: colour('brand', 'red');

    &:hover, &:focus {
      background-color: colour('brand', 'red', 'dark');
    }

    &:active {
      background-color: colour('brand', 'red', 'dark');
    }
  }
}

.social-links--red-icons {
  @extend %social-links;

  .social-links__item > a {
    background-color: colour('brand', 'white');

    &:hover, &:focus {
      background-color: colour('brand', 'white', 'dark');
    }

    &:active {
      background-color: colour('brand', 'white', 'dark');
    }
  }
}

.social--label--side {
  .social-links__label, ul {
    display: inline-block;
    vertical-align: middle;
  }
}

.social--box {
  ul {
    margin-top: .25em;
    background-color: colour('brand', 'white');
    border: 1px solid colour('brand', 'medium-grey', 'light');
    padding: .75em;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      width: 1em;
      height: 1em;
      background-color: colour('brand', 'white');
    }

    &:before {
      transform: translateX( -.5em ) translateY( -.5em ) rotate( 45deg );
      z-index: 1;
      border: 1px solid colour('brand', 'medium-grey', 'light');
    }

    &:after {
      z-index: 2;
      width: 2em;
      height: .75em;
      margin-left: -1em;
    }
  }
}

.social--label--side.social--box {
  @media ( max-width: 639px ) {
    label {
      display: block;
    }
  }

  @media (get-breakpoint('small')) {
    ul {
      margin-top: 0;
      margin-left: .25em;

      &:before, &:after {
        top: 50%;
        left: 0;
      }

      &:after {
        transform: translateY( -1em );
        width: .75em;
        height: 2em;
        margin-left: 0;
      }
    }

  }
}