table	{
  display: block;
  overflow-x: auto;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;

  th, td {
    border-right: 1px solid colour('brand', 'light-grey', 'light');
    padding: .875em 1em;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      border-right: none;
    }
  }

  .table--highlight {
    background-color: colour('brand', 'red');
    color: colour('brand', 'white');
  }

  thead {
    .table--highlight {
      background-color: colour('brand', 'red', 'dark');
    }
  }

  tbody {
    tr:nth-child( even ) {
      background-color: colour('brand', 'light-grey');

      .table--highlight {
        background-color: colour('brand', 'red', 'dark');
      }
    }
  }

  th {
    background-color: colour('brand', 'light-grey');
    color: colour('brand', 'red');
  }

  // Removes margin from custom checkbox element, where used.
  label {
    margin-bottom: 0;
  }
}

.table--blank {
  tbody {
    tr:nth-child( even ) {
      background-color: inherit;
    }
  }
}