.tippy-popper {
  z-index: z(tooltip);
}

.rc-tooltip,
.tippy-tooltip {
  z-index: z(tooltip);
  display: block;
  background-color: colour('brand', 'white');
  width: auto;
  box-shadow: getShadow('black', 'soft');

  p {
    margin: 0;
  }

  > p {
    font-size: .875em;
  }

  @media (get-breakpoint-up('x-small')) {
    max-width: 480px;
  }
}

[data-tooltip] {
  cursor: pointer;
}

.tippy-tooltip {
  color: colour('functional', 'text');
  padding: 0;
  box-shadow: getShadow('black', 'soft');
}

.tippy-popper[x-placement^=top] [x-arrow].arrow-big {
  border-top-color: white;
}

.tippy-popper[x-placement^=right] [x-arrow].arrow-big {
   border-right-color: white;
}

.tippy-popper[x-placement^=bottom] [x-arrow].arrow-big {
  border-bottom-color: white;
}

.rc-tooltip__pad,
.tippy-tooltip-content {
  padding: get-spacer('small');
}


[x-placement="bottom"].tippy-popper {
  margin-top: -120px;
}