[role="alert"], .alert {
	text-align: center;
	border: 2px solid $rc-red;
	border-radius: 25px;
	padding: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	strong {
		font-weight: 300;
	}

	&.alert--error {
		background-color: transparentize( $rc-red, .9 );
		color: $rc-red;
	}

	&.alert--success {
		border-color: $rc-tertiary-green;
		color: darken( $rc-tertiary-green, 25% );
		background-color: transparentize( $rc-tertiary-green, .9 );
	}


	// @todo make this into a variable
	@media ( min-width: 640px ) {
		border-radius: 50px;
	}
}