@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">


			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Alerts</h1>
				<p>Usage and implementation for Alerts within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Alerts are a way of displaying feedback to a user when the user has carried out a task. </p>
					<p>Alert success shows the user when they have succeeded in a task.</p>
					<p>Alert error shows the user when the task they carried out did not work.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement alerts into your code.</p>


			<section class="gs-present">
				<header>
					<label class="gs-present__label">Success</label>
					<p>The alert success message can be changed to your own message or desired language.</p>
				</header>

				@@include('./01-components/alerts/_alert.html', {
					"class": "alert--success",
					"message": "Congrats, you have done something well!"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/alerts/_alert.html', {
					"class": "alert--success",
					"message": "Congrats, you have done something well!"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Error</label>
					<p>The alert success message can be changed to your own message or desired language.</p>
				</header>

				@@include('./01-components/alerts/_alert.html', {
					"class": "alert--error",
					"message": "Oh dear, you have done something wrong!"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/alerts/_alert.html', {
					"class": "alert--error",
					"message": "Oh dear, you have done something wrong!"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Standard</label>
					<p>The alert success message can be changed to your own message or desired language.</p>
				</header>

				@@include('./01-components/alerts/_alert.html', {
					"class": "",
					"message": "Standard Alert. Neither positive or negative."
				})

				<pre><code class="gs-code language-html">@@include('./01-components/alerts/_alert.html', {
					"class": "",
					"message": "Standard Alert. Neither positive or negative."
				})</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/alerts/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')

