button {
	font-family: $font-din;
	background-color: $rc-red;
	color: #FFFFFF;
	border: none;
	font-size: .875em;
	text-transform: uppercase;
	padding: 12px 20px;

	&:hover, &:focus {
		background-color: $rc-red--hover;
	}

	&:active {
		background-color: $rc-red--active;
	}

	// Icons
	svg {
		display: inline-block;
		vertical-align: bottom;
		fill: #FFFFFF;
		width: 1em;
		height: 1em;
		line-height: 1;
		transform: scale(1.25);
		margin-left: 10px;
		margin-right: -8px; // Half of button horizontal padding - difference after scaling up.
	}

	// Sizes
	&.button--medium {
		padding: 14.5px 35px;

		svg {
			transform: scale(1.375);
			margin-left: 17.5px;
			margin-right: -13px; // Half of button horizontal padding - difference after scaling up.
		}
	}

	&.button--large {
		font-size: 1em;
		padding: 16px 40px;

		svg {
			transform: scale(1.375);
			margin-left: 20px;
			margin-right: -18px; // Half of button horizontal padding - difference after scaling up.
		}
	}

	// Variations
	&.button--success {
		background-color: $rc-green;
	}

}