button {
	font-family: $font-din;
	background-color: $rc-red;
	color: #FFFFFF;
	border: none;
	font-size: .875em;
	text-transform: uppercase;
	padding: 12px 20px;

	&:hover, &:focus {
		background-color: $rc-red--hover;
	}

	&:active {
		background-color: $rc-red--active;
	}

	// Icons
	svg {
		display: inline-block;
		vertical-align: bottom;
		fill: #FFFFFF;
		width: 1em;
		height: 1em;
		line-height: 1;
		//@ todo add Modernizr fallback for IE9 as it doesn't scale SVGs
		transform: scale(1.25);
		margin-left: .625rem;
		margin-right: - button-icon-right-pull( 1.25, .625rem );
	}

	// Sizes
	&.button--medium {
		padding: 14.5px 35px;

		svg {
			transform: scale(1.375);
			margin-left: 1.09375rem;
			margin-right: - button-icon-right-pull( 1.375, 1.09375rem )
		}
	}

	&.button--large {
		font-size: 1em;
		padding: 16px 40px;

		svg {
			transform: scale(1.375);
			margin-left: 1.25rem;
			margin-right: - button-icon-right-pull( 1.375, 1.25rem )
		}
	}

	// Variations
	&.button--success {
		background-color: $rc-green;
	}

}