@@include('./_site-header.html')



<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1>Buttons</h1>
				<p>Usage and implementation for Buttons within Web Design Language.</p>

				<blockquote>
					<h2 class="rc-head rc-head--6">Standard Button</h2>
					<p>Buttons can be used for a variety of actions.</p>
					<p>Sizing modifier classes can be used to change the size of the Button.</p>
					<p>Button states can give different visual representations to the user.</p>
					<p>Icons can be used within Buttons to hightlight a specific area or action.</p>
				</blockquote>
			</header>


			<h2>Examples</h2>

			<section class="gs-present">
				<header>
					<label>Button</label>
					<p>A standard button can be implemented by copying and pasting the code below into your HTML. No classes are required to implement a standard button and the default color will be the brand red.</p>
					<ul class="list--align list--blank">
						<li><strong>Specifications</strong></li>
						<li><code class="gs-code language-scss">font-size: .875em;</code></li>
						<li><code class="gs-code language-scss">padding: 12px 20px;</code></li>
					</ul>
				</header>

				@@include('./01-components/buttons/_button.html')

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button.html')</code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label>Button Medium</label>
					<p>A modifier class of <code class="gs-code language-html">button--medium</code> can be added to increase the Button padding.</p>
					<ul class="list--align list--blank">
						<li><strong>Specifications</strong></li>
						<li><code class="gs-code language-scss">font-size: .875em;</code></li>
						<li><code class="gs-code language-scss">padding: 14.5px 35px;</code></li>
					</ul>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium" 
				})</code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label>Button Large</label>
					<p>A modifier class of <code class="gs-code language-html">button--large</code> can be added to increase the Button padding and font size.</p>
					<ul class="list--align list--blank">
						<li><strong>Specifications</strong></li>
						<li><code class="gs-code language-scss">font-size: 1em;</code></li>
						<li><code class="gs-code language-scss">padding: 16px 40px;</code></li>
					</ul>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--large" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--large" 
				})</code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label>Button Full Width</label>
					<p>A modifier class of <code class="gs-code language-html">button--full</code> can be added to override the button sizing and make the default full width to the container.</p>
					<p>This class can be used alongside a sizing modifier class.</p>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium button--full"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium button--full"
				})</code></pre>
			</section>

		</div>



		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/buttons/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')


	</div>

</div>

@@include('./_site-footer.html')

