@@include('./_site-header.html')



<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Buttons</h1>
			<p>Buttons can be used for a variety of actions. Button sizing should be utilised to best display on the device being output on. Button states can give different visual representations to the user. Icons can be used within buttons to highlight a specific area or action.</p>

			<div class="gs-present">
				@@include('./01-components/buttons/_button.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button.html')</code></pre>

			<br>

			<div class="gs-present">
				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
				"class": "button--medium" 
			})</code></pre>

			<br>

			<div class="gs-present">
				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--large" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
				"class": "button--large" 
			})</code></pre>

		</div>


		@@include('./_issues.html')

		@@include('./_feedback.html')


	</div>

</div>

@@include('./_site-footer.html')

