@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Buttons - Icon</h1>
				<p>Usage and implementation for Buttons within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>No extra class is required to use an icon in a button. Simply add the required SVG from the list of available icons.</p>
					<p>A button with a size modifier will automatically increase the size of the SVG.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Button with Search icon</label>
				</header>
				@@include('./01-components/buttons/_button-icon.html', {
					"class": "",
					"value": "Button",
					"iconTitle": "search",
					"iconPath": "M56 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8C66.6 35.8 66.6 18.6 56 8zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.3 9.1 31.4 7 36.8 7s10.5 2.1 14.3 5.9S57 21.8 57 27.2s-2.1 10.5-5.9 14.3z"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-icon.html', {
					"class": "",
					"value": "Button",
					"iconTitle": "search",
					"iconPath": "M56 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8C66.6 35.8 66.6 18.6 56 8zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.3 9.1 31.4 7 36.8 7s10.5 2.1 14.3 5.9S57 21.8 57 27.2s-2.1 10.5-5.9 14.3z"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Large Button with Search icon</label>
				</header>
				@@include('./01-components/buttons/_button-icon.html', {
					"class": "button--large",
					"value": "Button",
					"iconTitle": "search",
					"iconPath": "M56 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8C66.6 35.8 66.6 18.6 56 8zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.3 9.1 31.4 7 36.8 7s10.5 2.1 14.3 5.9S57 21.8 57 27.2s-2.1 10.5-5.9 14.3z"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-icon.html', {
					"class": "button--large",
					"value": "Button",
					"iconTitle": "search",
					"iconPath": "M56 8c-5.3-5.3-12.3-8-19.2-8-7 0-13.9 2.7-19.2 8-9.3 9.3-10.5 23.8-3.4 34.4L1.6 55c-2.1 2.1-2.1 5.4 0 7.5s5.4 2.1 7.5 0l12.6-12.6c4.6 3.1 9.8 4.6 15.1 4.6 7 0 13.9-2.7 19.2-8C66.6 35.8 66.6 18.6 56 8zm-4.9 33.5c-3.8 3.8-8.9 5.9-14.3 5.9s-10.5-2.1-14.3-5.9c-7.9-7.9-7.9-20.7 0-28.6C26.3 9.1 31.4 7 36.8 7s10.5 2.1 14.3 5.9S57 21.8 57 27.2s-2.1 10.5-5.9 14.3z"
				})</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/buttons/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')

