@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Buttons</h1>
				<p>Usage and implementation for Buttons within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Buttons can be used for a variety of actions.</p>
					<p>Sizing modifier classes can be used to change the size of the Button.</p>
					<p>Button states can give different visual representations to the user.</p>
					<p>Icons can be used within Buttons to hightlight a specific area or action.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Primary Button</label>
					<p>A primary call to action should be used in areas of importance such as promotion panels or carousels where content is left aligned. It should be considered that no more than 1 primary call to action be used per page, to ensure the user understands the hierarchy of the button importance. A pill style button can be utilised for areas of importance where the content is centre aligned or it suits the design. Text should always be Initial caps Din Pro Medium. The appropriate button size will be handled by media queries in build, but for design options are available below.</p>
					<p><strong>Resize your browser to see the Button at different breakpoints.</strong></p>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--icon-check",
					"value": "Read Article"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--icon-check",
					"value": "Read Article"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Secondary Button</label>
					<p>A secondary call to action should be used when the content the button relates to is of lesser importance than the primary goal of the page. Secondary calls to action should be used for instances such as article cards or product information. As with primary calls to action, secondary are available in 3 sizes and are handled by the CSS.</p>
					<p><strong>Resize your browser to see the Button at different breakpoints.</strong></p>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--secondary button--icon-arrow-right",
					"value": "Read Article"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--secondary button--icon-arrow-right",
					"value": "Read Article"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Tertiary Button</label>
					<p>Tertiary calls to action are to be used when a user has been presented with the primary information on the page but interaction with the button still gives the user a desired outcome such as saving an article.</strong></p>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--tertiary button--icon-arrow-right",
					"value": "Read Article"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--tertiary button--icon-arrow-right",
					"value": "Read Article"
				})</code></pre>
			</section>

<!-- 			<section class="gs-present">
				<header>
					<label class="gs-present__label">Button Medium</label>
					<p>A modifier class of <code class="gs-code language-html">button--medium</code> can be added to increase the Button padding.</p>
					<ul class="list--align list--blank">
						<li><strong>Specifications</strong></li>
						<li><code class="gs-code language-scss">font-size: .875em;</code></li>
						<li><code class="gs-code language-scss">padding: 14.5px 35px;</code></li>
					</ul>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Button Large</label>
					<p>A modifier class of <code class="gs-code language-html">button--large</code> can be added to increase the Button padding and font size.</p>
					<ul class="list--align list--blank">
						<li><strong>Specifications</strong></li>
						<li><code class="gs-code language-scss">font-size: 1em;</code></li>
						<li><code class="gs-code language-scss">padding: 16px 40px;</code></li>
					</ul>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--large" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--large" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Button Full Width</label>
					<p>A modifier class of <code class="gs-code language-html">button--full</code> can be added to override the button sizing and make the default full width to the container.</p>
					<p>This class can be used alongside a sizing modifier class.</p>
				</header>

				@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium button--full"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-class.html', {
					"class": "button--medium button--full"
				})</code></pre>
			</section> -->

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/buttons/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')