@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Icons</h1>
				<p>Usage and implementation for Icons within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Icons are used throughout the Web Design Language to further enhance the UI and assist a user on their journey. Icons can be used within buttons by adding the relevant class and all icons are sized equal to ensure they remain consistent within the button. Icons can also be implemented as an isolated element as part of any content by copying and pasting the relevant markup into your document from the portal.</p>
					<p>The Icons displayed below have been prepared and optimised to use across Royal Canin touchpoints as a set. If an icon that you require does not exist please create an issue and describe the icon you require.</p>
				</blockquote>
			</header>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Icons</label>
				</header>

				<div class="gs-svg-list">
					@@loop("./02-components/07-icons/_icons.html", "./02-components/07-icons/_icons.json")
				</div>
				<pre><code class="gs-code language-html">@@loop("./02-components/07-icons/_icons.html", "./02-components/07-icons/_icons.json")</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-components/07-icons/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')
		
	</div>

</div>

@@include('./_site-footer.html')