<ul class="@@classes">
	<li>This is a standard list item</li>
	<li>
		This is a standard list item with a sub list
		<ul>
			<li>This is a sub list item</li>
			<li>This is a sub list item</li>
			<li>This is a sub list item</li>
		</ul>
	</li>
	<li>This list item has <a href="#">an inline link</a></li>
	<li>This list item contains placeholder text to make it deliberately long - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
	<li>This is another standard list item</li>
</ul>