ul, ol {
	// @todo move to body
	font-family: $font-din;

	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	li {
		line-height: 1.5;
		margin-bottom: .25em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin-top: .5em;
		margin-bottom: .5em;
	}

	&.list--blank {
		list-style-type: none;
	}

	&.list--align {
		padding: 0;
		margin-left: 0;
		list-style-position: inside;
	}

	&.list--icons {
		> li {
			&:before {
			  content: '';
			  display: inline-block;
			  vertical-align: middle;
			  // @todo replace with own SVG
			  background-image: url( 'http://cdn.onlinewebfonts.com/svg/img_332582.svg' );
			  background-size: 1em 1em;
			  height: 1em;
			  width: 1em;
			  margin-right: .75em;
			}
		}
	}
}