ul, ol {
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;

	li {
		position: relative;
		line-height: 1.5;
		margin-bottom: .25em;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin-top: .5em;
		margin-bottom: .5em;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1em;
		height: 1em;
		right: 1em;
		margin-right: .75em;
	}

	&.list--blank {
		list-style-type: none;
	}

	&.list--align {
		padding: 0;
		margin-left: 0;
		list-style-position: inside;
	}

	&.list--significance {
		@extend .list--blank;
		@extend .list--align;
		box-shadow: 0 0 4px rgba( 0, 0, 0, .1 );

		li {
			background-color: #FFFFFF;
			border-bottom: 1px solid $rc-light-grey;
			padding: 1em;
			margin-bottom: 0;
			// @todo make into a variable.
			transition: background 0.1s ease-in;
			padding-right: 3.5em;

			&:hover, &:focus {
				background-color: lighten( $rc-light-grey, 10% );
			}

			&:last-child {
				border-bottom-color: transparent;
			}
		}

		svg {
			display: block;
			width: 1.5em;
			height: 1.5em;
			position: absolute;
			top: 50%;
			margin-top: -.75em;
			right: 1em;
			fill: $rc-warm-grey;
		}

		a {
			display: 	block;
			margin: -1em;
			padding: 1em;
			color: inherit;
			text-decoration: none;
			color: #232323;
		}

		.active {
			background-color: lighten( $rc-light-grey, 10% );
			border-left: 4px solid $rc-red;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -4px;
				left: 0;
				width: 0;
				height: 0;
				border-top: 4px solid transparent;
				border-left: 4px solid $rc-red;
				border-bottom: 4px solid transparent;
			}

		}
	}
}