@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Ordered List</h1>

			<div class="gs-present">
				<ol>
					<!-- @@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json") -->
				</ol>
			</div>

			<pre><code class="gs-code language-html">
				<!-- <ol>@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ol> -->
			</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')
