@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>List Modifiers</h1>

			<h2>Blank List</h2>
			<p>The class <code class="language-html">list--blank</code> will remove bullets or numbers from each list item.</p>

			<div class="gs-present">
				<!-- <ul class="list--blank">@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ul> -->
			</div>

			<pre><code class="gs-code language-html">
				<!-- <ul class="list--blank">@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ul> -->
			</code></pre>

			<br>
			<br>

			<h2>Aligned List</h2>
			<p>The class <code class="language-html">list--align</code> will remove the default margin and padding from the list.</p>

			<div class="gs-present">
				<!-- <ol class="list--align">@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ol> -->
			</div>

			<pre><code class="gs-code language-html">
				<!-- <ol class="list--align">@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ol> -->
			</code></pre>

			<br>
			<br>

			<h2>Blank + Aligned List</h2>
			<p>A combination of the above 2 classes.</p>

			<div class="gs-present">
				<!-- <ul class="list--align list--blank">@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ul> -->
			</div>

			<pre><code class="gs-code language-html">
				<!-- <ul class="list--align list--blank">@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-items.json")</ul> -->
			</code></pre>


		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

