@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>List of Significance</h1>
			<p>The CSS class <code class="language-scss">list--significance</code> uses a Sass <code class="language-scss">@extend</code> rule to inherit the properties of the <code class="language-scss">list--blank</code> and <code class="language-scss">list--align</code> classes as standard</p>

			<div class="gs-present">
				@@include('./01-components/lists/_significant-list.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/lists/_significant-list.html')</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')
