@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Unordered List</h1>

			<div class="gs-present">
				<ul>
					@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-item.json")
				</ul>
			</div>

			<pre><code class="gs-code language-html">
				<ul>@@loop("./01-components/lists/_list-item.html", "./01-components/lists/_list-item.json")</ul>
			</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

