// Primary Colours
$rc-red: #E2001A;

$rc-medium-grey: #87888A;

$rc-light-grey: #EAEAEA;

$rc-vlight-grey: #F7F7F7;

$rc-white: #FFFFFF;

// Secondary Colours
$rc-text: #444444;

$rc-functional: #8EC9D6;

$rc-success: #5FCC78;

$rc-error: #C71838;
