/**
 * Where an icon is used inside a button in browsers that CSS transforming of SVGs, the SVG is scaled up slightly. Because transforms don't affect the surrounding content, the negative margin on the right hand side of the button must be reduced by an amount proportianate to the scaling up. This function finds that value.
 * @param  {number} $icon-scale   This is by how much the icon has been scaled up in the CSS transform rule
 * @param  {number} $margin-right This is how much margin-left space there is between the SVG and the button text.
 * @return {number}               This is the margin-left value minus half the difference between 1rem and the scale value. It's half because we are only applying it to the right side of the SVG.
 */
@function button-icon-right-pull( $icon-scale, $margin-right ){
  
  // Base font size
  $core: 1rem;

  // Minus 2 from icon-scale  
  $diff: $icon-scale - $core;
  
  // Half of the difference between the scale and core font size
  $half-diff: $diff / 2;
  
  // $half diff removed from margin value
  $result: $margin-right - $half-diff;
  
  // Return it
  @return $result;

}