/* 
	
	File:	gs-styles
	Auth: Matthew Mcclatchie

	Desc: This file may contain some default styles for the front end of the styleguide. As the contents of the styleguide accumulate, much of the contents of this file may well become redundant, at which point they can be removed.

*/