/* 
	
	File:	gs-styles
	Auth: Matthew Mcclatchie

	Desc: This file may contain some default styles for the front end of the styleguide. As the contents of the styleguide accumulate, much of the contents of this file may well become redundant, at which point they can be removed.

*/


/* 
	Info: Gulp Styleguide Sub Navigation
	Dest: _lists
	Note: The positioning rules may have to stay here
*/

.gs-nav {
	background-color: #ffffff;
	display: block;
  z-index: 10;
  color: #212121;
  font-size: .75em;
  position: relative;

  .gs-nav__header {
  	position: relative;
  }

  .gs-logo {
  	margin: 0;
  	border-bottom: 1px solid rgba( 0, 0, 0, .15 );

  	img {
  		max-width: 100px;
  		padding: 1em;
  	}
  }

  #gs-nav-trigger {
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	width: 80px;
  	display: flex;
  	align-items: center;
  	flex: 1 0 auto;
  	justify-content: center;

  	hr {
  		display: block;
  		height: 2px;
  		width: 30px;
			margin: .65em 0;
  		border: none;
  		background-color: rgba( 0, 0, 0, .75 );
  		transition: width 0.2s ease-in;

  		&:nth-child(1) {
  			width: 22px;
  		}

  		&:nth-child(3) {
  			width: 24px;
  		}
  	}

  	&:hover, &:focus {
	  	hr {
	  		&:nth-child(1), &:nth-child(3) {
	  			width: 30px;
	  		}
	  	}
  	}
  }

  .gs-nav__nav {
  	height: 0px;
  	overflow: hidden;
  	transition: height 0.3s ease-in-out;

		// Only direct LIs
		> ul > li {
			border-bottom: 1px solid rgba( 0, 0, 0, .15 );
		}
  }

  .visible {
  	height: auto;
		padding-bottom: 2em;

		&:last-of-type {
			padding-bottom: 0;
		}
  }

  ul {
  	// See if this can be put into a class that lives in _nav.html
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	transition: height 0.3s ease-in-out;
  }

	li {
		overflow: hidden;
		ul {
			a {
				padding-top: 1em;
				padding-bottom: 1em;
			}
		}
	}

	a {
		display: block;
		position: relative;
		text-decoration: none;
		color: inherit;
		padding: 1.75em 0 1.75em 1.75em;
		transition: color .1s ease-in;

		&:focus {
			background: #f3f3f3;
		}

		&:hover {
			color: #3498db;

		}
	}

	// Nested ULs
  ul ul {
  	margin-left: 1em;
  	height: 0px;
  }

	.active {
		border-bottom-color: transparent;

		> ul{
			padding-bottom: 2em;
		}

		> ul {
			height: auto;
		}

		> a {
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid #212121;
				position: absolute;
				top: 50%;
				right: 1.5em;
				margin-top: -2px;
			}
		}
	}

	@media ( min-width: 1024px ) {
	  position: fixed;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  width: 240px;
	  font-size: .825em;
	  border-right: 1px solid rgba( 0, 0, 0, .15 );
	  overflow: scroll;

	  .gs-logo {
	  	img {
	  		max-width: 140px;
	  		margin: 1em auto;
	  	}
	  }

	  .gs-nav__nav {
	  	height: auto !important; // Exists to override any JS applied from toggling the mobile nav.
	  }

	  #gs-nav-trigger {
	  	display: none;
	  }
	}
}







/* 
	Info: Gulp Styleguide Stage
	Dest: ?
	Note: The positioning rules may have to stay here
*/

.gs-stage {
	overflow: hidden;

	p {
		color: #444444;
	}

	.gs-stage__inner {
		background-color: #EAEAEA;
		width: 95%;
		margin: 2.5% auto;
	}

	.gs-stage__content, .gs-stage__meta {
		padding: 1em;
	}

	.gs-stage__content {
		background-color: #FFFFFF;
		// @todo remove overflow and make a clearfix helper class
		overflow: hidden;
	}

	.gs-stage__content__header {
		margin-bottom: 3em;
	}

	.gs-stage__content__head-tag {
		margin-top: 0;
	}

	.gs-stage__content__intro {
		margin: 4em 0;
	}

	.gs-present {
		margin-bottom: 3em;

		.gs-present__label {
			font-weight: 500;
		}

		.gs-present__label + p {
			margin-top: 0;
		}
	}

	.gs-present--white {
		padding: 1em;
	}


	@media ( min-width: 1024px ) {
		margin-left: 240px;
	}

	@media ( min-width: 1280px ) {
		// .gs-stage__inner {
		// 	display: flex;
		// }

		.gs-stage__content, .gs-stage__meta {
			padding: 2em;
		}

		.gs-stage__content {
			background-color: #FFFFFF;
		}

		.gs-stage__content--split {
			flex: 0 0 60%;
			width: 65%;
		}

		.gs-stage__meta {
			flex: 1 1 200px;
		}


		// If no-flexbox
		// 
		// display: table;
		// 
		// .gs-stage__content, .gs-stage__meta {
		//	display: table-cell;
		//	}
		//	
		//	.gs-stage__content {
		//	width: 65%;
		//	}



	}



	@media ( min-width: 1400px ) {
		.gs-stage__inner {
			width: 90%;
			margin: 5% auto;
		}
	}
}






/* 
	Info: Gulp Styleguide Code Labels
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
pre.language-html, pre.language-markup, pre.language-scss {
	position: relative;

	code {
    width: 100%;
    display: block;
    overflow: scroll;
	}

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #FFFFFF;
		padding: .5em;
		font-size: .875em;
	}	
}

pre.language-html, pre.language-markup {
	&:after {
		content: '.html';
	}
}


pre.language-scss {
	&:after {
		content: '.scss';
	}
}





/* 
	Info: Gulp Styleguide Colour List
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/

.gs-colour-list {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	overflow: hidden;

	// @todo - replace with Susy grid?
	li {
		display: block;
		width: 50%;
		float: left;
		margin-bottom: 2em;
		color: #58585B;

		// @todo - replace with Susy grid?
		&:nth-child( 2n+1 ) {
			clear: left;
		}
	}

	.gs-colour-list__block, .gs-colour-list__info {
		max-width: 90%;
		border: 1px solid #EAEAEA;
	}

	.gs-colour-list__block {
		height: 100px;
		border-bottom: none;
		transition: background-color .3s ease-in;

		&:focus {
			outline: none;
		}
	}

	.gs-colour-list__info {
		background-color: #FFFFFF;
		padding: 1em;

		span {
			display: block;
		}
	}

	@media ( min-width: 640px ) {
		// @todo - replace with Susy grid?
		li {
			clear: none !important;
			width: 25%;
		}
	}
}

.gs-colour-list--nonprimary {
	@media ( min-width: 960px ) {
		li {
			width: 16.66%;

			// @todo - replace with Susy grid?
			&:nth-child( 4n+1 ) {
				clear: left;
			}
		}
	}
}



/* 
	Info: Gulp Styleguide SVG list
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
.gs-svg-list {
	svg {
		margin: 1em;
		width: 4em;
		height: 4em;
		fill: #232323;
	}
}



/*
	Info: Gulp Styleguide Misc Section
	Dest: n/a
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
.gs-section {
	position: relative;
	padding: 2em;

	.gs_section__content {
		width: 90%;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
	}

	.gs-section__head {
		margin: 0;
	}

	.gs-section__logo {
		max-width: 60px;

		svg {
			display: block;
			height: auto;
			width: 100%;
		}
	}

	.no-flexbox & {
		header {
			display: table;

			.gs-section__head, .gs-section__logo {
				display: table-cell;
				vertical-align: middle;
			}

			.gs-section__logo {
				width: 60px;
				float: right;
			}

			svg {
				height: 40px;
			}
		}
	}

	@media ( min-width: 480px ) {
		.gs-section__logo {
			max-width: 80px;
		}

		.no-flexbox & {
			header {
				.gs-section__logo {
					width: 80px;
				}
			}
		}
	}

	@media ( min-width: 800px ) {
		.gs-section__logo {
			max-width: 100px;
		}

		.no-flexbox & {
			header {
				.gs-section__logo {
					width: 100px;
				}
			}
		}
	}
}

.gs-feedback {
	background-color: #FFFFFF;
}

.gs-changelog {
	background-color: lighten( #EAEAEA, 2.5% );

	li {
		margin-bottom: 1.5em;
	}
}




.gs-col-demo {
	background-color: #EAEAEA;
	text-align: center;
	padding: 1.5em;
	color: #E2001A;
	font-size: 1.125em;
}