@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>SVGs</h1>
			<p>For any icon, SVGs must be used throughout the site instead of Images or Fonts.</p>
			<p>The SVGs displayed below have been prepared and optimised how the Royal Canin Web Design Language and are the only ones permitted for use.</p>
			<p>The code for each SVG can be used inline by copying and pasting from here. The comment preceding the SVG code is not required in production.</p>

			<br>

			<div class="gs-svg-list">
				@@loop("./01-components/SVGs/_svg.html", "./01-components/SVGs/_svgs.json")
			</div>

			<br>

			<pre><code class="gs-code language-html">@@loop("./01-components/SVGs/_svg.html", "./01-components/SVGs/_svgs.json")</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

