@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Buttons</h1>
				<p>Usage and implementation for Buttons within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Buttons carry out a variety of tasks across projects. Button sizing should be handled with the relevant classes, ensuring best display output across devices. Icons can be used within buttons to highlight a specific action or subject. Please note that icons and buttons are defined separately. However, all icons are sized appropriately to be interchangeable with (or to be used within) buttons.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present gs-buttons">
				<header>
					<label class="gs-present__label">Primary Button</label>
					<p>A primary call to action should be used in areas of importance, such as promotion panels or carousels where content is left aligned. It should be considered that no more than one primary call to action be used per page, to ensure the user understands the hierarchy of the button importance. A pill style button can be utilised for areas of importance where the content is centre aligned or it suits the design. Text should always be Initial caps Din Pro Medium. The appropriate button size will be handled by media queries in build with design options available below.</p>
				</header>

				@@include('./02-components/04-buttons/_button.html', {
					"value": "Read Article"
				})

				<pre><code class="gs-code language-html">@@include('./02-components/04-buttons/_button.html', {
					"value": "Read Article"
				})</code></pre>
			</section>

			<section class="gs-present gs-buttons">
				<header>
					<label class="gs-present__label">Secondary Button</label>
					<p>A secondary call to action should be used when the content the button relates to is of lesser importance than the primary goal of the page. Secondary calls to action should be used for instances such as article cards or product information. As with primary calls to action, secondary are available in 3 sizes and are handled by the css.</p>
				</header>

				@@include('./02-components/04-buttons/_button-class.html', {
					"class": "button--secondary",
					"value": "Read Article"
				})

				<pre><code class="gs-code language-html">@@include('./02-components/04-buttons/_button-class.html', {
					"class": "button--secondary",
					"value": "Read Article"
				})</code></pre>
			</section>

			<section class="gs-present gs-buttons">
				<header>
					<label class="gs-present__label">Tertiary Button</label>
					<p>A tertiary call to action is to be used when a user has been presented with the primary information on the page but interaction with the button still gives the user a desired outcome such as saving an article.</p>
				</header>

				@@include('./02-components/04-buttons/_button-class.html', {
					"class": "button--tertiary",
					"value": "Read Article"
				})

				<pre><code class="gs-code language-html">@@include('./02-components/04-buttons/_button-class.html', {
					"class": "button--tertiary",
					"value": "Read Article"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Disabled Button</label>
					<p>An inactive call to action would be displayed when a button can no longer be pressed due to other answers that have been input.</p>
				</header>

				<button disabled>Read Article</button>

				<pre><code class="gs-code language-html">
					<button disabled>Read Article</button>
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-components/04-buttons/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')