// Primary Colours
$rc-red: #E2001A;
.fill--rc-red {
	background-color: $rc-red;

	&:hover, &:focus {
		background-color: darken( $rc-red, 5% );
	}

	&:active {
		background-color: darken( $rc-red, 15% );
	}
}

.color--red {
	color: $rc-red;
}


$rc-medium-grey: #87888A;
.fill--rc-medium-grey {
	background-color: $rc-medium-grey;

	&:hover, &:focus {
		background-color: darken( $rc-medium-grey, 5% );
	}

	&:active {
		background-color: darken( $rc-medium-grey, 15% );
	}
}

$rc-light-grey: #EAEAEA;
.fill--rc-light-grey {
	background-color: $rc-light-grey;

	&:hover, &:focus {
		background-color: darken( $rc-light-grey, 5% );
	}

	&:active {
		background-color: darken( $rc-light-grey, 15% );
	}
}

$rc-white: #FFFFFF;
.fill--rc-white {
	background-color: $rc-white;

	&:hover, &:focus {
		background-color: darken( $rc-white, 5% );
	}

	&:active {
		background-color: darken( $rc-white, 15% );
	}
}


// Secondary Colours
$rc-text: #444444;
.fill--rc-text {
	background-color: $rc-text;

	&:hover, &:focus {
		background-color: darken( $rc-text, 5% );
	}

	&:active {
		background-color: darken( $rc-text, 15% );
	}
}

$rc-functional: #8EC9D6;
.fill--rc-functional {
	background-color: $rc-functional;

	&:hover, &:focus {
		background-color: darken( $rc-functional, 5% );
	}

	&:active {
		background-color: darken( $rc-functional, 15% );
	}
}

$rc-success: #5FCC78;
.fill--rc-success {
	background-color: $rc-success;

	&:hover, &:focus {
		background-color: darken( $rc-success, 5% );
	}

	&:active {
		background-color: darken( $rc-success, 15% );
	}
}

$rc-error: #C71838;
.fill--rc-error {
	background-color: $rc-error;

	&:hover, &:focus {
		background-color: darken( $rc-error, 5% );
	}

	&:active {
		background-color: darken( $rc-error, 15% );
	}
}