$rc-red: #E2001A;

.fill--rc-red {
	background-color: $rc-red;
}

$rc-red--hover: #C30C21;

.fill--rc-red--hover {
	background-color: $rc-red--hover;
}

$rc-red--active: #A51425;

.fill--rc-red--active {
	background-color: $rc-red--active;
}



$rc-light-grey: #D8D8D8;

.fill--rc-light-grey {
	background-color: $rc-light-grey;
}

$rc-light-grey--hover: #C6C6C6;

.fill--rc-light-grey--hover {
	background-color: $rc-light-grey--hover;
}

$rc-light-grey--active: #B3B3B3;

.fill--rc-light-grey--active {
	background-color: $rc-light-grey--active;
}




$rc-medium-grey: #87888A;

.fill--rc-medium-grey {
	background-color: $rc-medium-grey;
}

$rc-medium-grey--hover: #707173;

.fill--rc-medium-grey--hover {
	background-color: $rc-medium-grey--hover;
}

$rc-medium-grey--active: #575859;

.fill--rc-medium-grey--active {
	background-color: $rc-medium-grey--active;
}

