// Primary Colours
$rc-red: #E2001A;

.fill--rc-red {
	background-color: $rc-red;
}

$rc-red--hover: #C30C21;

.fill--rc-red--hover {
	background-color: $rc-red--hover;
}

$rc-red--active: #A51425;

.fill--rc-red--active {
	background-color: $rc-red--active;
}



$rc-light-grey: #D8D8D8;

.fill--rc-light-grey {
	background-color: $rc-light-grey;
}

$rc-light-grey--hover: #C6C6C6;

.fill--rc-light-grey--hover {
	background-color: $rc-light-grey--hover;
}

$rc-light-grey--active: #B3B3B3;

.fill--rc-light-grey--active {
	background-color: $rc-light-grey--active;
}



$rc-light-grey-alt: #A7A9AB;

.fill--rc-light-grey-alt {
	background-color: $rc-light-grey-alt;
}

$rc-light-grey-alt--hover: #929496;

.fill--rc-light-grey-alt--hover {
	background-color: $rc-light-grey-alt--hover;
}

$rc-light-grey-alt--active: #7B7C7D;

.fill--rc-light-grey-alt--active {
	background-color: $rc-light-grey-alt--active;
}



$rc-medium-grey: #87888A;

.fill--rc-medium-grey {
	background-color: $rc-medium-grey;
}

$rc-medium-grey--hover: #707173;

.fill--rc-medium-grey--hover {
	background-color: $rc-medium-grey--hover;
}

$rc-medium-grey--active: #575859;

.fill--rc-medium-grey--active {
	background-color: $rc-medium-grey--active;
}



$rc-dark-grey: #58585B;

.fill--rc-dark-grey {
	background-color: $rc-dark-grey;
}

$rc-dark-grey--hover: #49494B;

.fill--rc-dark-grey--hover {
	background-color: $rc-dark-grey--hover;
}

$rc-dark-grey--active: #373738;

.fill--rc-dark-grey--active {
	background-color: $rc-dark-grey--active;
}



// Secondary Colours

$rc-warm-grey: #968C83;

.fill--rc-warm-grey {
	background-color: $rc-warm-grey;
}

$rc-warm-grey--hover: #857E77;

.fill--rc-warm-grey--hover {
	background-color: $rc-warm-grey--hover;
}

$rc-warm-grey--active: #716B65;

.fill--rc-warm-grey--active {
	background-color: $rc-warm-grey--active;
}



$rc-blue: #1E3170;

.fill--rc-blue {
	background-color: $rc-blue;
}

$rc-blue--hover: #152558;

.fill--rc-blue--hover {
	background-color: $rc-blue--hover;
}

$rc-blue--active: #0C1533;

.fill--rc-blue--active {
	background-color: $rc-blue--active;
}



$rc-green: #006341;

.fill--rc-green {
	background-color: $rc-green;
}

$rc-green--hover: #015336;

.fill--rc-green--hover {
	background-color: $rc-green--hover;
}

$rc-green--active: #00432C;

.fill--rc-green--active {
	background-color: $rc-green--active;
}








// Tertiary Colours
$rc-tertiary-green: #8AE375;

.fill--rc-tertiary-green {
	background-color: $rc-tertiary-green;
}
