
@@include('./_site-header.html')



<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Brand Colours</h1>
			<p>Primary and Secondary brand colours are used to introduce the brand and highlight specific values.</p>

			<p>Colours are presented here by their <b>name</b>, <b>Hex</b> value and <b>Sass variable</b>.</p>

			<label class="rc-head--6">Primary Colours</label>
			<ul class="gs-colour-list">
				@@loop("./01-components/colours/_colour.html", "./01-components/colours/_colours-primary.json")
			</ul>

			<br>

			<label class="rc-head--6">Secondary Colours</label>
			<ul class="gs-colour-list">
				@@loop("./01-components/colours/_colour.html", "./01-components/colours/_colours-secondary.json")
			</ul>

			<br>

			<label class="rc-head--6">Tertiary Colours</label>
			<ul class="gs-colour-list">
				@@loop("./01-components/colours/_colour.html", "./01-components/colours/_colours-tertiary.json")
			</ul>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

