
@@include('./_site-header.html')



<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Brand Colours</h1>
			<p>Primary and Secondary brand colours are used to introduce the brand and highlight specific values.</p>


			<label class="gs-colour-head">
				Primary Colours
			</label>

			<div class="gs-colour-list-wrap">

				<ul class="gs-colour-list gs-colour-list--third">
					<li class="fill--rc-red">
						<span>Red</span>
						<span>#E2001A</span>
						<span>$rc-red</span>
					</li>
					<li class="fill--rc-red--hover">
						<span>Red Hover</span>
						<span>#C30C21</span>
						<span>$rc-red--hover</span>
					</li>
					<li class="fill--rc-red--active">
						<span>Red Active</span>
						<span>#A51425</span>
						<span>$rc-red--active</span>
					</li>
				</ul>

				<ul class="gs-colour-list gs-colour-list--third">
					<li class="fill--rc-light-grey">
						<span>Light Grey</span>
						<span>#D8D8D8</span>
						<span>$rc-light-grey</span>
					</li>
					<li class="fill--rc-light-grey--hover">
						<span>Light Grey Hover</span>
						<span>#C6C6C6</span>
						<span>$rc-light-grey--hover</span>
					</li>
					<li class="fill--rc-light-grey--active">
						<span>Light Grey Active</span>
						<span>#B3B3B3</span>
						<span>$rc-light-grey--active</span>
					</li>
				</ul>

				<ul class="gs-colour-list gs-colour-list--third">
					<li class="fill--rc-medium-grey">
						<span>Medium Grey</span>
						<span>#87888A</span>
						<span>$rc-medium-grey</span>
					</li>
					<li class="fill--rc-medium-grey--hover">
						<span>Medium Grey Hover</span>
						<span>#707173</span>
						<span>$rc-medium-grey--hover</span>
					</li>
					<li class="fill--rc-medium-grey--active">
						<span>Medium Grey Active</span>
						<span>#575859</span>
						<span>$rc-medium-grey--active</span>
					</li>
				</ul>
				
			</div>

		</div>

		<div class="gs-stage__content">

			<label class="gs-colour-head">
				Secondary Colours
			</label>

			<div class="gs-colour-list-wrap">

				<ul class="gs-colour-list gs-colour-list--fifth">
					<li class="fill--rc-blue">
						<span>Blue</span>
						<span>#1E3170</span>
						<span>$rc-blue</span>
					</li>
					<li class="fill--rc-blue--hover">
						<span>Blue Hover</span>
						<span>#152558</span>
						<span>$rc-blue--hover</span>
					</li>
					<li class="fill--rc-blue--active">
						<span>Blue Active</span>
						<span>#0C1533</span>
						<span>$rc-blue--active</span>
					</li>
				</ul>

				<ul class="gs-colour-list gs-colour-list--fifth">
					<li class="fill--rc-dark-grey">
						<span>Dark Grey</span>
						<span>#58585B</span>
						<span>$rc-dark-grey</span>
					</li>
					<li class="fill--rc-dark-grey--hover">
						<span>Dark Grey Hover</span>
						<span>#49494B</span>
						<span>$rc-dark-grey--hover</span>
					</li>
					<li class="fill--rc-dark-grey--active">
						<span>Dark Grey Active</span>
						<span>#373738</span>
						<span>$rc-dark-grey--active</span>
					</li>
				</ul>

				<ul class="gs-colour-list gs-colour-list--fifth">
					<li class="fill--rc-green">
						<span>Green</span>
						<span>#006341</span>
						<span>$rc-green</span>
					</li>
					<li class="fill--rc-green--hover">
						<span>Green Hover</span>
						<span>#015336</span>
						<span>$rc-green--hover</span>
					</li>
					<li class="fill--rc-green--active">
						<span>Green Active</span>
						<span>#00432C</span>
						<span>$rc-green--active</span>
					</li>
				</ul>

				<ul class="gs-colour-list gs-colour-list--fifth">
					<li class="fill--rc-warm-grey">
						<span>Warm Grey</span>
						<span>#968C83</span>
						<span>$rc-warm-grey</span>
					</li>
					<li class="fill--rc-warm-grey--hover">
						<span>Warm Grey Hover</span>
						<span>#857E77</span>
						<span>$rc-warm-grey--hover</span>
					</li>
					<li class="fill--rc-warm-grey--active">
						<span>Warm Grey Active</span>
						<span>#716B65</span>
						<span>$rc-warm-grey--active</span>
					</li>
				</ul>

				<ul class="gs-colour-list gs-colour-list--fifth">
					<li class="fill--rc-light-grey-alt">
						<span>Light Grey (Alt)</span>
						<span>#A7A9AB</span>
						<span>$rc-light-grey-alt</span>
					</li>
					<li class="fill--rc-light-grey-alt--hover">
						<span>Light Grey Hover (Alt)</span>
						<span>#929496</span>
						<span>$rc-light-grey-alt--hover</span>
					</li>
					<li class="fill--rc-light-grey-alt--active">
						<span>Light Grey Active (Alt)</span>
						<span>7B7C7D</span>
						<span>$rc-light-grey-alt--active</span>
					</li>
				</ul>
				
			</div>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

