@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Images</h1>
				<p>Usage and implementation for Images within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Image use throughout the Web Design Language should adhere to the following types of imagery; Black and white pet imagery, article photography pack shots and user or pet avatars. Pet of pack imagery should not be used if the animal or pack is not legible.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Black and White</label>
					<p>Black and white pet imagery should only be used in areas of significance where a brand message it to be promoted such as a promotion or carousel panel. Black and white imagery should be used sparingley so as not to dilute the power of the image.</p>
				</header>
				
				@@include('./02-components/08-images/_images.html', {
					"class": "img-border",
					"has_image": true,
					"url": "/assets/images/img-b-w.png"
				})

				<pre><code class="gs-code language-html">@@include('./02-components/08-images/_images.html', {
					"class": "img-border",
					"has_image": true,
					"url": "/assets/images/img-b-w.png"
				})
				</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Article Imagery</label>
					<p>Article imagery should be used for introducing and highlighting the content of an article. Article imagery should be relevant to the article and
should adhere to the Royal Canin Anthropomorphism views where animals should be respected for what they are and not portrayed with any human characteristics.</p>
				</header>
				
				@@include('./02-components/08-images/_images.html', {
					"has_image": true,
					"url": "/assets/images/img-article-full.png"
				})

				<pre><code class="gs-code language-html">@@include('./02-components/08-images/_images.html', {
					"has_image": true,
					"url": "/assets/images/img-article-full.png"
				})
				</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Pack Shots</label>
					<p>Pack shots should always be displayed with a white background which sits on a grey container. Packshots will begin as portrait layout on mobile 2 column layout and should not be smaller than 140pt in width, ensuring the main pack writing is legible.</p>
				</header>
				
				@@include('./02-components/08-images/_images.html', {
					"class": "img-border",
					"has_image": true,
					"url": "/assets/images/img-pack.png"
				})

				<pre><code class="gs-code language-html">@@include('./02-components/08-images/_images.html', {
					"class": "img-border",
					"has_image": true,
					"url": "/assets/images/img-pack.png"
				})
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "02-components/08-images/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')