html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
	position: relative;
	background-color: #f3f3f3;
}

*, *:before, *:after {
  box-sizing: inherit;
}


// Clears
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}


// Text meant only for screen readers.
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;

  &:focus {
    background-color: azure;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #444444;
    display: block;
    font-size: .875em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
  }
}


$grid--standard: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/4, // The size of a gutter in relation to a single column
);

$grid--no-gutters: (
  columns: 12,  // The number of columns in your grid
  gutters: 0, // The size of a gutter in relation to a single column
);