[class*="rc-icon-"].small::after {
  transform: scale(0.5);
}

[class*="rc-icon-"]::after {
  transform: scale(1);
  height: 32px;
  width: 32px;
  position: relative;
  display: inline-block;
  transform-origin: 50% 50%;
}

[class*="rc-icon-"].large::after {
  transform: scale(2);
}

%extend-icon-base {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}