[class^="rc-icon-"].small {
  transform: scale(1);
}

[class^="rc-icon-"] {
  transform: scale(2);
  height: 32px;
  width: 32px;
  position: relative;
  display: inline-block;
  transform-origin: 32px 32px;
}

[class^="rc-icon-"].large {
  transform: scale(4);
}

%extend-icon-base {
  content: '';
  display: block;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}