// General
body,
input,
textarea,
select,
button {
  font-family: $font-din; // weight size/line-height family
  font-weight: 300;
  font-size: .875em;

  @media (get-breakpoint('small')) {
    font-size: 1em;
  }
}



////////////////////////////////////////////   Type Styles   ////////////////////////////////////////////
//                                                                Size at each breakpoint
//               Class                    Base styles             default      small       x-large
$type-styles: (
                ('alpha',                'heading-base',           2em,        2.5em,      3.125em),
                ('beta',                 'heading-base',           1.875em,    2.25em,     2.625em),
                ('gamma',                'heading-base',           1.625em,    2em,        2.25em),
                ('delta',                'heading-base',           1.5em,      1.875em,    2em),
                ('espilon',              'heading-base',           1.375em,    1.625em,    1.75em),
                ('zeta',                 'heading-base',           1.25em,     1.5em,      1.625em),
                ('rc-head--display',     'heading--heavy-upper',   1.875em,    2.5em,      3.125em),
                ('rc-head--headline',    'heading--heavy-upper',   1.375em,    1.75em,     2em),
                ('rc-head--subheadline', 'heading-base',           1.125em,    1.375em,    1.5em),
                ('rc-head--article',     'heading-base',           1em,        1.25em,     1.375em),
                ('label',                'emphasised-text',        1em,        1.1em,      1.2em)
);

$type-breakpoints: ('small', 'x-large');


%heading-base {
  color: colour('brand', 'red');
  font-weight: 300;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: .5em;
}

%heading--heavy-upper {
  font-weight: 700;
  text-transform: uppercase;
}

%emphasised-text {
  font-weight: 500;
  margin-bottom: .75em;
}

@each $style in $type-styles {
  .#{nth($style, 1)} {
    @extend %#{nth($style, 2)};
    font-size: nth($style, 3);

    @each $breakpoint in $type-breakpoints {
      @media (get-breakpoint($breakpoint)) {
        font-size: nth($style, index($type-breakpoints, $breakpoint) + 3)
      }
    }
  }

  .#{nth($style, 1)}--black {
    @extend .#{nth($style, 1)};
    color: colour('functional', 'text');
  }
}


.font--regular {
  font-weight: 300;
}

.font--medium {
  font-weight: 500;
}

.font--bold {
  font-weight: 700;
}


// Paragraph
p {
  line-height: 1.5;
}

blockquote {
  border-left: 3px solid colour('brand', 'red');
  margin-left: 0;
  padding-left: 2em;

  & > p {
    color: colour('functional', 'text');
  }
}