@@include('./_site-header.html', {
    "class": {
        "section": "features"
    }
})

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Carousel Heros</h1>
				<p>Usage and implementation for Carousels within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>A carousel should be used in an area of significance and is built up of an image, title, button, pager and navigation icons. Several carousel options are available below to ensure each layout can be accommodated.</p>
				</blockquote>
			</header>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Carousel Hero layouts</label>
					
					<p>A carousel hero can use 1 of 4 layouts. The layout used is determined by which modifier class is added alongside the block <code class="language-html">hero</code> class. In the example below, each of the layouts is displayed sequentially, beginning with the block <code class="language-html">hero</code> class without a modifier.</p>

          <p><b>Carousel Version 3</b><br>
          Single lower image, introduction text and call to action.</p>

          <p><b>Mobile Layout</b> - Pet or packshot imagery should be full width. Introductory text should display above the image. Call to action should display below the introductory text.<br>
          <b>Tablet Layout</b> - Pet or packshot imagery should be full width below the introductory text. Introductory text should display above the image. Call to action should display below the introductory text.<br>
          <b>Desktop Layout</b> - Pet or packshot imagery should be full width below the introductory text. Introductory text should display above the image. Call to action should display below the introductory text.</p>
					
				</header>

				@@include('./03-features/02-carousels/_carousel--layout-3.html')

				<pre><code class="gs-code language-html">
					@@include('./03-features/02-carousels/_carousel--layout-3.html')
				</code></pre>

			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./03-features/02-carousels/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')