<div class="rc-carousel rc-carousel--hero">

    <div class="hero hero__layout--2" data-thumb="interactive--pager">

        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
            </div>

            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
            </div>

            <div class="hero__section hero__section--text">
                <h3 class="hero__title">Mix it up for your pure bred cat</h3>
                <p class="hero__description">Tailored breed-specific nutrition now available in wet.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>

    <div class="hero hero__layout--2" data-thumb="interactive--pager">

        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
            </div>

            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
            </div>

            <div class="hero__section hero__section--text">
                <h3 class="hero__title">Mix it up for your pure bred cat</h3>
                <p class="hero__description">Tailored breed-specific nutrition now available in wet.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>

    <div class="hero hero__layout--2" data-thumb="interactive--pager">

        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
            </div>

            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=63&txt=750%C3%971000&w=750&h=1000">
            </div>

            <div class="hero__section hero__section--text">
                <h3 class="hero__title">Mix it up for your pure bred cat</h3>
                <p class="hero__description">Tailored breed-specific nutrition now available in wet.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>

</div>