<div class="rc-carousel rc-carousel--hero">

	<div class="hero" data-thumb="interactive--pager">
		<video autoplay muted loop poster="https://placeimg.com/800/600/animals" class="hero__bg">
			<source src="https://player.vimeo.com/external/214841240.hd.mp4?s=d1e8ddf75d9f3dc942fcb1590399b21284a87470&profile_id=174" type="video/mp4">
		</video>

		<div class="hero__fg">
			<div class="hero__section hero__section--text">
				<h1 class="hero__title">Is your pet's weight healthy?</h1>
				<p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
				<a href="#" class="button button--icon-arrow-right">Read Article</a>
			</div>
		</div>
	</div>

    <div class="hero" data-thumb="interactive--pager">
        <video autoplay muted loop poster="https://placeimg.com/800/600/animals" class="hero__bg">
            <source src="https://player.vimeo.com/external/214841240.hd.mp4?s=d1e8ddf75d9f3dc942fcb1590399b21284a87470&profile_id=174" type="video/mp4">
        </video>

        <div class="hero__fg">
            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>


    <div class="hero" data-thumb="interactive--pager">
        <video autoplay muted loop poster="https://placeimg.com/800/600/animals" class="hero__bg">
            <source src="https://player.vimeo.com/external/214841240.hd.mp4?s=d1e8ddf75d9f3dc942fcb1590399b21284a87470&profile_id=174" type="video/mp4">
        </video>

        <div class="hero__fg">
            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>


    <div class="hero" data-thumb="interactive--pager">
        <video autoplay muted loop poster="https://placeimg.com/800/600/animals" class="hero__bg">
            <source src="https://player.vimeo.com/external/214841240.hd.mp4?s=d1e8ddf75d9f3dc942fcb1590399b21284a87470&profile_id=174" type="video/mp4">
        </video>

        <div class="hero__fg">
            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>
</div>