table	{
  display: block;
  overflow-x: scroll;
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;

  th, td {
    border-right: 1px solid lighten( $rc-light-grey, 7.5% );
  	padding: .875em 1em;

  	&:first-child {
  		text-align: left;
  	}

  	&:last-child {
  		border-right: none;
  	}
  }

	thead {
	}

	tbody {
		tr:nth-child( even ) {
      border-right: 1px solid lighten( $rc-light-grey, 10% );
		}
	}

	th {
		background-color: $rc-red;
		color: #FFFFFF;
	}
}

.table--blank {
	tbody {
		tr:nth-child( even ) {
			background-color: inherit;
		}
	}
}