@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Tables</h1>
				<p>Usage and implementation for Tablies within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>Tables should be used when presenting information that is reuired to be presented in a structured template.</p>
					<p>Table content can be left or right aligned and can contain standard text or form elements.</p>
					<p>Colspan and Rowspan classes can be added to span content.</p>
					<p>The default styling will make the tables scroll horizontally when the browser window is narrower than the data being displayed.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>
			<p>Table variations can be viewed below with rowspan and colspan options. Content and available space should be taken into consideration when implementing a table.</p>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Standard Table</label>
					<p></p>
				</header>

				<table>
					<thead>
						<tr>
							<th>Header One</th>
							<th class="table--highlight">Header Two</th>
							<th>Header Three</th>
							<th>Header Four</th>
							<th>Header Five</th>
							<th>Header Six</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Cell One</td>
							<td class="table--highlight">Cell Two</td>
							<td>Cell Three</td>
							<td>Cell Four</td>
							<td>Cell Five</td>
							<td>
								<div class="rc-input--custom">
									<input id="id-checkbox-1" type="checkbox" name="checkbox">
									<label for="id-checkbox-1"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Cell One</td>
							<td class="table--highlight">Cell Two</td>
							<td>Cell Three</td>
							<td>Cell Four</td>
							<td>Cell Five</td>
							<td>
								<div class="rc-input--custom">
									<input id="id-checkbox-2" type="checkbox" name="checkbox">
									<label for="id-checkbox-2"></label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Table - Colspan</label>
					<p>The <code>colspan</code> attribute may be used to force a cell to span mutliple columns.</p>
				</header>

				<table>
					<thead>
						<tr>
							<th>Header One</th>
							<th>Header Two</th>
							<th>Header Three</th>
							<th class="table--highlight">Header Four</th>
							<th class="table--highlight">Header Five</th>
							<th>Header Six</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Cell One</td>
							<td>Cell Two</td>
							<td>Cell Three</td>
							<!-- colspan -->
	    				<td colspan="2" class="table--highlight">Cell Four - Span Two</td>
							<td>
								<div class="rc-input--custom">
									<input id="id-checkbox-3" type="checkbox" name="checkbox">
									<label for="id-checkbox-3"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Cell One</td>
							<td colspan="4" class="table--highlight">Cell Two - Span Four</td>
							<!-- colspan -->
							<!-- colspan -->
							<!-- colspan -->
							<td>
								<div class="rc-input--custom">
									<input id="id-checkbox-4" type="checkbox" name="checkbox">
									<label for="id-checkbox-4"></label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Table - Rolspan</label>
					<p>The <code>rowspan</code> attribute may be used to force a cell to span mutliple rows, only when the <code>table--blank</code> class is applied to the table. .</p>
				</header>

				<table class="table--blank">
					<thead>
						<tr>
							<th>Header One</th>
							<th class="table--highlight">Header Two</th>
							<th>Header Three</th>
							<th>Header Four</th>
							<th>Header Five</th>
							<th>Header Six</th>
						</tr>
					</thead>

					<tbody>
						<tr>
							<td>Cell One</td>
							<td rowspan="2" class="table--highlight">Cell Two - Span Two</td>
							<td>Cell Three</td>
							<td>Cell Four</td>
							<td>Cell Five</td>
							<td>
								<div class="rc-input--custom">
									<input id="id-checkbox-5" type="checkbox" name="checkbox">
									<label for="id-checkbox-5"></label>
								</div>
							</td>
						</tr>
						<tr>
							<td>Cell One</td>
							<!-- rowspan -->
							<td>Cell Three</td>
							<td>Cell Four</td>
							<td>Cell Five</td>
							<td>
								<div class="rc-input--custom">
									<input id="id-checkbox-6" type="checkbox" name="checkbox">
									<label for="id-checkbox-6"></label>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section class="gs-present">
				<header>
					<label>Structure</label>
					<p>The <code>thead</code>, <code>tbody</code> and <code>tfoot</code> tags must be used where appropriate.</p>

					<pre><code class="gs-code language-html">@@include('./01-components/tables/_table-structure.html')</code></pre>
				</header>
			</section>

			<section class="gs-present">
				<h3 class="gs-stage__content__head-tag">General Notes</h3>
				<p>The following attributes are now deprecated and should not be used:</p>
				<ul>
					<li><code>align</code></li>
					<li><code>bgcolor</code></li>
					<li><code>border</code></li>
					<li><code>cellpadding</code></li>
					<li><code>cellspacing</code></li>
					<li><code>frame</code></li>
					<li><code>rules</code></li>
					<li><code>summary</code></li>
					<li><code>width</code></li>
				</ul>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/tables/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')