@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content gs-stage__welcome">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Welcome</h1>
			</header>
			
			<section class="gs-present">
				
				<p>With over 50 global websites built across various content management systems managed by a number of different regions and local agencies, a consistent set of digital styles has been developed. To ensure all designers and developers working with the Royal Canin brand begin any project with a consistent set of tools which meet the exacting standards required on any Royal Canin project the Web Design Language is an open source project aimed at contunually evolving through input from user and region.</p>
					
				<p>This approach aims to bridge the gap between brand style guides and the practicalities of allying that to the web. The intention is to remove ambiguity for all the core components that are common to any website in any region.</p>
				
				<p><b>Direction</b></p>
				
				<p>The Web Design Language is intended to give direction, but also be a collaboration of the family of designers and developers working globally on behalf of the Royal Canin brand, all in the pursuit of delivering a magnificent user experience.</p>
				
				<p>The Web Design Language is intended to give direction, but also be a collaboration of the family of designs and developers working around on behalf of the Royal Canin brand, all in the pursuit of delivering a magnificent user experience.</p>
				
				<p><b>Video</b></p>
				
				<p>Watch the video to learn more about our ambition for his pioneering approach to design...</p>
			</section>
			
			<div class="video-wrapper" id="welcome-video">
				<iframe src="https://player.vimeo.com/video/207771491" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>

		</div>

	</div>

</div>

@@include('./_site-footer.html')