.rangeslider,
.rangeslider__fill {
  display: block;
  // width: 100%;
}

.rangeslider {
  background: #FFFFFF;
  position: relative;
  height: .5em;
}

.rangeslider--disabled {
  opacity: 0.4;
}

.rangeslider__fill {
  background: transparent;
  position: absolute;
  top: 0;
  height: 100%;
}

.rangeslider__handle {
  background: $rc-red;
  cursor: pointer;
  display: inline-block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-radius: 100%;
  top: -.25em;
  touch-action: pan-y;
  -ms-touch-action: pan-y;

  &:before {
    content: '';
    position: absolute;
    top: -.625em;
    left: -.625em;
    width: 1em;
    height: 1em;
    border: 10px solid transparent;
    border-radius: 100%;
    transition: border 0.1s ease-in;
  }
}

.rangeslider__handle:active, .rangeslider--active .rangeslider__handle,
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  &:before {
    border-color: rgba( 0, 0, 0, .1 );
  }
}






.rangeslider__ruler {
  position: absolute;
  left: 0;
  right: 0;
  height: 1em;
  text-align: justify;
  line-height: 1;
  margin: 0 .75%;
  cursor: pointer;

  span {
    border-left: 1px solid $rc-medium-grey;
    display: block;
    margin: 0;
    padding: 0;
    width: 2.5%;
    height: 1em;
    float: left;
    margin-left: -1px;

    &:last-child {
      width: 0;
    }

    &.big {
      display: inline-block;
      transform: scale( 1, 1.5 );
      border-color: red;
    }
  }

  // Workaround to justify only one-line.
  // Extra element to force a new line.
  &:after {
    content: "";
    display: inline-block;
    width: 100%;    
  }

  &.rangeslider__ruler--top {
    top: 100%;

    span {
      transform-origin: top;
    }
  }

  &.rangeslider__ruler--bottom {
    bottom: 100%;

    span {
      transform-origin: bottom;
    }
  }
}




