@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Sliders</h1>
			<p>This section is in progress.</p>
<!-- 			<p>The Sliders described here are not to be mistaken with the <a href="#">Carousels Feature.</a></p>
			<p>These Sliders are intended for users to provide a value along a preset range.</p>
			<p><b>As it stands, this Component is built on top of a <a href="http://rangeslider.js.org/">Javascript Plugin</a> that provides the necessary Polyfill code for older browsers.</b></p>

			<br>

			<div class="gs-present gs-present--white">
				<input class="test" type="range" name="rc-range" min="0" max="30" step="1" value="0">
			</div>
 -->
		</div>

	</div>

</div>

@@include('./_site-footer.html')

