@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">UI Kit</h1>
				<p></p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>The master Sketch file for the Royal Canin Web Design Language UI Kit.</p>
					<p>This file should be used as a reference when designing new Components, Features or Pages for Royal Canin websites.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Downloads</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Sketch</label>
				</header>

				<a href="https://s3.eu-west-2.amazonaws.com/royalcanin-wdl/rc_ui_kit-1-0-0.sketch" class="button button--large">Download Sketch File</a>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./04-kits/_changelog-uikit.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')