@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Sliders</h1>
				<p>Usage and implementation for Sliders within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Relies on <a href="https://refreshless.com/nouislider/">nouislider</a>. Please refer to the documentation for more information.</p>
					<p>Sliders are an interactive means to enable a user to select a value when a timescale for selection is useful.</p>
					<p>Sliders will work from mobile devices up and will feedback to a user the option they have selected instantly. </p>
					<p>The Sliders described here are not to be mistaken with the <a href="/02-features/carousels/carousels.html">Carousels Feature.</a></p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<br>
				<div class="rc-slider" id="rc-slider-demo"></div>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-components/11-sliders/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')

