<div class="rc-carousel rc-carousel--hero">

    <div class="hero hero__layout--1" data-thumb="interactive--pager">
        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97600&w=800&h=600">
            </div>

            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>

    <div class="hero hero__layout--1" data-thumb="interactive--pager">
        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97600&w=800&h=600">
            </div>

            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>

    <div class="hero hero__layout--1" data-thumb="interactive--pager">
        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97600&w=800&h=600">
            </div>

            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>

    <div class="hero hero__layout--1" data-thumb="interactive--pager">
        <div class="hero__fg">
            <div class="hero__section hero__section--img">
                <img src="https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97600&w=800&h=600">
            </div>

            <div class="hero__section hero__section--text">
                <h1 class="hero__title">Is your pet's weight healthy?</h1>
                <p class="hero__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse finibus odio tempor risus placerat, id gravida libero viverra.</p>
                <a href="#" class="button button--icon-arrow-right">Read Article</a>
            </div>
        </div>
    </div>
</div>
