// Tabs
.rc-tabs {
	.rc-tabs__triggers {
	  overflow-y: scroll; 
	  -webkit-overflow-scrolling: touch;
	  margin-top: 0;
		margin-bottom: 0;
	
		li {
			display: table-cell;
			padding-right: .25em;
			margin-bottom: 0;

			&:last-of-type {
				padding-right: 4em;
			}
		}
	}

	.rc-tabs__triggers__trigger {
		color: inherit;
		background-color: transparent;
		cursor: pointer;
    border-bottom: 4px solid $rc-white;
    border-color: $rc-white;


		&.active {
			border-bottom: 4px solid $rc-red;
			border-color: $rc-red;
		}
	}

	.rc-tabs__content {
		background-color: #FFFFFF;
		padding: 1em;
		overflow: hidden;
	}
}

// Tabs - Side Triggers
.rc-tabs--side {
	background-color: $rc-light-grey;
	display: flex;

	.rc-tabs__content {
		flex: 1 1 85%;
	}

	.rc-tabs__triggers {
		display: flex;
		flex-direction: column;
		order: 2;
		overflow: hidden;

    li {
    	display: flex;
    	flex: 1 1 auto;
			padding-right: 0;
			margin-bottom: 0;

			&:last-child {
				padding-right: 0;
			}
    }

		.button__value {
			display: none;
		}

		svg {
			margin: 0 auto;
		}
	}

	.rc-tabs__triggers__trigger {
		padding: .75em 1em;
		border-bottom: none;

		svg {
			fill: $rc-medium-grey;
		}

		&.active {
			background-color: $rc-white;
			border-bottom: none;

			svg {
				fill: $rc-red;
			}
		}
	}


	.no-flexbox & {
		.rc-tabs__triggers {
			float: right;

			li {
				display: block;
			}

			.rc-tabs__triggers__trigger {
				display: block;
				height: 100%;
			}
		}
	}
}