@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Tabs</h1>
				<p>Usage and implementation for Tabs within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>Tabs should be used when multiple related pieces of content need to be displayed in limited space when it doesn’t matter which is displayed first.</p>
					<p>Tab buttons can be displayed with an icon or as plain text in the same way as a standard button.</p>
					<p>Whilst this component is flexible enough to accommodate any number of tabs and any amount of content in the content boxes, it is recommended than when using it, you follow these guidelines:</p>
					<ul>
						<li>No more than 5 tabs.</li>
						<li>Trigger button values should be short.</li>
						<li>Trigger button SVGs should be relevant and used for all buttons, or none.</li>
						<li>Images used inside the content blocks must use the align classes, <a href="/01-components/typography/paragraph-image.html">outlined here</a>.</li>
						<li>All Trigger buttons must contain text <em>as well as </em> an SVG, or an SVG by itself.</li>
						<li>If the Trigger buttons contain no text (just an SVG), the <code class="language-html">rc-tabs--icons</code> class must be applied in addition to the wrapping <code class="language-html">rc-tabs</code> class.</li>
						<li>The <code class="language-html">clearfix</code> class should not be removed.</li>
					</ul>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>

			<section class="gs-present gs-present--white">
				<header>
					<label>Standard Tab Layout</label>
					<p></p>
				</header>

				@@include('./01-components/tabs/_tabs.html')

				<pre><code class="gs-code language-html">@@include('./01-components/tabs/_tabs.html')</code></pre>
			</section>

			<section class="gs-present gs-present--white">
				<header>
					<label>Side Tab Layout</label>
					<p></p>
				</header>

				@@include('./01-components/tabs/_tabs-side.html')

				<pre><code class="gs-code language-html">@@include('./01-components/tabs/_tabs-side.html')</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/tabs/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')

