@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Tabs</h1>
			<p></p>

			<div class="gs-present">
				@@include('./01-components/buttons/_button-icon.html', {
					"class": "",
					"value": "Button",
					"iconTitle": "clock",
					"iconPath": "M32 0C14.3 0 0 14.3 0 32s14.3 32 32 32 32-14.3 32-32S49.7 0 32 0zm0 57C18.2 57 7 45.8 7 32S18.2 7 32 7s25 11.2 25 25-11.2 25-25 25zm3.6-26.5V14.4c0-1.9-1.6-3.5-3.5-3.5s-3.5 1.6-3.5 3.5v19l13 13c.7.7 1.6 1 2.5 1s1.8-.3 2.5-1c1.4-1.4 1.4-3.6 0-4.9l-11-11z"
				})
			</div>





<!-- 			<pre><code class="gs-code language-html">@@include('./01-components/buttons/_button-icon.html', {
				"class": ""
			})</code></pre> -->

		</div>

	</div>

</div>

@@include('./_site-footer.html')

