// ----------------------------------------------------------------------

// Animation configuration

// ----------------------------------------------------------------------

$movementSettings: (
  transition: (
    base: .2s ease
  ),
  animation: (
    base: .5s forwards ease
  )
);
