// ----------------------------------------------------------------------

// Shadow configuration

// ----------------------------------------------------------------------

$shadows: (
  'black': (
		'strong': 0 0 2px 2px rgba(0, 0, 0, .6),
		'faint': 0 2px 4px rgba(0, 0, 0, .1),
		'soft': 0 8px 15px rgba( 0, 0, 0, .1 )
  ),
  'grey': (
		'inset': inset 0 0 3px rgba(51, 51, 51, .45),
		'faint': 0 2px 4px #f1f1f1
  ),
);