.card {
	display: flex;
	flex: 0 1 310px;
    max-width: 310px;
	position: relative;
	margin-bottom: 1em;
    @extend %on-white-outline;
	
	.card__image {
		margin: 0;
		background: center/cover no-repeat;
		flex: 0 0 30%;
		max-width: 200px;
	}

	.card__header {
		align-self: center;
		padding: 1em .5em;
	}

	.card__meta, .card__link {
		font-size: .875em;
		margin: 0;
	}

	.card__meta {
		a {
			text-decoration: none;
		}
	}

	.card__title {
		font-size: 1em;
		margin: .25em 0;
		font-weight: 300;
		color: $rc-text;
	}

	// Fallback
	.no-flexbox & {
		display: table;
		width: 100%;

		.card__image, .card__header {
			display: table-cell;
			vertical-align: middle;
		}

		.card__image {
			width: 30%;
		}
	}

	@media ( max-width: 700px ) {
		.button {
			padding: 0;
			color: $rc-functional;
			background-color: transparent;
			font-size: 1em;
			font-weight: 300;
			text-decoration: underline;
			border-radius: 0;

			&:hover, &:focus {
				color: #FFFFFF;
			}

			&:after {
				display: none;
			}
		}
	}

	@media ( min-width: 480px ) {
		.card__header {
			padding-left: 1em;
		}

		.card__meta, .card__link {
			font-size: 1em;
		}

		.card__title {
			font-size: 1.125em;
		}
	}

	@media ( min-width: 700px ) {
		display: flex;
		flex-direction: column;

		.card__image {
			max-width: 100%;
			width: 100%;
			flex: 0 0 120px;
		}

		.card__header {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1 0 auto;
			padding: 1em;
			text-align: center;
		}

		.card__title {
			margin-bottom: 1em;
		}

		.button {
			&:before {
				display: none;
			}
		}

		.no-flexbox & {
			display: block;

			.card__image, .card__header {
				display: block;
			}

			.card__image {
				width: 100%;
				height: 120px;
			}
		}
	}

	@media ( min-width: 800px ) {
		.card__image {
			flex: 0 0 200px;
		}

		.no-flexbox & {
			.card__image {
				height: 200px;
			}
		}
	}

	@media ( min-width: 960px ) {
		.card__title {
			font-size: 1.375em;
		}
	}
}

.card--details {
	text-align: center;

	.card__header {
		padding: 0;
		align-self: stretch;
		flex: 1 1 100%;
	}

	svg {
		display: inline-block;
		vertical-align: middle;
		width: 1.5em;
		height: 1.5em;
		fill: $rc-medium-grey;
	}

	.card__meta, .card__title {
		padding: .5em;
		font-size: 1em;
	}

	.card__meta {
		font-size: 1.125em;
	}

	.card__title {
		border-top: 1px solid $rc-light-grey;
		margin: 0;
		font-weight: 700;
	}
}

// Groups of Cards
.cards {
	@include container;

	@media ( min-width: 700px ) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&.cards--3 {
			.card {
				flex: 0 1 32%;
			}

			.no-flexbox & {
				.card {
					@include gallery( 4 of 12 );
				}
			}
		}

		&.cards--4 {
			.card {
				flex: 0 1 49%;
			}

			.no-flexbox & {
				.card {
					@include gallery( 6 of 12 );
				}
			}
		}
	}

	@media ( min-width: 960px ) {
		&.cards--4 {
			.card {
				flex: 0 1 24%;
			}

			.no-flexbox & {
				.card {
					@include gallery( 3 of 12 );
				}
			}
		}
	}
}