.site-footer {
  background: colour('functional', 'text');
  padding: get-spacer('small');
  padding-bottom: get-spacer('small') * 4;
  position: relative;

  & .outlined {
    border: solid 1px colour('brand', 'white');
    padding: get-spacer('small') / 2 0;
    font-weight: 300;
    border-radius: 50px;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    color: colour('brand', 'white');
    svg {
      height: 1.5rem;
      fill: colour('brand', 'white');
    }
  }

  .breadcrumbs {
    padding: get-spacer('small') * 2 0;
    margin-bottom: get-spacer('small') * 2;
    border-bottom: solid 1px colour('functional', 'text', 'light');
    position: relative;
  }
}

.site-footer__navigation__label {
  color: colour('brand', 'white');
  font-size: 1rem;
  margin-bottom: get-spacer('small');
}

.rc-navigation--footer > ul {
    margin-bottom: get-spacer('small') * 2;
    .rc-navigation__list-item {
      margin-bottom: get-spacer('small') / 2;
      .rc-navigation__link {
        text-decoration: none;
        color: colour('brand', 'medium-grey', 'light');
        &::before {
          content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path d='M48.73,34.49,20.24,63a3.51,3.51,0,0,1-5-5l26-26-26-26a3.51,3.51,0,0,1,5-5L48.73,29.52a3.51,3.51,0,0,1,0,5' style='fill:" + colour('brand', 'light-grey') + ";'/></svg>");
          display: inline-block;
          color: colour('brand', 'red');
          width: .8em;
          height: .8em;
          margin-right: .75em;
        }
      }
    }
}

.sub-footer {
  background: colour('brand', 'light-grey');
  padding: get-spacer('small');

  div {
    display: flex;
    justify-content: space-between;

    @media (get-breakpoint-down('med')) {
      display: block;
    }
  }
}

.rc-navigation--sub-footer {
  .rc-navigation__list-item {
    display: inline-block;
    margin-right: get-spacer('small') / 2;
  }

  .rc-navigation__link {
    text-decoration: none;
    color: colour('functional', 'text');
    &::after {
      content: '|';
      margin-left: get-spacer('small') / 2;
    }
  }
}