@media (get-breakpoint-up('small')) {

  %col-settings {
    padding: 6px;
    float: left;
  }

  .rc-grid {
    margin: 0 -6px;
  }

  .rc-col--20 {
    width: (2.4 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--25 {
    width: (3 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--33 {
    width: (4 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--50 {
    width: (6 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--66 {
    width: (8 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--75 {
    width: (9 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--80 {
    width: (9.6 / 12) * 100%;
    @extend %col-settings;
  }

  .rc-col--100 {
    width: 100%;
  }
}