.navigation {
  background-color: colour('brand', 'white');
  display: block;
  z-index: 11;
  color: colour('functional', 'text');
  font-size: .75em;
  position: fixed;
  top: 0;
  width: 100%;

  & .logo-svg {
    width: 150px;
    height: 80px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }

  & > nav > ul {
    z-index: 5;
    transform: translate(0px, -200%);
    transform-origin: top;
    transition: transform .5s ease-in;
    position: absolute;
    background-color: colour('brand', 'white');
    width: 100%;
  }

  &.open > nav > ul {
    transform: translate(0px, 0px);
    transition: transform .5s ease-in;
  }

  &.open > nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    background-color: colour('brand', 'white');
  }

  .gs-nav__header {
    position: relative;
  }

  .gs-logo {
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: colour('brand', 'white');
    margin: 0;
    height: 70px;
    border-bottom: 1px solid rgba( 0, 0, 0, .15 );

    &::after {
      transform: scale(2.5) translate(0);
      transform-origin: 0;
      position: absolute;
      top: 15px;
    }
  }

  ul {
    // See if this can be put into a class that lives in _nav.html
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: height 0.3s ease-in-out;
  }

  li {
    overflow: hidden;
    ul {
      a {
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
  }

  @media ( get-breakpoint('large') ) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: $navigation-width;
    font-size: .825em;
    border-right: 1px solid rgba( 0, 0, 0, .15 );
    overflow: scroll;

    .gs-logo {
      padding: 0;

      img {
        max-width: 120px;
        margin: 0.7em auto;
      }
    }

    .gs-nav__nav {
      height: auto !important; // Exists to override any JS applied from toggling the mobile nav.
    }

    #gs-nav-trigger {
      display: none;
    }
  }
}


@media (get-breakpoint('large')) {

  .navigation {
    position: fixed;
    top: 0;
  }

  .navigation > nav > ul {
    position: relative;
    width: auto;
    transform: translate(0px, 0px);
    transition: transform .5s ease-in;
  }

  .navigation .gs-logo {
    width: 100%;

    &::after {
      width: 75px;
      left: 25px;
    }
  }
}

.navigation__link {
  display: block;
  background-color: colour('brand', 'white');
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 1.2em 0 1.2em 1.2em;
  transition: color .1s ease-in;
  text-transform: capitalize;
  cursor: pointer;

  &:focus {
    background: colour('brand', 'light-grey');
  }

  &.current-page {
    font-weight: bolder;
  }
}

.section > ul {
  height: 0;
}

.section .navigation__list-item {
  border-bottom-color: transparent;

  & > .navigation__link {
    padding-left: 2rem;
  }
}

.toplevel .section .navigation__list-item > .navigation__link {
  padding-left: 4rem;
}

.navigation__list-item > ul {
  margin: 0;
  padding: 0;
}

.section > .navigation__link.open {
  border-bottom-color: transparent;

  & + ul {
    height: auto;
  }
}

.navigation__link {
  position: relative;
  @extend .rc-icon-chevron--down--red;

  &::after {
    transform: rotate(180deg) scale(0.25);
    opacity: 0;
    transition: transform .5s ease, opacity .3s ease;
    content: '';
    position: absolute;
    right: 0;
    top: -1.85em;
    bottom: 0;
    width: 65px;
    background-repeat: no-repeat;

    @media (get-breakpoint('small')) {
      top: -.75em;
    }
  }
}

.navigation__link.open {
  font-weight: 500;

  .section > &::after {
    transform: rotate(0) scale(0.25);
    opacity: 1;
  }
}


.navigation__list-item {
  border-bottom: 1px solid rgba( 0, 0, 0, .15 );
  margin: 0;
}

