.navigation {
  display: block;
  color: colour('functional', 'text');
  font-size: .75em;
  width: 100%;
  height: 82px;
  position: fixed;
  z-index: z(side-navigation);
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  
  @media (get-breakpoint-up('large')) {
    position: fixed;
    height: 100%;
    bottom: 0;
    width: $navigation-width;
    font-size: .825em;
    border-right: 1px solid rgba( 0, 0, 0, .15 );
    background-color: colour('brand', 'white');
  }
  
  @media (get-breakpoint-down('large')) {
    & nav {
      position: absolute;
      background-color: colour('brand', 'white');
      z-index: z(side-navigation) - 1;
      top: -200%;
      width: 100%;
      transition: movementSetting('transition', 'base');
    }

    &.open {
      height: 100%;
      
      & nav {
        top: 82px;
      }
    }
    

    & .svg-wrapper-link {
      position: fixed;
      top: 0;
      width: 100%;
      height: 82px;
      z-index: z(side-navigation);
    }
  }

  & .logo-svg {
    width: 150px;
    height: 80px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    transition: height .3s ease-in-out;
  }

  & li {
    overflow: hidden;

    & ul a {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}

.navigation__link {
  display: block;
  background-color: colour('brand', 'white');
  border: none;
  width: 100%;
  text-align: left;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 1.2em 0 1.2em 1.2em;
  transition: color .1s ease-in;
  text-transform: capitalize;
  cursor: pointer;

  &:focus {
    background: colour('brand', 'light-grey');
  }

  &.current-page {
    font-weight: bolder;
  }
}

.section > ul {
  height: 0;
}

.section .navigation__list-item {
  border-bottom-color: transparent;

  & > .navigation__link {
    padding-left: 2rem;
  }
}

.toplevel .section .navigation__list-item > .navigation__link {
  padding-left: 4rem;
}

.navigation__list-item > ul {
  margin: 0;
  padding: 0;
}

.section > .navigation__link.open {
  border-bottom-color: transparent;

  & + ul {
    height: auto;
  }
}

.navigation__link {
  position: relative;
  
  &::after {
    @extend %rc-icon;
    @extend .rc-icon-chevron--down--small--red::after;
    transform: rotate(180deg);
    opacity: 0;
    transition: transform .5s ease, opacity .3s ease;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -16px;
    bottom: 0;
  }
  
  &.modal__toggle::after {
    opacity: 1;
    transform: rotate(0);
  }
}

.navigation__link.open {
  font-weight: 500;

  .section > &::after {
    transform: rotate(0);
    opacity: 1;
  }
}


.navigation__list-item {
  border-bottom: 1px solid colour('tertiary', 'grey--light');
  margin: 0;
}
