// Tabs
.rc-tabs {
  @extend %feature-width-restriction;
  position: relative;

  .rc-tabs__triggers {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;

    li {
      display: table-cell;
      padding-right: .25em;
      margin-bottom: 0;

      &:last-of-type {
        padding-right: 4em;
      }
    }
  }

  .rc-tabs__triggers__trigger {
    color: inherit;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-bottom: 0;
    line-height: 1;
    font-weight: 300;
    border-radius: 0;
  }

  .rc-tabs__content {
    background-color: #FFFFFF;
    padding: 1em;
    overflow: hidden;
    z-index: z(default);
    position: relative;
  }

  @media (get-breakpoint('small')) {

    .rc-tabs__content__single {
      padding: 2em;
    }
  }
}

// Tabs - Side Triggers
.rc-tabs--side {
  background-color: colour('brand', 'light-grey');
  display: flex;
  @extend %feature-width-restriction;

  .rc-tabs__content {
    flex: 1 1 85%;
  }

  .rc-tabs__triggers {
    display: flex;
    flex-direction: column;
    order: 2;
    overflow: hidden;

    li {
      display: flex;
      flex: 1 1 auto;
      padding-right: 0;
      margin-bottom: 0;

      &:last-child {
        padding-right: 0;
      }
    }

    .button__value {
      display: none;
    }
  }

  .rc-tabs__triggers__trigger {
    padding: .75em 1em;
    border-bottom: none;
  }

  .no-flexbox & {
    .rc-tabs__triggers {
      float: right;

      li {
        display: block;
      }

      .rc-tabs__triggers__trigger {
        display: block;
        height: 100%;
      }
    }
  }
}

.rc-tabs__controller {
  background-color: transparent;
  color: colour('functional' , 'text');
  border-radius: 0;

  &:hover,
  &:focus {
    background-color: transparent;
    color: colour('functional' , 'text');
  }

  &[aria-selected="true"]::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4px;
    background-color: colour('brand', 'red');
  }
}

.rc-tabs__controller[aria-selected="true"] {
  position: relative;

  &:after {
    content: '';
    top: inherit;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: colour('brand', 'red');
    margin: 0;
    transform: scale(1);
  }
}

.rc-tabs__content__single[aria-hidden="true"] {
  display: none;
}