@@include('./_site-header.html', {
    "class": {
        "section": "features"
    }
})

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Video</h1>
				<p>Usage and implementation for Videos within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>All video should be embedded and displayed in a Youtube player. Default sizing is 16:9 aspect ratio. The embed code should be placed inside a predetermined class to ensure the element is responsive. The <code>width</code> and <code>height</code> attributes are not required in the embed URL, as these are overridden with CSS.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement Videos into your code.</p>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">YouTube</label>
					<p>A default video embed from YouTube</p>
				</header>

				@@include('./03-features/video/_video.html', {
					"embed": "src='https://www.youtube.com/embed/FYwO1fiYoa8?rel=0&amp;controls=0&amp;showinfo=0?ecver=1' frameborder='0' allowfullscreen"
				})

				<pre><code class="gs-code language-html">@@include('./03-features/video/_video.html', {
					"embed": "src='https://www.youtube.com/embed/FYwO1fiYoa8?rel=0&amp;controls=0&amp;showinfo=0?ecver=1' frameborder='0' allowfullscreen"
				})
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./03-features/video/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')