/* 
	
	File:	gs-styles
	Auth: Matthew Mcclatchie

	Desc: This file may contain some default styles for the front end of the styleguide. As the contents of the styleguide accumulate, much of the contents of this file may well become redundant, at which point they can be removed.

*/


/* 
	Info: Gulp Styleguide Sub Navigation
	Dest: _lists
	Note: The positioning rules may have to stay here
*/

// DIN Pro
@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/din_pro.woff2') format('woff2'),
  url('../fonts/din_pro.woff') format('woff'),
  url('../fonts/din_pro.ttf') format('truetype');
  font-style: normal;
  font-weight: 300;
}

// DIN Pro Medium
@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/din_pro_medium.woff2') format('woff2'),
  url('../fonts/din_pro_medium.woff') format('woff'),
  url('../fonts/din_pro_medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

// DIN Pro Bold
@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/din_pro_bold.woff2') format('woff2'),
  url('../fonts/din_pro_bold.woff') format('woff'),
  url('../fonts/din_pro_bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

// Font stack variable
$font-din: "DIN Pro", 'Avenir', Helvetica, Arial, sans-serif;

// Colours

$gs-light-grey: #f3f3f3;

* {
  text-rendering: geometricPrecision;
}

.gs-present{
	margin-bottom: 2em;
}

.gs-present--white {
  background-color: lightgrey;
}

.gs-nav {
	background-color: #ffffff;
	display: block;
  z-index: 10;
  color: #212121;
  font-size: .75em;
  position: relative;

  .gs-nav__header {
  	position: relative;
  }

  .gs-logo {
  	margin: 0;
  	padding: 0.5em 1em;
  	border-bottom: 1px solid rgba( 0, 0, 0, .15 );

  	img {
  		max-width: 100px;
  	}
  }

  #gs-nav-trigger {
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	width: 80px;
  	display: flex;
  	align-items: center;
  	flex: 1 0 auto;
  	justify-content: center;

  	hr {
  		display: block;
  		height: 2px;
  		width: 30px;
			margin: .65em 0;
  		border: none;
  		background-color: rgba( 0, 0, 0, .75 );
  		transition: width 0.2s ease-in;

  		&:nth-child(1) {
  			width: 22px;
  		}

  		&:nth-child(3) {
  			width: 24px;
  		}
  	}

  	&:hover, &:focus {
	  	hr {
	  		&:nth-child(1), &:nth-child(3) {
	  			width: 30px;
	  		}
	  	}
  	}
  }

  .gs-nav__nav {
  	height: 0px;
  	overflow: hidden;
  	transition: height 0.3s ease-in-out;

		// Only direct LIs
		> ul > li {
			border-bottom: 1px solid rgba( 0, 0, 0, .15 );
		}
		
		&.visible{
			height: auto;
		}
  }

  ul {
  	// See if this can be put into a class that lives in _nav.html
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	transition: height 0.3s ease-in-out;
  }

	li {
		overflow: hidden;
		ul {
			a {
				padding-top: 1em;
				padding-bottom: 1em;
			}
		}
	}

	// Nested ULs
  ul ul {
  	margin-left: 1em;
  	height: 0px;
  }

	.active {
		border-bottom-color: transparent;

		> ul{
			padding-bottom: 2em;
		}

		> ul {
			height: auto;
		}

		> a {
			&:after {
				content: '';
				width: 0;
				height: 0;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 4px solid #212121;
				position: absolute;
				top: 50%;
				right: 1.5em;
				margin-top: -2px;
			}
		}
	}

	@media ( get-breakpoint('x-large') ) {
	  position: fixed;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  width: 240px;
	  font-size: .825em;
	  border-right: 1px solid rgba( 0, 0, 0, .15 );
	  overflow: scroll;

	  .gs-logo {
		  padding: 0;
		  
	  	img {
	  		max-width: 120px;
	  		margin: 0.7em auto;
	  	}
	  }

	  .gs-nav__nav {
	  	height: auto !important; // Exists to override any JS applied from toggling the mobile nav.
	  }

	  #gs-nav-trigger {
	  	display: none;
	  }
	}
}

.gs-nav__link {
  display: block;
  position: relative;
  text-decoration: none;
  color: inherit;
  padding: 1.2em 0 1.2em 1.2em;
  transition: color .1s ease-in;
  text-transform: capitalize;

  &:focus {
    background: #f3f3f3;
  }
}

.gs-nav__section {
  margin: 0;
}

.gs-nav__trigger.triggered + ul,
.gs-nav__section.triggered > ul {
  height: auto;
  padding-bottom: 2em;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.gs-nav__link.triggered {
  font-weight: 500;
}

.gs-nav__section > .gs-nav__trigger {
  position: relative;

  &::after {
    transform: rotate(180deg);
    opacity: 0;
    transition: transform .5s ease, opacity .3s ease;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    background-image: url('../images/chevron--down--red.svg');
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
  }
}

.gs-nav__section > .gs-nav__trigger.triggered {
  &::after {
    transform: rotate(0deg);
    opacity: 1;
  }
}


/* 
	Info: Gulp Styleguide Stage
	Dest: ?
	Note: The positioning rules may have to stay here
*/



.gs-stage {
	overflow: hidden;

	p {
		color: #444444;
	}

	.gs-stage__inner {
		background-color: #EAEAEA;
		width: 95%;
		max-width: 1240px;
		margin: 2.5% auto;
		
		&.gs-coming_soon{
			text-align: center;
			
			.gs-stage__content{
				
				h1{
					margin-bottom: 0;
				}
				
				p{
					margin-top: 0;
				}
			}
		}
	}

	.gs-stage__content, .gs-stage__meta {
		padding: 1em;
	}

	.gs-stage__content {
		background-color: #FFFFFF;
		// @todo remove overflow and make a clearfix helper class
		// overflow: hidden;
		
		&.gs-stage__welcome{
			margin-bottom: 3em;
			margin-top: 1em;
			
			h2{
				margin-top: 0;
				margin-bottom: 1em;
			}
			
			.video-wrapper{
				border: 1px solid #EAEAEA;
			}
		}
		
		@media ( get-breakpoint('x-large') ) {
			
			padding: 2em;
			
		}
	
		@media ( min-width: 1280px ) {
			
			&.gs-stage__declaration{
			
				h4{
					margin: 2em 35% 2em 0;
					font-size: 1.75em;
				}
			}
		}
	}

	.gs-stage__content__header {
		margin-bottom: 1em;
	}

	.gs-stage__content__head-tag {
		margin-top: 0;
	}

	.gs-stage__content__intro {
		margin: 2em 0;
	}

	.gs-present {
		
		.gs-present__label {
			font-weight: 500;
		}

		.gs-present__label + p {
			margin-top: 0;
		}
	}

	.gs-present--white {
		padding: 1em;
	}


	@media ( get-breakpoint('x-large') ) {
		margin-left: 240px;
		
		.gs-stage__content__intro {
			margin: 3em 0;
		}
	}

	@media ( min-width: 1280px ) {
		// .gs-stage__inner {
		// 	display: flex;
		// }

		.gs-stage__content, .gs-stage__meta {
			padding: 3em;
		}

		.gs-stage__content {
			background-color: #FFFFFF;
		}

		.gs-stage__content--split {
			flex: 0 0 60%;
			width: 65%;
		}

		.gs-stage__meta {
			flex: 1 1 200px;
		}


		// If no-flexbox
		// 
		// display: table;
		// 
		// .gs-stage__content, .gs-stage__meta {
		//	display: table-cell;
		//	}
		//	
		//	.gs-stage__content {
		//	width: 65%;
		//	}



	}



	@media ( min-width: 1400px ) {
		.gs-stage__inner {
			width: 90%;
			margin: 5% auto;
		}
	}
}

@media ( get-breakpoint('x-large') ) {
	
	.gs-section__img{
		margin: 3em 0;
	}
}

.gs-buttons{
	
	button{
		display: block;
	}
}


/* 
	Info: Gulp Styleguide Code Labels
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/


.gs-splash{
	
	.gs-stage__content__head-tag{
		
		@media ( min-width: 1280px ) {
			margin-bottom: 1em;
		}
	}
}

.gs-splash_card{
	border: 1px solid #EAEAEA;
	position: relative;
	
	a{
		text-decoration: none;
	}
	
	.gs-splash__card__header{
		background: #F7F7F7;
		position: relative;
		
		.icon-play{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 45px;
			height: 45px;
			background: colour('functional', 'functional');
			display: block;
			padding: 0.5em;
			text-align: center;
			line-height: 36px;
			cursor: pointer;
			
			svg{
				fill: colour('brand', 'white');
				width: 25px;
				height: 22px;
			}
			
			&:hover{
				background: colour('functional', 'functional', 'dark');
			}
		}
		
		img{
			margin: 0 auto;
		}
	}
	
	.gs-splash__card__body {
		height: 150px;
		padding: 1em;
		
		h3{
			margin: 0;
			font-size: 1.75em;
		}
		
		svg{
			fill: #e2001a;
			width: 40px;
			position: absolute;
			bottom: 1.5em;
			right: 1.5em;
		}
		
		@media (get-breakpoint('small')) {
			
			h3{
				font-size: 1.35em;
			}	
		}
		
		@media ( min-width: 1280px ) {
			
			h3{
				font-size: 1.75em;
			}	
		}
	}
}





/* 
	Info: Gulp Styleguide Code Labels
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
pre.language-html, pre.language-markup, pre.language-scss, pre.language-js {
	position: relative;

	code {
    width: 100%;
    display: block;
    overflow: scroll;
	}

	&:after {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #FFFFFF;
		padding: .5em;
		font-size: .875em;
	}	
}

pre.language-html, pre.language-markup {
	&:after {
		content: '.html';
	}
}

pre.language-scss {
	&:after {
		content: '.scss';
	}
}

pre.language-js {
	&:after {
		content: '.js';
	}
}




/* 
	Info: Gulp Styleguide Colour List
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/

.gs-colour-list {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	overflow: hidden;

	li {
		display: block;
		margin-bottom: 2em;
		color: #58585B;
	}

	.gs-colour-list__block, .gs-colour-list__info {
		max-width: 90%;
		border: 1px solid #EAEAEA;
	}

	.gs-colour-list__block {
		height: 100px;
		border-bottom: none;
		transition: background-color .3s ease-in;

		&:focus {
			outline: none;
		}
	}

	.gs-colour-list__info {
		background-color: #FFFFFF;
		padding: 1em;

		span {
			display: block;
		}
	}
}


/* 
	Info: Gulp Styleguide Carousels
	Dest: n/a 
	Note: 
*/
.gs-carousel {
	
	.interactive--navigation, 
	.interactive--navigation--round, 
	.interactive--response{
		margin-right: 1em;
	}
}




/* 
	Info: Gulp Styleguide SVG list
	Dest: n/a 
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
.gs-svg-list {
	svg {
		padding: 0.75em;
		width: 3em;
		height: 3em;
		fill: #232323;
		background: $gs-light-grey;
		margin-bottom: 0.5em;
		margin-right: 0.5em;
	}
}



/*
	Info: Gulp Styleguide Typography Section
	Dest: n/a
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
.gs-type_block{
	margin-bottom: 1em;
	
	h1, h2, h3, h4, h5, h6, p{
		margin: 0;
		line-height: 1;
	}
	
	@media ( get-breakpoint('x-small') ) {

		margin-bottom: 2em;

	}
	
	@media ( get-breakpoint('x-large') ) {
		
		margin-top: 1rem;	
	}
}


/*
	Info: Gulp Styleguide Misc Section
	Dest: n/a
	Note: These rules will likely have to remain in a Gulp Styleguide Sass partial
*/
.gs-section {
	position: relative;
	padding: 2em;

	.gs_section__content {
		width: 90%;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		width: 100%;
	}

	.gs-section__head {
		margin: 0;
	}
	
	

	.gs-section__logo {
		flex: 0 0 60px;

		svg {
			display: block;
			height: 1em;
		}
	}

	.no-flexbox & {
		header {
			display: table;

			.gs-section__head, .gs-section__logo {
				display: table-cell;
				vertical-align: middle;
			}

			svg {
				margin: 0 0 0 auto;
				max-width: 60px;
			}
		}
	}

	@media ( get-breakpoint('x-small') ) {
		.gs-section__logo {
			flex: 0 0 80px;

			svg {
				height: 1.5em;
			}
		}

		.no-flexbox & {
			header {
				svg {
					max-width: 80px;
				}
			}
		}
	}

	@media ( min-width: 800px ) {
		.gs-section__logo {
			flex: 0 0 100px;

			svg {
				height: 2em;
			}
		}
		
		.no-flexbox & {
			header {
				svg {
					max-width: 100px;
				}
			}
		}
	}
}

.gs-feedback {
	background-color: #FFFFFF;
}

.gs-changelog {
	background-color: lighten( #EAEAEA, 2.5% );

	li {
		margin-bottom: 1.5em;
	}
}


.gs-col-demo {
	background-color: #EAEAEA;
	text-align: center;
	padding: 1.5em;
	color: #E2001A;
	font-size: 1.125em;
}


.example-wrapper-light {
  background-color: $gs-light-grey;
  @extend %example-wrapper;
}

.gs-typeface-example {
  margin-bottom: 2em;
  display: block;

  & p {
    font-size: 1.75rem;
    color: colour('brand', 'red');
    font-family: $font-din;
  }

  & > label {
    margin-top: 1em;
  }

  .gs-present & > p {
    margin-top: 0;
  }
}

.half {
  @media ( get-breakpoint('x-small') ) {
    width: 49%;
    vertical-align: top;
    display: inline-block;
  }
}

.gs-logo-usage > .gs-present__label {
  margin-top: 0;
  display: block;
  width: 100%;
}

.gs-logo-usage-example {
  display: inline-block;
  @extend %on-white-outline
}

.rc-carousel {
  @extend %on-white-outline;
}

.gs-logo-example {
  @include clearfix();
  position: relative;
  padding: 2rem 3rem;
  background: white;

  & > figure {
    max-width: 200px;
    text-align: center;
  }

  & > label,
  & > p {
    clear: none;
    width: 70%;
    padding: 0 3em;
    position: relative;
    margin: 0;
  }
  
  &.gs-logo-crown figure{
	  
	  svg{
	   max-width: 50px;
	   margin: auto;
	  }
  }
}

@media ( max-width: 480px ) {
  .gs-logo-example {
    text-align: center;

    & > figure {
      display: inline-block;
      float: none;
      width: 200px;
      padding: 0;
      margin: 0 auto 1rem;
    }

    & > label,
    & > p {
      padding: 0;
      margin: 0;
      text-align: left;
      width: 100%;
    }
  }
}

@media ( get-breakpoint('x-small') ) {
  .gs-logo-example {
    text-align: center;

    & > label::before,
    & > p::before {
      content: '';
      @include red-accent(right, 2px);
      display: block;
      position: absolute;
      left: 0;
      margin-left: 1rem;
      top: 0;
      bottom: 0;
    }

    & > figure {
      width: 30%;
    }

    & > figure,
    & > label,
    & > p {
      text-align: left;
      float: left;
    }
  }
}

@media ( min-width: 500px ) {
  .gs-logo-example {
    padding: 0 4rem 4rem 4rem;
    

    & > figure {
      max-width: 240px;
      text-align: center;
      
      svg{
	      max-width: 170px;
      }
    }

    & > label {
      padding-right: 0;
    }
  }
}

.featured-option > label {
  @extend %on-white-outline;
}