@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Tabs</h1>
				<p>Usage and implementation for Tabs within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Tabs are used to display several pieces of related content in a small space. Tabs are built from standard buttons with a white background. Active tabs feature a white colours. Inactive tabs feature brand light grey colour. Material Design states that tabs should not be stacked on mobile as it would be considered there is too much content. In If tab buttons exeed the width of the container or device they should become scrollable.</p>
					<p>Whilst this component is flexible enough to accommodate any number of tabs and any amount of content in the content boxes, it is recommended than when using it, you follow these guidelines:</p>
					<ul>
						<li>Trigger button values should be short.</li>
						<li>Images used inside the content blocks must use the align classes, <a href="/02-components/03-typography/paragraph-with-image.html">outlined here</a>.</li>
						<li>All Trigger buttons must contain text <em>as well as </em> an SVG, or an SVG by itself.</li>
						<li>If the Trigger buttons contain no text (just an SVG), the <code class="language-html">rc-tabs--icons</code> class must be applied in addition to the wrapping <code class="language-html">rc-tabs</code> class.</li>
						<li>The <code class="language-html">clearfix</code> class should not be removed.</li>
					</ul>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present example-wrapper-light">
				<header>
					<label class="gs-present__label">Standard Tab Layout</label>
					<p></p>
				</header>

				@@include('./02-components/10-tabs/_tabs.html')

				<pre><code class="gs-code language-html">@@include('./02-components/10-tabs/_tabs.html')</code></pre>
			</section>

			<section class="gs-present example-wrapper-light">
				<header>
					<label class="gs-present__label">Side Tab Layout</label>
					<p></p>
				</header>

				@@include('./02-components/10-tabs/_tabs-side.html')

				<pre><code class="gs-code language-html">@@include('./02-components/10-tabs/_tabs-side.html')</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-components/10-tabs/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')