<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Royal Canin Web Design Language</title>
    <script src="/assets/js/modernizr.min.js"></script>
    <link rel="stylesheet" href="/assets/css/styleguide.styles.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
</head>

<body class="section-type--@@class.section">


<div class="gs-nav">
    <header class="gs-nav__header">
        <a href="/">
            <figure class="gs-logo">
                <img src="/assets/images/rc-logo.png" alt="Royal Canin">
            </figure>
        </a>

        <!-- update to gs-nav__trigger -->
        <div id="gs-nav-trigger">
            <div class="gs-nav-trigger__pos">
                <hr>
                <hr>
                <hr>
            </div>
        </div>
    </header>

    <nav class="gs-nav__nav">
        @@include('./_nav.html')
    </nav>
</div>
