@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Royal Canin Web Design Language</h1>
				<p>Welcome to the Royal Canin Web Design Language Portal.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>All Royal Canin website assets are to be demonstrated here.</p>
					<p>Master Sketch files containing the wireframe and design patterns can be download in the Documentation section.</p>
					<p>Find out more in the video below.</p>
				</blockquote>
			</header>

			<div class="video-wrapper">
				<iframe src="https://player.vimeo.com/video/207771491" width="100%" height="auto" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>

		</div>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')