@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">



		<div class="gs-stage__content">


			<h1>Buttons</h1>
			<p>Variations for Web Design Language Buttons.</p>

			<blockquote>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</blockquote>

			<div class="gs-present">
				<button>Hello</button>
			</div>

			<code>
				&lt;button&gt;Hello&lt;/button&gt;
			</code>



		</div>






		<div class="gs-stage__meta">
			<ul>
				<li><a href="#">Overview</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Code Snippets</a></li>
				<li><a href="#">Variations</a></li>
				<li><a href="#">Issues</a></li>
				<li><a href="#">Changelog</a></li>
				<li><a href="#">Rules</a></li>
				<li><a href="#">Feedback</a></li>
			</ul>

			<hr>
		</div>
		
	</div>

</div>

@@include('./_site-footer.html')












<script type="text/javascript">
	
	function nav_accordion( accordion, trigger ) {
		var a = document.querySelector( accordion );
		var ts =	document.querySelectorAll( trigger );


		ts.forEach( function( t ) {
			t.addEventListener( 'click', function() {

				var aH = a.scrollHeight;


				if ( t.classList.contains( 'triggered' ) ) {

					// current height
					var thul = t.parentNode.querySelector('ul');
					var thulh = thul.offsetHeight;


					t.classList.remove( 'triggered' );
					// t.parentNode.querySelector('ul').classList.remove( 'visible' );

					thul.style.height = thulh - thulh + 'px';

					a.style.height = aH - thulh + 'px';

				} else {

					t.classList.add( 'triggered' );
					// t.parentNode.querySelector('ul').classList.add( 'visible' );

					var tHUL = t.parentNode.querySelector('ul');
					var tHULH = tHUL.scrollHeight;

					// t.parentNode.querySelector('ul').style.height = t.parentNode.querySelector('ul').scrollHeight + 'px';

					tHUL.style.height = tHULH + 'px';

					a.style.height = aH + tHULH + 'px';
				}

				a.style.height = a.clientHeight;

			} );
		});


	}


	nav_accordion( '.gs-nav__nav', '.gs-nav__trigger');



	// var lis = document.querySelectorAll('.gs-nav li > a');

	// for (var i = 0; i < lis.length; i++) {
	// 	lis[i].addEventListener( 'click', function() {
	// 		this.parentElement.classList.toggle('active');
	// 	} );
	// }










	// function simple_toggler( trigger, target ) {

	// 	// If either argument is undefined, end here.
	//   if ( trigger === undefined || target === undefined ) {
	//   	return false;
	//   }

	//   // Set up internal variables to contain arguments.
	// 	var tr = document.querySelector( trigger ), 
	// 			ta = document.querySelector( target ) ;


	// 	// Event handlder
	// 	tr.addEventListener( 'click', function() {
	// 		// If the trigger has a class of triggered
	// 		if ( tr.classList.contains( 'triggered' ) ) {

	// 			// Remove that class
	// 			this.classList.remove( 'triggered' );
				
	// 			// Set the target height to 0
	// 			ta.style.height = 0 + 'px';
	// 			// Remove visible class
	// 			ta.classList.remove( 'visible' );

	// 		} else {

	// 			// Add triggered class
	// 			this.classList.add( 'triggered' );

	// 			// Set the target height to it's scroll height
	// 			ta.style.height = ta.scrollHeight + 'px';
	// 			// Add visible class
	// 			ta.classList.add( 'visible' );

	// 		}
	// 	});
	// }





	// // Scripts

	// simple_toggler( '#gs-nav-trigger', '.gs-nav__nav' );













	// function sub_nav_toggler( triggers, parent ) {
	// 	var triggers = document.querySelectorAll( triggers );

	// 	// Parent
	// 	var parent = document.querySelector( parent );
	// 	var parentHeightNow = parent.scrollHeight;

	// 	// var parentBaseHeight = parent.scrollHeight;

	// 	triggers.forEach( function( trigger ){

	// 		// Event listener
	// 		trigger.addEventListener( 'click', function() {
				
	// 				var target = trigger.parentNode.querySelector('ul');
	// 				var targetHeight;

					

	// 				if ( target.classList.contains('visible') ) {
						
	// 					target.classList.remove('visible');
	// 					targetHeight = target.scrollHeight - target.scrollHeight;

	// 					target.style.height = targetHeight + 'px';
	// 					parentHeightNow = parentHeightNow - target.scrollHeight;

	// 				} else {
						
	// 					target.classList.add('visible');
	// 					targetHeight = target.scrollHeight;

	// 					target.style.height = targetHeight + 'px';
	// 					parentHeightNow = parentHeightNow + target.scrollHeight;

	// 				}

	// 				parent.style.height = parentHeightNow + 'px';

	// 		} );

	// 	} );


	// }

	// sub_nav_toggler( '.gs-nav__trigger', '.gs-nav__nav' );











</script>