.interactive--pager {
	display: inline-block;
	width: 1em;
	height: 1em;
	margin: 0 .25em;
	background-color: $rc-light-grey;
	border: 2px solid transparent;
	border-radius: 100%;
	overflow: hidden;
	transition: background-color .2s ease-in-out, border .2s ease-in-out;

	&:hover, &:focus {
		border-color: $rc-red;
	}

	&.interactive--pager--active {
		background-color: $rc-red;

		&:hover, &:focus {
			background-color: darken( $rc-red, 5% );
		}

		&:active {
			background-color: darken( $rc-red, 15% );
		}
	}
}

.interactive--navigation, .interactive--navigation--round {
	display: inline-block;
	line-height: 1;
	padding: 1rem;
	transition: background-color .2s ease-in-out;
	background-color: $rc-white;
	
	svg {
		position: relative;
		width: 1.25em;
		height: 1.25em;
		fill: $rc-red;
		transition: fill .2s ease-in-out;
	}

	&:hover, &:focus {
		background-color: darken( $rc-white, 5% );
	}

	&:active {
		background-color: darken( $rc-white, 15% );	
	}
}


.interactive--navigation--round {
	border-radius: 100%;
	overflow: hidden;
	background-color: $rc-red;

	svg {
		fill: $rc-white;
	}

	&:hover, &:focus {
		background-color: darken( $rc-red, 5% );
	}

	&:active {
		background-color: darken( $rc-red, 15% );	
	}
}

.interactive--navigation--prev {
	svg {
		right: 1px;
	}
}

.interactive--navigation--next {
	svg {
		left: 1px;
	}
}