@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Colour</h1>
				<p>Usage and implementation for Colours within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Royal Canin brand colours are well established and the Web Design Language aims to adhere to these references. The colours set out below will form the base colours for all components, with a secondary palette introduced to complement primary colours where an alternate colour is required.</p>
					<p>Colours are presented here by their <b>name</b>, <b>Hex</b> value and <b>Sass variable</b>.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Primary Colour</label>
					<p>Primary brand colours will emphasise the Royal Canin brand throughout the Web Design Language. Brand red should only be used when brand reinforcement is required, too much brand red will lose impact. Medium and light greys are to be used to complement brand red. White should remain a background colour or a text colour on red.</p>
				</header>

				<ul class="gs-colour-list rc-grid">
					@@loop("./02-components/02-colours/_colour.html", "./02-components/02-colours/_colours-primary.json")
				</ul>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Secondary Colours</label>
					<p>Secondary brand colours should be used for secondary pieces of content or where a user needs to be alerted to a state. Text colour should be used throughout designs & implementation and represents the best colour contrast for use on white and light grey background. Success and Error colours are to be used when a user requires feedback on a an action. Button alternate should be used when a button colour is required but should be secondary to the main brand red.</p>
				</header>

				<ul class="gs-colour-list gs-colour-list--nonprimary rc-grid">
					@@loop("./02-components/02-colours/_colour.html", "./02-components/02-colours/_colours-secondary.json")
				</ul>
			</section>
			
			
			<section class="gs-present">
				<header>
					<label class="gs-present__label">Hover state</label>
					<p>Button hover states will be handled as part of the css. SASS enables a ‘darken’ attribute to be applied to a default brand colour reference to ensure the correct hover reference is always applied. In the hover instance, a 'darken' attribute of 5% will ensure the colour reference differs enough to give the user a visual cue to an interaction.</p>
				</header>
			</section>
			
			
			<section class="gs-present">
				<header>
					<label class="gs-present__label">Active state</label>
					<p>Active state will again rely on the darken attribute to visually represent a button active state. As the click will only be active briefly a darken attribute of 15% will ensure the user is aware of the change to represent button click.</p>
				</header>
			</section>
			
			
			<section class="gs-present">
				<header>
					<label class="gs-present__label">Colour Contrast</label>
					<p>Active state will again rely on the darken attribute to visually represent a button active state. As the click will only be active briefly a darken attribute of 15% will ensure the user is aware of the change to represent button click.</p>
				</header>
			</section>
			
			<p>Traditional grey text colour contrast</p>
			<img src="../../assets/images/contrast-grey.jpg" alt="" class="">
			
			
			<p>Updated dark grey text colour contrast</p>
			<img src="../../assets/images/contrast-black.jpg" alt="" class="">

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-components/02-colours/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')
		
	</div>

</div>

@@include('./_site-footer.html')