// General
body,
input,
textarea,
select,
button {
	font: 300 .875em $font-din; // weight size/line-height family

	@media ( min-width: 640px ) {
		font-size: 1em;
	}
}




// Default Headings
h1, h2, h3, h4, h5, h6 {
	color: $rc-red;
	font-weight: 300;
	line-height: 1.25;
	margin-top: 1em;
	margin-bottom: .5em;
}

h1 {
	font-size: 2em;// 32
	
	@media ( min-width: 640px ) {
		font-size: 2.5em; // 40
	}

	@media ( min-width: 1024px ) {
		font-size: 3.125em;	// 50
	}
}

h2 {
	font-size: 1.875em; // 30
	
	@media ( min-width: 640px ) {
		font-size: 2.25em; // 36
	}

	@media ( min-width: 1024px ) {
		font-size: 2.625em;	//42
	}
}

h3 {
	font-size: 1.625em; // 26
	
	@media ( min-width: 640px ) {
		font-size: 2em; // 32
	}

	@media ( min-width: 1024px ) {
		font-size: 2.25em;	//36
	}
}

h4 {
	font-size: 1.5em; // 24
	
	@media ( min-width: 640px ) {
		font-size: 1.875em; // 30
	}

	@media ( min-width: 1024px ) {
		font-size: 2em; // 32
	}
}

h5 {
	font-size: 1.375em; // 22
	
	@media ( min-width: 640px ) {
		font-size: 1.625em; // 26
	}

	@media ( min-width: 1024px ) {
		font-size: 1.75em; // 28
	}
}


h6 {
	font-size: 1.25em; // 20
	
	@media ( min-width: 640px ) {
		font-size: 1.5em; // 24
	}

	@media ( min-width: 1024px ) {
		font-size: 1.625em; // 26
	}
}



// Modifier Headings
.rc-head--display {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.875em; // 30
	
	@media ( min-width: 640px ) {
		font-size: 2.5em; // 40
	}

	@media ( min-width: 1024px ) {
		font-size: 3.125em;	// 50
	}
}

.rc-head--headline {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.375em; // 22
	
	@media ( min-width: 640px ) {
		font-size: 1.75em; // 28
	}

	@media ( min-width: 1024px ) {
		font-size: 2em; // 32
	}
}

.rc-head--subheadline {
	font-weight: 700;
	font-size: 1.125em; // 18
	
	@media ( min-width: 640px ) {
		font-size: 1.375em; // 22
	}

	@media ( min-width: 1024px ) {
		font-size: 1.5em; // 24
	}
}

.rc-head--article {
	font-size: 1em; // 16
	
	@media ( min-width: 640px ) {
		font-size: 1.25em; // 20
	}

	@media ( min-width: 1024px ) {
		font-size: 1.375em; // 22
	}
}




// Paragraph
p {
	line-height: 1.5;

	a {
		display: inline-block;
		vertical-align: bottom;
		position: relative;
		z-index: 1;
		color: $rc-functional;
		transition: color 0.2s ease-in;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $rc-functional;
			z-index: -1;
			transform: translateY( 110% );
			transition: transform .2s ease-in-out, background-color .2s ease-in-out;
		}

		&:hover, &:focus {
			color: $rc-white;
			text-decoration: none;

			&:before {
				transform: translateY( 0% );
			}
		}

		&:focus {
			outline: none;
		}

		&:active {
			&:before {
				background-color: darken( $rc-functional, 5% );
			}
		}
	}
}



// Blockquote
blockquote {
	border-left: 3px solid $rc-red;
	margin-left: 0;
	padding-left: 2em;

	p {
		color: $rc-text;
	}
}