@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Inline Elements</h1>
				<p>Usage and implementation for Typography within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Inline elements can be used within, or alongside, paragraph tags.</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;a&gt;</label>
					<p>This text contains an <a href="#">inline anchor link</a></p>
				</header>
				<pre><code class="gs-code language-html"> This text contains an <a href="#">inline anchor link</a> </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;abbr&gt;</label>
					<p>Provide a description for an abbreviated term, such as <abbr title="Royal Canin Web Design Language">RCWDL</abbr>.</p>
				</header>
				<pre><code class="gs-code language-html"> <abbr title="Royal Canin Web Design Langugae">RCWDL</abbr> </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;b&gt;</label>
					<p>Stylistically <b>different from normal text</b>, without conveying any special importance or relevance.</p>
				</header>
				<pre><code class="gs-code language-html"> <b>Royal Canin</b> Web Design Language </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;br&gt;</label>
					<p>Produces a line break <br>wherever it is placed.</p>
				</header>
				<pre><code class="gs-code language-html"> Produces a line break <br>wherever it is placed. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;cite&gt;</label>
					<p>Use as a reference to the source of some information. <cite>https://developer.mozilla.org/en-US/docs/Web/HTML/Element/cite</cite></p>
				</header>
				<pre><code class="gs-code language-html"> Royal Canin Web Design Language <cite>http://wdl.royalcanin.com</cite> </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;code&gt;</label>
					<p>Used to display computer code such as <code>const i = 0;</code></p>
				</header>
				<pre><code class="gs-code language-html"> <code>const i = 0;</code> </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;del&gt; and &lt;ins&gt;</label>
					<p>Used to display edits to <del>some</del> <ins>a piece of</ins> text.</p>
				</header>
				<pre><code class="gs-code language-html"> Used to display edits to <del>some</del> <ins>a piece of</ins> text. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;dfn&gt;</label>
					<p>Used to define a <dfn id="def-term">term</dfn>, which is a word or phrase used to describe a thing or to express a concept.</p>
				</header>
				<pre><code class="gs-code language-html"> <dfn id="def-internet">The Internet</dfn> is a global system of interconnected networks that use the Internet Protocol Suite (TCP/IP) to serve billions of users worldwide. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;em&gt;</label>
					<p>Used to add <em>stress emphasis</em> to some text.</p>
				</header>
				<pre><code class="gs-code language-html"> Used to add <em>stress emphasis</em> to some text. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;i&gt;</label>
					<p>Used to represent text that is <i>set off</i> from the normal text. Examples include technical terms, foreign language phrases, or fictional character thoughts.</p>
				</header>
				<pre><code class="gs-code language-html"> <i>HyperText Markup Language</i> is the markup language of the web. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;kbd&gt;</label>
					<p>Used to represent a keyboard command, such as <kbd>cmd</kbd>.</p>
				</header>
				<pre><code class="gs-code language-html"> To copy text on a Mac, use the <kbd>cmd</kbd> + <kbd>c</kbd> keys. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;mark&gt;</label>
					<p>Used to <mark>highlight</mark> some text.</p>
				</header>
				<pre><code class="gs-code language-html"> Used to <mark>highlight</mark> some text. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;q&gt;</label>
					<p>Used to represent short inline quotations where the cite attribute points to the source. For long quotations use the blockquote element. <br> <q cite="https://www.brainyquote.com/quotes/quotes/r/renedescar100799.html">It is not enough to have a good mind; the main thing is to use it well.</q> - Rene Descartes</p>
				</header>
				<pre><code class="gs-code language-html"> <q cite="https://www.brainyquote.com/quotes/quotes/r/renedescar100799.html">It is not enough to have a good mind; the main thing is to use it well.</q> - Rene Descartes </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;s&gt;</label>
					<p>Used to represent <s>some information</s> that is no longer accurate.</p>
				</header>
				<pre><code class="gs-code language-html"> Used to represent <s>some information</s> that is no longer accurate. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;small&gt;</label>
					<p>Used to represent <small>smallprint</small>.</p>
				</header>
				<pre><code class="gs-code language-html"> Used to represent <small>smallprint</small>. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;span&gt;</label>
					<p>A generic inline container. Can be used for <span style="color: red;">styling</span> or to represent shared values. Should only be used when no other semantic element is apporpriate.</p>
				</header>
				<pre><code class="gs-code language-html"> Can be used for <span class="color: red;">styling</span> or... </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;strong&gt;</label>
					<p>Used to give text <strong>importance.</strong></p>
				</header>
				<pre><code class="gs-code language-html"> Used to give text <strong>importance.</strong> </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;sub&gt;</label>
					<p>Used to represent sub text, such as H<sub>2</sub>O</p>
				</header>
				<pre><code class="gs-code language-html"> Used to represent sub text, such as H<sub>2</sub>O </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;sup&gt;</label>
					<p>Used to represent <sup>superscript</sup> text.</p>
				</header>
				<pre><code class="gs-code language-html"> Used to represent <sup>superscript</sup> text. </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;time&gt;</label>
					<p>Used to represent a time, such as <time datetime="1989-11-18T00:00">November 18 1989</time>.</p>
				</header>
				<pre><code class="gs-code language-html"> <time datetime="1989-11-18T00:00">November 18 1989</time> </code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">&lt;u&gt;</label>
					<p>Used to <u>underline a piece of text.</u></p>
				</header>
				<pre><code class="gs-code language-html"> Used to <u>underline a piece of text.</u> </code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-components/typography/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')