@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			@@include('./01-components/alerts/_alert.html', {
				"class": "alert--error",
				"message": "This section is in progress"
			})

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Grid</h1>
				<p>Usage and implementation for Grid within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>
			<p>The examples below display front end styling and HTML markup to implement the Grid into your code.</p>


			<section class="gs-present">
				<header>
					<label class="gs-present__label">1/1 Columns</label>
				</header>

				<div class="rc-grid">
					<div class="rc-col rc-col-100">
						<div class="gs-col-demo">
							100%
						</div>
					</div>
				</div>

				<pre><code class="gs-code language-html"></code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label class="gs-present__label">1/2 Columns</label>
				</header>

				<div class="rc-grid">
					<div class="rc-col rc-col-50">
						<div class="gs-col-demo">
							50%
						</div>
					</div>
					<div class="rc-col rc-col-50">
						<div class="gs-col-demo">
							50%
						</div>
					</div>
				</div>

				<pre><code class="gs-code language-html"></code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">1/3 Columns</label>
				</header>

				<div class="rc-grid">
					<div class="rc-col rc-col-33">
						<div class="gs-col-demo">
							33%
						</div>
					</div>
					<div class="rc-col rc-col-33">
						<div class="gs-col-demo">
							33%
						</div>
					</div>
					<div class="rc-col rc-col-33">
						<div class="gs-col-demo">
							33%
						</div>
					</div>
				</div>

				<pre><code class="gs-code language-html"></code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label class="gs-present__label">1/4 Columns</label>
				</header>

				<div class="rc-grid">
					<div class="rc-col rc-col-25">
						<div class="gs-col-demo">
							25%
						</div>
					</div>
					<div class="rc-col rc-col-25">
						<div class="gs-col-demo">
							25%
						</div>
					</div>
					<div class="rc-col rc-col-25">
						<div class="gs-col-demo">
							25%
						</div>
					</div>
					<div class="rc-col rc-col-25">
						<div class="gs-col-demo">
							25%
						</div>
					</div>
				</div>

				<pre><code class="gs-code language-html"></code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label class="gs-present__label">1/5 Columns</label>
				</header>

				<div class="rc-grid">
					<div class="rc-col rc-col-20">
						<div class="gs-col-demo">
							20%
						</div>
					</div>
					<div class="rc-col rc-col-20">
						<div class="gs-col-demo">
							20%
						</div>
					</div>
					<div class="rc-col rc-col-20">
						<div class="gs-col-demo">
							20%
						</div>
					</div>
					<div class="rc-col rc-col-20">
						<div class="gs-col-demo">
							20%
						</div>
					</div>
					<div class="rc-col rc-col-20">
						<div class="gs-col-demo">
							20%
						</div>
					</div>
				</div>

				<pre><code class="gs-code language-html"></code></pre>
			</section>


		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./02-features/grid/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')