label {
	display: inline-block;
	font-size: 1.125em;
	margin: .75em 0;
}


input[type="text"],
textarea,
select {
	width: 100%;
	font-size: 1.125em;
	padding: .75em;
	border: 1px solid transparent;
	margin-bottom: 1em;
	box-shadow: 0 2px 4px rgba( 0, 0, 0, .1 );

	&:focus {
		outline: none;
		// @todo make this a variable
		border: 1px solid #80ACE1;
		box-shadow: 0 0 4px rgba( 128, 172, 255, 0.9 );
	}

	&:disabled {
		background-color: $rc-light-grey;
	}

	&.error {
		// @todo make this a variable
		color: #E45252;
		border: 1px solid $rc-red;
		background-color: #F4EAEA;

		&:focus {
			box-shadow: 0 0 4px rgba( 232, 90, 90, 0.9 );
		}
	}
}

textarea {
	resize: vertical;
	height: 200px;
}


.rc-select {
	position: relative;
	margin-bottom: 1em;

	select {
		appearance: none;
		margin-bottom: 0;
	}

	&:before, &:after {
		display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
	}

	&:before {
    background-color: $rc-red;
    width: 60px;
    z-index: 1;
	}

	&:after {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #FFFFFF;
    z-index: 2;
    top: 50%;
    margin-top: -3px;
    right: 19px;
    width: 10px;
    height: 10px;
	}
}