<div class="rc-input--custom">
	<input id="id-custom-@@type" type="@@type" name="@@type" value="input-label">
	<label for="id-custom-@@type">Input Label</label>
</div>

<div class="rc-input--custom">
	<input id="id-custom-@@type-2" type="@@type" name="@@type" value="input-label" checked>
	<label for="id-custom-@@type-2">Input Label</label>
</div>

<div class="rc-input--custom">
	<input id="id-custom-@@type-3" type="@@type" name="@@type" value="input-label">
	<label for="id-custom-@@type-3">Input Label</label>
</div>