input[type="text"],
textarea {
	border: 1px solid transparent;
	font-size: 1.125em;
	box-shadow: 0 2px 4px rgba( 0, 0, 0, .1 );
	padding: .75em;
	width: 100%;
	font-family: $font-din;
	margin-bottom: 1em;

	&:focus {
		// @todo make this a variable
		border: 1px solid #80ACE1;
		outline: none;
		box-shadow: 0 0 4px rgba( 128, 172, 255, 0.9 );
	}

	&:disabled {
		background-color: $rc-light-grey;
	}

	&.error {
		// @todo make this a variable
		color: #E45252;
		border: 1px solid $rc-red;
		background-color: #F4EAEA;

		&:focus {
			box-shadow: 0 0 4px rgba( 232, 90, 90, 0.9 );
		}
	}
}

textarea {
	resize: vertical;
	height: 200px;
}
