@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Forms</h1>
				<p>Usage and implementation for Forms within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Form elements will ensure rapid form development is a possibility.</p>
					<p>Strict markup will ensure all form elements are displayed correctly</p>
				</blockquote>
			</header>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Form Field Structure</label>
					<p>Please note the following structure for form fields. This structure is key to achieving the interactive effect on fields. </p>
					<p>Wherever a form field is used and the effect is desired, it must adhere to this structure exactly.</p>
				</header>

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})</code></pre>
			</section>
			
			<br>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">A note on Accessibility (A11y)</label>
					<p>Please ensure that the <code class="language-html">for=""</code> attribute is used on labels and that it matches the input ID, for accessibility purposes, for example: </p>
				</header>

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})</code></pre>

				<p>Since the <code class="language-html">for</code> attribute relies on an ID to match up with, ensure that all Input IDs are unique on your page.</p>

				<p>Every input, where applicable, must include a Label. If the design calls for an instance where no label exists, it should be hidden using the <code class="language-scss">screen-reader-text</code> class.</p>
			</section>

			<br>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Positioning Inputs</label>
					<p>When building a form, please use a wrapping element to position your Inputs, as opposed to applying positioning rules directly to the Inputs. For example:</p>
				</header>

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_form-positioning.html')</code></pre>
			</section>

			<br>
		
			<section class="gs-present">
				<header>
					<label class="gs-present__label"><code class="gs-code language-html"><input type="image"></code></label>
					<p>Please <b>don't</b> use the Image input type for submit buttons.</p>
					<p>The Submit input type, a button or an anchor with a class of <code class="language-scss">button</code> is more appropriate.</p>
				</header>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/forms/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')
		
	</div>

</div>

@@include('./_site-footer.html')