
@@include('./_site-header.html')



<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Inputs</h1>

			<p>Available inputs for Forms.</p>

			<h2>A note on accessibility.</h2>

			<p>Please ensure that the <code class="language-html">for=""</code> attribute is used on labels and that it matches the input ID, for accessibility purposes, for example: </p>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-text.html')</code></pre>

			<p>Since the <code class="language-html">for</code> attribute relies on an ID to match up with, ensure that all Input IDs are unique on your page.</p>

			<br>

			<h2>Type - Button</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-button.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-button.html')</code></pre>

			<br>

			<h2>Type - Checkbox</h2>
			<p>When using Checkboxes, ensure that the accompanying Label either wraps the input, or is place directly after it.</p>
			<p>What follows is an example of both implementations.</p>
			<p>In a form or a real world situation, Checkboxes and their labels should be grouped inside of, and positioned by, a containing element.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-checkbox.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-checkbox.html')</code></pre>

			<br>

			<h2>Type - Color</h2>
			<p>If used, the Color input should use the Royal Canin Red color as it's default value.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-color.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-color.html')</code></pre>

			<br>

			<h2>Type - Date</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-date.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-date.html')</code></pre>

			<br>

			<h2>Type - Text</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-text.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-text.html')</code></pre>











			<br><br><br>

			<h2>Text</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-text.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-text.html')</code></pre>

			<br>
			<br>

			<h2>Textarea</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_textarea.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_textarea.html')</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

