@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Inputs - States</h1>
				<p>Usage and implementation for Form Elements within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>Form elements will ensure rapid form development is a possibility.</p>
					<p>Strict markup will ensure all form elements are displayed correctly</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Required</label>
				</header>

				<label>Input Label</label>
				<input id="id-text" type="text" name="name" placeholder="Placeholder..." required>

				<!-- @todo abstract -->
				<pre><code class="gs-code language-html">
<label>Input Label</label>
<input id="id-text" type="text" name="name" placeholder="Placeholder..." required>
				</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Error</label>
					<p>When an input fails to validate, the class <code class="language-scss">error</code> is added to the input.</p>
				</header>

				<label>Input Label</label>
				<input id="id-text" type="text" name="name" placeholder="Placeholder..." class="error">

				<!-- @todo abstract -->
				<pre><code class="gs-code language-html">
<label>Input Label</label>
<input id="id-text" type="text" name="name" placeholder="Placeholder..." class="error">
				</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Disabled</label>
					<p>If a form element is required to be locked it will be disabled until further action has been carried out. </p>
				</header>

				<label>Input Label</label>
				<input id="id-text" type="text" name="name" placeholder="Placeholder..." disabled>

				<!-- @todo abstract -->
				<pre><code class="gs-code language-html">
<label>Input Label</label>
<input id="id-text" type="text" name="name" placeholder="Placeholder..." disabled>
				</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/forms/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')

	</div>

</div>

@@include('./_site-footer.html')