@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Inputs</h1>
				<p>Usage and implementation for Forms within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--6">Introduction</h2>
					<p>Form elements will ensure rapid form development is a possibility.</p>
					<p>Strict markup will ensure all form elements are displayed correctly</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Button</label>
				</header>

				@@include('./01-components/forms/_input-value.html', {
					"type": "button",
					"value": "button"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
					"type": "button",
					"value": "button"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Checkbox</label>
					<p>When using Checkbox Inputs, ensure that the accompanying Label either wraps the input, or is placed directly after it.</p>
					<p>What follows is an example of both implementations.</p>
					<p>In a form or a real world situation, Checkbox Inputs and their labels should be grouped inside of, and positioned by, a containing element.</p>
				</header>

				@@include('./01-components/forms/_input-toggle.html', {
					"type": "checkbox"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle.html', {
					"type": "checkbox"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Checkbox (Custom)</label>
				</header>

				@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "checkbox"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "checkbox"
				})</code></pre>
			</section>


			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Color</label>
					<p>If used, the Color input should use the Royal Canin Red color as it's default value.</p>
				</header>

				@@include('./01-components/forms/_input-value.html', {
					"type": "color",
					"value": "#E2001A"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
					"type": "color",
					"value": "#E2001A"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Date</label>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "date" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "date" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Datetime Local</label>
					<p>It is unlikely that this input type will need to be used. A standard Date Input can be used in most situations.</p>
					<p>On top of this, there is less browser support for this Input type.</p>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "datetime-local" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "datetime-local" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Email</label>
					<p>The Email Input has access to the <code class="language-scss">:valid</code> and <code class="language-scss">:invalid</code> pseudo-classes.</p>
					<p>Only the <code class="language-scss">:invalid</code> pseudo-class is used as a visual indicator.</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "email" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "email" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - File</label>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "file" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "file" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Hidden</label>
					<p>In the case of a Hidden input, the label is not necessary.</p>
				</header>

				@@include('./01-components/forms/_input-hidden.html', {
					"type": "hidden",
					"value": "value" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-hidden.html', {
					"type": "hidden",
					"value": "value" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Month</label>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "month" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "month" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Number</label>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "number" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "number" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Radio</label>
					<p>When using Radio Inputs, ensure that the accompanying Label either wraps the input, or is place directly after it.</p>
					<p>What follows is an example of both implementations.</p>
					<p>In a form or a real world situation, Radio Inputs and their labels should be grouped inside of, and positioned by, a containing element.</p>
				</header>

				@@include('./01-components/forms/_input-toggle.html', {
					"type": "radio"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle.html', {
					"type": "radio"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Radio (Custom)</label>
					<p>Custom Radio Inputs require a different structure.</p>
				</header>

				@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "radio"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "radio"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Reset</label>
				</header>

				@@include('./01-components/forms/_input-value.html', {
					"type": "reset",
					"value": "Reset"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
					"type": "reset",
					"value": "Reset"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Search</label>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "search" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "search" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Submit</label>
				</header>

				@@include('./01-components/forms/_input-value.html', {
					"type": "submit",
					"value": "Submit"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
					"type": "submit",
					"value": "Submit"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Time</label>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "time" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "time" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Tel</label>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "tel" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "tel" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Text</label>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Password</label>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "password" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "password" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - URL</label>
					<p>The URL Input has access to the <code class="language-scss">:valid</code> and <code class="language-scss">:invalid</code> pseudo-classes.</p>
					<p>Only the <code class="language-scss">:invalid</code> pseudo-class is used as a visual indicator.</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "url" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "url" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Week</label>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "week" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "week" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Textarea</label>
				</header>

				@@include('./01-components/forms/_textarea.html')

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_textarea.html')</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--4 gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/forms/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')
		
	</div>

</div>

@@include('./_site-footer.html')