
@@include('./_site-header.html')



<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Inputs</h1>

			<p>Available inputs for Forms.</p>

			<h2>Type - Button</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-value.html', {
					"type": "button",
					"value": "button"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
				"type": "button",
				"value": "button"
			})</code></pre>

			<br>

			<h2>Type - Checkbox</h2>
			<p>When using Checkbox Inputs, ensure that the accompanying Label either wraps the input, or is place directly after it.</p>
			<p>What follows is an example of both implementations.</p>
			<p>In a form or a real world situation, Checkbox Inputs and their labels should be grouped inside of, and positioned by, a containing element.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-toggle.html', {
					"type": "checkbox"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle.html', {
				"type": "checkbox"
			})</code></pre>

			<br>

			<h2>Type - Checkbox (Custom)</h2>
			<p>Custom Checkbox Inputs require a different structure.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "checkbox"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle-custom.html', {
				"type": "checkbox"
			})</code></pre>

			<br>

			<h2>Type - Color</h2>
			<p>If used, the Color input should use the Royal Canin Red color as it's default value.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-value.html', {
					"type": "color",
					"value": "#E2001A"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
				"type": "color",
				"value": "#E2001A"
			})</code></pre>

			<br>

			<h2>Type - Date</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "date" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
				"type": "date" 
			})</code></pre>

			<br>

			<h2>Type - Datetime Local</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "datetime-local" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
				"type": "datetime-local" 
			})</code></pre>

			<br>

			<h2>Type - Email</h2>
			<p>The Email Input has access to the <code class="language-scss">:valid</code> and <code class="language-scss">:invalid</code> pseudo-classes.</p>
			<p>Only the <code class="language-scss">:invalid</code> pseudo-class is used as a visual indicator.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "email" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "email" 
			})</code></pre>


			<br>

			<h2>Type - File</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "file" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
				"type": "file" 
			})</code></pre>

			<br>

			<h2>Type - Hidden</h2>
			<p>In the case of a Hidden input, the label is not necessary.</p>
			<div class="gs-present">
				@@include('./01-components/forms/_input-hidden.html', {
					"type": "hidden",
					"value": "value" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-hidden.html', {
				"type": "hidden",
				"value": "value" 
			})</code></pre>

			<br>

			<h2>Type - Month</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "month" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
				"type": "month" 
			})</code></pre>

			<br>

			<h2>Type - Number</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "number" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "number" 
			})</code></pre>

			<br>

			<h2>Type - Radio</h2>
			<p>When using Radio Inputs, ensure that the accompanying Label either wraps the input, or is place directly after it.</p>
			<p>What follows is an example of both implementations.</p>
			<p>In a form or a real world situation, Radio Inputs and their labels should be grouped inside of, and positioned by, a containing element.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-toggle.html', {
					"type": "radio"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle.html', {
				"type": "radio"
			})</code></pre>

			<br>

			<h2>Type - Radio (Custom)</h2>
			<p>Custom Radio Inputs require a different structure.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "radio"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle-custom.html', {
				"type": "radio"
			})</code></pre>

			<br>

			<h2>Type - Reset</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-value.html', {
					"type": "reset",
					"value": "Reset"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
				"type": "reset",
				"value": "Reset"
			})</code></pre>

			<br>

			<h2>Type - Search</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "search" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "search" 
			})</code></pre>

			<br>

			<h2>Type - Submit</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-value.html', {
					"type": "submit",
					"value": "Submit"
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
				"type": "submit",
				"value": "Submit"
			})</code></pre>

			<br>

			<h2>Type - Time</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "time" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
				"type": "time" 
			})</code></pre>

			<br>

			<h2>Type - Tel</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "tel" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "tel" 
			})</code></pre>

			<br>

			<h2>Type - Text</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "text" 
			})</code></pre>

			<br>

			<h2>Type - Password</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "password" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "password" 
			})</code></pre>

			<br>

			<h2>Type - URL</h2>
			<p>The URL Input has access to the <code class="language-scss">:valid</code> and <code class="language-scss">:invalid</code> pseudo-classes.</p>
			<p>Only the <code class="language-scss">:invalid</code> pseudo-class is used as a visual indicator.</p>

			<div class="gs-present">
				@@include('./01-components/forms/_input-standard.html', {
					"type": "url" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
				"type": "url" 
			})</code></pre>

			<br>

			<h2>Type - Week</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "week" 
				})
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
				"type": "week" 
			})</code></pre>









			<br><br><br>

			<br>
			<br>

			<h2>Textarea</h2>
			<div class="gs-present">
				@@include('./01-components/forms/_textarea.html')
			</div>

			<pre><code class="gs-code language-html">@@include('./01-components/forms/_textarea.html')</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')

