@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Inputs - Common</h1>
				<p>Usage and implementation for Forms within Web Design Language.</p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Form elements will ensure rapid form development is a possibility.</p>
					<p>Strict markup will ensure all form elements are displayed correctly</p>
				</blockquote>
			</header>

			<h2 class="gs-stage__content__head-tag rc-head--subheadline">Examples</h2>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Button</label>
				</header>

				@@include('./01-components/forms/_input-value.html', {
					"type": "button",
					"value": "button"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
					"type": "button",
					"value": "button"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Checkbox (Custom)</label>
				</header>

				@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "checkbox"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "checkbox"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Date</label>
				</header>

				@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "date"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-no-placeholder.html', {
					"type": "date"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Email</label>
					<p>The Email Input has access to the <code class="language-scss">:valid</code> and <code class="language-scss">:invalid</code> pseudo-classes.</p>
					<p>Only the <code class="language-scss">:invalid</code> pseudo-class is used as a visual indicator.</p>
					<p>&nbsp;</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "email" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "email" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Number</label>
					<p>&nbsp;</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "number"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "number"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Radio (Custom)</label>
					<p>Custom Radio Inputs require a different structure.</p>
				</header>

				@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "radio"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-toggle-custom.html', {
					"type": "radio"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Search</label>
					<p>&nbsp;</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "search"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "search"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Submit</label>
				</header>

				@@include('./01-components/forms/_input-value.html', {
					"type": "submit",
					"value": "Submit"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-value.html', {
					"type": "submit",
					"value": "Submit"
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Text</label>
					<p>&nbsp;</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "text" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Password</label>
					<p>&nbsp;</p>
				</header>

				@@include('./01-components/forms/_input-standard.html', {
					"type": "password" 
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_input-standard.html', {
					"type": "password" 
				})</code></pre>
			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Type - Password another</label>
					<p>&nbsp;</p>
				</header>

				<span class="rc-input">
					<input id="id-password2" type="password" name="password2">
					<label for="id-password2"><span class="rc-label">Input type - password2</span></label>
				</span>

			</section>

			<section class="gs-present">
				<header>
					<label class="gs-present__label">Textarea</label>
					<p>&nbsp;</p>
				</header>

				@@include('./01-components/forms/_textarea.html', {
					"type": "textarea"
				})

				<pre><code class="gs-code language-html">@@include('./01-components/forms/_textarea.html', {
					"type": "textarea"
				})</code></pre>
			</section>

		</div>

		<section class="gs-section gs-changelog">
			<header>
				<h1 class="rc-head rc-head--subheadline gs-section__head">Changelog</h1>
			</header>

			<div class="gs-section__content">
				<ul class="list--blank list--align">
					@@loop("./_changelog-item.html", "./01-components/forms/_changelog.json")
				</ul>
			</div>
		</section>

		@@include('./_issues.html')

		@@include('./_feedback.html')
		
	</div>

</div>

@@include('./_site-footer.html')