@@include('./02-components/04-buttons/_button-class-data.html', {
	"class": "button--icon-arrow-down rc-tooltip--popout__trigger rc-tooltip__trigger",
	"data-key": "tooltip",
	"data-value": "rc-tooltip--1",
	"value": "Read Article"
})

<div class="rc-tooltip rc-tooltip--popout__popout" id="rc-tooltip--1" data-tooltip-follow="false">
	<div class="rc-tooltip__arrow"></div>

	<ul class="list--align list--blank">
		@@include("./02-components/13-miscellaneous/03-lists/_list-item-icon.html", {
	  	"text" : "Link example",
	    "class" : "list--icon list-icon--check",
	  	"link" : true,
	  	"active" : false
		})

		<li>
			@@include('./02-components/04-buttons/_button-class.html', {
				"class": "button--tertiary button--icon-search",
				"value": "Button example"
			})
		</li>
		<li>
			@@include('./02-components/04-buttons/_button-class.html', {
				"class": "button--tertiary button--icon-arrow-right",
				"value": "Button example"
			})
		</li>

		@@include("./02-components/13-miscellaneous/03-lists/_list-item-icon.html", {
	  	"text" : "Link example",
	    "class" : "list--icon list-icon--arrow-right",
	  	"link" : true,
	  	"active" : false
		})
	</ul>

</div>