.rc-progress {
  position: relative;

  .rc-progress__value {
    position: absolute;
    top: 0;
    margin-left: -3em;
    color: #FFFFFF;
    padding: .75em .5em;
    line-height: 1;
  }

  .rc-progress__value--outside {
    color: $rc-success;
    margin-left: 0;
  }

  .rc-progress__progressElem {
    border-radius: 50px;
    overflow: hidden;
  }

  progress[value] {
    position: relative;
    height: 2.5em;
    appearance: none;
    width: 100%;
    display: block;
    border: none;
    transition: width .2s ease-in-out;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #FFFFFF;
    border-radius: 50px;
    overflow: hidden;
    transition: width .2s ease-in-out;
  }

  progress[value]::-moz-progress-bar {
    background-color: $rc-success;
    border-radius: 50px;
    overflow: hidden;
    transition: width .4s ease-in-out;
  }

  progress::-ms-fill {
    border: none;
    background-color: $rc-success;
    border-radius: 50px;
    overflow: hidden;
    transition: width .4s ease-in-out;
  }

  progress[value]::-webkit-progress-value {
    background-color: $rc-success;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: width .4s ease-in-out;
  }

  // Fallback Styles
  // These don't seem to be applied when comma separated with progress element selectors
  .no-progressbar & {
    .rc-progress--fallback {
      position: relative;
      height: 2.5em;
    }

    .rc-progress--fallback__value, .rc-progress--fallback__bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .rc-progress--fallback__bar {
      background-color: #FFFFFF;
    }

    .rc-progress--fallback__value {
      background-color: $rc-success;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}