.rc-progress {
  position: relative;

  .rc-progress__value {
    position: absolute;
    top: 0;
    margin-left: -3em;
    color: #FFFFFF;
    padding: .75em .5em;
    line-height: 1;
  }

  .rc-progress__value--outside {
    color: $rc-success;
    margin-left: 0;
  }

  .rc-progress__progressElem {
    border-radius: 50px;
    overflow: hidden;
  }

  progress[value] {
    position: relative;
    height: 2.5em;
    appearance: none;
    width: 100%;
    display: block;
    border: none;
    transition: width .2s ease-in-out;
  }

  progress[value]::-webkit-progress-bar {
    background-color: #FFFFFF;
    border-radius: 50px;
    overflow: hidden;
    transition: width .2s ease-in-out;
  }

  progress[value]::-moz-progress-bar {
    background-color: $rc-success;
    border-radius: 50px;
    overflow: hidden;
    transition: width .4s ease-in-out;
  }

  progress::-ms-fill {
    border: none;
    background-color: $rc-success;
    border-radius: 50px;
    overflow: hidden;
    transition: width .4s ease-in-out;
  }

  progress[value]::-webkit-progress-value {
    background-color: $rc-success;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: width .4s ease-in-out;
  }

  // Fallback Styles
  // These don't seem to be applied when comma separated with progress element selectors
  .no-progressbar & {
    .rc-progress--fallback {
      position: relative;
      height: 2.5em;
    }

    .rc-progress--fallback__value, .rc-progress--fallback__bar {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .rc-progress--fallback__bar {
      background-color: #FFFFFF;
    }

    .rc-progress--fallback__value {
      background-color: $rc-success;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.rc-progress-stepped {
  text-align: center;

  ol {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  li {
    counter-increment: step-counter;
    float: left;

    button {
      border-radius: 100%;
      padding: 0;
      width: 2rem;
      height: 2rem;
      line-height: 1;
      background-color: $rc-light-grey;
      color: $rc-text;
      border: 4px solid transparent;

      &:before {
        content: counter(step-counter);
        border-radius: 100% !important;
      }
    }

    &:after {
      content: '';
      display: inline-block;
      position: relative;
      background-color: $rc-light-grey;
      width: .75rem;
      height: .2rem;
      top: -.2rem;
    }

    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }

  .complete {
    button {
      background-color: $rc-success;
      border-color: $rc-light-grey;
    }
  }

  li[disabled] {
    button {
      opacity: .5;
      cursor: not-allowed;
    }
  }

  @media ( min-width: 480px ) {
    li {
      button {
        width: 2.5rem;
        height: 2.5rem;

        &:before {
          font-size: 1.25em;
        }
      }
      &:after {
        width: 1.25rem;
        height: .3rem;
        top: -.1.5rem;
      }
    }
  }

  @media ( min-width: 640px ) {
    li {
      button {
        width: 3.5rem;
        height: 3.5rem;

        &:before {
          font-size: 1.25em;
        }
      }
      &:after {
        width: 2rem;
        height: .4rem;
        top: -.2rem;
      }
    }
  }
}
