<div class="rc-progress rc-progress1" data-value="@@value">
	<div class="rc-progress__markers">
		<div class="rc-progress__markers__marker rc-progress__markers__marker--start">@@min%</div>
		<div class="rc-progress__markers__marker rc-progress__markers__marker--end">@@max%</div>
	</div>

	<progress max="@@max" value="@@value" class="rc-progress__progressElem">
		<div class="rc-progress--fallback">
			<span class="rc-progress--fallback__bar"></span>
			<span class="rc-progress--fallback__value" style="width: @@value%;">Progress: @@value%</span>
		</div>
	</progress>
</div>

<br>

<button class="update-progress1">Click me to update progress</button>