@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<h1>Progress</h1>
			<p>The Progress element is used to display a known percentage between two values.</p>
			<p>If the browser does not support the <code class="language-html">&lt;progress&gt;</code> element <b>(IE9)</b>, then the fallback div will be shown instead.</p>

			<br>

			<div class="gs-present gs-present--white">
				@@include('./01-components/progress/_progress.html')
			</div>

			<br>

			<pre><code class="gs-code language-html">@@include('./01-components/progress/_progress.html')</code></pre>

		</div>
		
	</div>

</div>

@@include('./_site-footer.html')