@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content gs-stage__declaration">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">What is Web Design Language?</h1>
			</header>
			
			<section class="gs-present ">
				<header>
					<h4 class="color--black">"Web Design Language is a component based design system aimed at unifying the global digital style for the Royal Canin family."</h4>
				</header>
				
					<p>Royal Canin’s web design language is based on the principles of Atomic Design, a pioneering design approach authored by Brad Frost.</p>
					
					<p>It’s intended audience is Web Design, User Experience and Front End Developer professionals. This portal is intentionally written as a practical, technical resource to enable those professionals to work more efficiently and connect, in the common pursuit of better brand experiences online.</p>
					
					<p>This portal houses design comments, features and ‘UI Kits’ intended to provide clear guidance to professionals, both new and experience in working with the Royal Canin brand.</p>
					
					<img src="../assets/images/img-what-is-wdl.png" alt="What is Web Design Language?" class="gs-section__img">
					
			</section>

		</div>

	</div>

</div>

@@include('./_site-footer.html')