@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Influences</h1>
			</header>
			
			<section class="gs-present">
				<header>
					<p>This portal is inspired by organisations leading this thinking like Google, Lonely Planet and the BBC. There atomic deign approaches are pioneering the future and present of web deign, taking the common challenges of design consistency, efficiency and feedback loops.</p>
					
					<p>By adopting this approach to web design, the Royal Canin brand joins this group of pioneering  brands in the pursuit of delivering better user experiences, and more efficient design collaboration.</p>
				</header>
			</section>

		</div>

	</div>

</div>

@@include('./_site-footer.html')