@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Component Based Design</h1>
				<p></p>

				<blockquote class="gs-stage__content__intro">
					<h2 class="rc-head rc-head--subheadline">Introduction</h2>
					<p>Component Based Design Copy</p>
				</blockquote>
			</header>

		</div>

	</div>

</div>

@@include('./_site-footer.html')