@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Implementation</h1>
			</header>
			
			<section class="gs-present">
				<header>
					<p>The methodology of Component Based Design offers each individual component is available to implement solely on it’s own, or as part of a larger update process. We understand that every market is different and will have their own agenda for roll out so we’ve made it as easy as possible to implement Components & Features based on the following guidelines.</p>
				</header>
				
				<p><b>Wireframe Kit</b></p>
				
				<p>The Web Design Language begins with a Wireframe Kit. The Wireframe Kit has been developed for Sketch and Photoshop(coming soon) as a starting point for any future UX design project. The Wireframe Kit aims to give the designer a consistent set of base components to ensure they can create a consistent set of wireframes ready for prototyping or turning into full page designs.</p>
				
				<p>To download the Wireframe kit visit the <a href="/04-kits/wireframe-kit.html">download page</a> where you can download the files and view the changelog.</p>
				
				<p>To receive notifications when there are updates to the Wireframe kit <a href="/05-register/register.html">register </a>.</p>
				
				<p><b>UI Kit</b></p>
				
				<p>Following on from the Wireframe Kit the UI Kit gives the user a further enhanced set of designed components. The UI Kit has been developed for Sketch and Photoshop(coming soon) as a starting point for web design projects. The UI Kit aims to give the designer a set of base components to ensure they can create a consistent set of page designs and high fidelity prototype.</p>
				
				<img src="../assets/images/img-colours.png" alt="UI Kit" class="gs-section__img">
				
				<p>To download the UI kit visit the <a href="/04-kits/ui-kit.html">download page</a> where you can download the files and view the changelog.</p>
				
				<p>To receive notifications when there are updates to the UI kit please <a href="/05-register/register.html">register</a>.</p>
				
				<p><b>HTML markup</b></p>
				
				<p>The Web Design Language portal makes all base components and features available ready to be added to your existing or new website. Components are categorised into groups where multiple options or modifiers are available where relevant pages give the required markup.</p>
				
				<img src="../assets/images/img-markup.png" alt="HTML Markup" class="gs-section__img">
				
				<p>The image above shows an example standard primary call to action and the required markup. To implement this call to action the markup can be copied into your project and the required stylesheet referenced to ensure the styles are present.</p>
				
				<p><b>Styling</b></p>
				
				<p>To ensure delivery performance is optimised for components and features the styling assets are hosted on Content Delivery Network (CDN).</p>
				
				<p>To add the stylesheet to your website simply visit the <a href="#">styling page</a> for instructions on how to embed the referenced file to your site.</p>
				
				<p>To ensure complete transparency and compatibility the CDN file will be versioned with a changelog detailing minor and major updates and all versions available.</p>
				
			</section>

		</div>

	</div>

</div>

@@include('./_site-footer.html')