@@include('./_site-header.html')

<div class="gs-stage">

	<div class="gs-stage__inner">

		<div class="gs-stage__content">

			<header class="gs-stage__content__header">
				<h1 class="gs-stage__content__head-tag">Feedback & Issues</h1>
			</header>

			<section class="gs-present">
				<header>
					<p>Royal Canin understand that as local markets are implementing Web Design Language features there may be issues that arise or feedback from users. Issue raising and feedback handling are documented below.</p>
				</header>
				
				<p><b>Issues</b></p>
				
				<p>Issues will be handled via Github issues and will aim to offer each developer the chance to review and feed into the code by raising an issue that if deemed valid will be merged into the main code base.</p>
				
				<img src="../assets/images/img-issues.png" alt="Github Issues" class="gs-section__img">
				
				<p><a href="//guides.github.com/features/issues/" target="_blank">Read more</a> about raising a Github Issue.</p>
				
				<p><b>Feedback</b></p>
				
				<p>Design or development feedback is handled by a dedicated Slack channel. Feedback might consist of an icon that doesn’t exist in the Web Design Language that you have created and think might be a good inclusion, or if a component doesn’t look right with certain content.</p>
				
				<img src="../assets/images/img-slack.png" alt="Slack Feedback Channel" class="gs-section__img">
				
				<p><a href="//slack.com/is" target="_blank">Read more</a> about the power of Slack.</p>
				
			</section>
		
		</div>

	</div>

</div>

@@include('./_site-footer.html')