<div class="rc-tabs">

	<ul class="list--blank list--align rc-tabs__triggers">
		<li>
			<button class="rc-tabs__triggers__trigger" data-tab="rc-tab__1">Button</button>
		</li>

		<li>
			<button class="rc-tabs__triggers__trigger" data-tab="rc-tab__2">Button</button>
		</li>

		<li>
			<button class="rc-tabs__triggers__trigger" data-tab="rc-tab__3">Button</button>
		</li>

		<li>
			<button class="rc-tabs__triggers__trigger" data-tab="rc-tab__4">Button</button>
		</li>

		<li>
			<button class="rc-tabs__triggers__trigger" data-tab="rc-tab__5">Button</button>
		</li>

	</ul>
	
	<div class="rc-tabs__content">
		
		<div class="rc-tabs__content__single clearfix" id="rc-tab__1">
			<div class="rc-grid">
				<div class="rc-col rc-col--50">
					<img src="/assets/images/img-article.png" alt="Hello">
				</div>
				<div class="rc-col rc-col--50">
					<h4 class="color--black">Content One</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<button class="button--secondary button--full--width--mobile">Read Article</button>
				</div>
			</div>
		</div>

		<div class="rc-tabs__content__single clearfix" id="rc-tab__2">
			<div class="rc-grid">
				<div class="rc-col rc-col--100">
					<h4 class="color--black">Content Two</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<button class="button--secondary button--full--width--mobile">Read Article</button>
				</div>
			</div>
		</div>

		<div class="rc-tabs__content__single clearfix" id="rc-tab__3">
			<div class="rc-grid">
				<div class="rc-col rc-col--50">
					<img src="/assets/images/img-article.png" alt="Hello">
				</div>
				<div class="rc-col rc-col--50">
					<h4 class="color--black">Content Three</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<button class="button--secondary button--full--width--mobile">Read Article</button>
				</div>
			</div>
		</div>

		<div class="rc-tabs__content__single clearfix" id="rc-tab__4">
			<div class="rc-grid">
				<div class="rc-col rc-col--100">
					<h4 class="color--black">Content Four</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<button class="button--secondary button--full--width--mobile">Read Article</button>
				</div>
			</div>
		</div>

		<div class="rc-tabs__content__single clearfix" id="rc-tab__5">
			<div class="rc-grid">
				<div class="rc-col rc-col--50">
					<img src="/assets/images/img-article.png" alt="Hello">
				</div>
				<div class="rc-col rc-col--50">
					<h4 class="color--black">Content Five</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<button class="button--secondary button--full--width--mobile">Read Article</button>
				</div>
			</div>
		</div>
	</div>
</div>
