<form>
	<div class="positioning-class">
		<label for="id-@@type">Input Label</label>
		<input id="id-@@type" type="@@type" name="@@type" placeholder="Placeholder...">
	</div>

	<ul class="positioning-class list--blank list--align">
		<li>
			<input id="checkbox-1" type="checkbox" name="checkbox">
			<label for="checkbox-1">Input Label</label>
		</li>

		<li>
			<input id="checkbox-2" type="checkbox" name="checkbox">
			<label for="checkbox-2">Input Label</label>
		</li>

		<li>
			<input id="checkbox-3" type="checkbox" name="checkbox">
			<label for="checkbox-3">Input Label</label>
		</li>
	</ul>
</form>