<div class="rc-input--custom @@class">
	<input id="id-custom-@@type--@@target" type="@@type" name="@@type" value="input-label">
	<label for="id-custom-@@type--@@target">Input Label</label>
</div>

<div class="rc-input--custom @@class">
	<input id="id-custom-@@type-2--@@target" type="@@type" name="@@type" value="input-label" checked>
	<label for="id-custom-@@type-2--@@target">Input Label</label>
</div>

<div class="rc-input--custom @@class">
	<input id="id-custom-@@type-3--@@target" type="@@type" name="@@type" value="input-label">
	<label for="id-custom-@@type-3--@@target">Input Label</label>
</div>